<div class="modal-body row  d-flex align-items-center gap-3 " th:fragment="cl2PgList(clt_total, clt_list, mode)">
		 <!-- 검색창 영역 -->
		  <div class="d-flex justify-content-end mb-2">
		      <div class="col-auto">
		        <div class="input-group input-group-sm">
		          <input type="text" class="form-control" placeholder="회사명/회사코드로 검색" id="keyword" name="keyword" th:value="${keyword}" onkeyup="MdSearch(event,'cltMd2')">
		          <button class="btn btn-primary"  type="button" onclick="MdSearchBtn('cltMd2')">
		            <i class="bi bi-search"></i>
		          </button>
		        </div>
		      </div>
		  </div>
		  
		  <!-- 테이블 영역 -->
		<div th:replace="~{/client/client2_list.html :: client2List(${clt_total}, ${clt_list}, 'modal')}" ></div>
		
		<!-- 페이징 -->
		<div th:replace="~{/client/client2_list.html :: client2PgList('clt_pageing')}" ></div>
      </div>
