<div class="modal fade"  id="client_detail_md"  tabindex="-1" aria-labelledby="client_detail_md_label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable 	modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">거래처 상세보기</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body row justify-content-center d-flex gap-3">
		<!-- 회사로고 -->
		<div class="col-md-4 text-center comp_logo mt-4">
			<th:block>
			<img th:if="${client_one.COM_API_FNM == null}" src="./img/no-image.svg" alt="회사 로고" class="img-fluid border" style="width: 100%; height: 100%;">
			<img th:if="${client_one.COM_API_FNM != null}" th:src="@{'http://noerror.nnyong.world/imgfile/' + ${client_one.COM_FILE_RENM}}"  alt="회사 로고" class="img-fluid border" style="width: 100%; height: 100%;">
			</th:block>
		</div>

		<!-- 거래처 정보 -->
		<div class="col-md-8">
			<div id="table-container" class="table-responsive  rounded">
			<h4>[[${client_one.CLIENT_TYPE}]]&nbsp;정보</h4>
				<table class="table align-middle table-bordered ">
					<tr>
						<td class="info-label"> 거래처 코드 </td>
						<td class="value-cell"> [[${client_one.COMPANY_CODE}]] </td>
						<td class="info-label"> 회사명 </td>
						<td class="value-cell"> [[${client_one.COMPANY_NAME}]] </td>
					</tr>
					<tr>
						<td class="info-label">대표자명</td>
						<td class="value-cell">[[${client_one.CEO_NAME}]]</td>
						<td class="info-label">사업자번호</td>
						<td class="value-cell">[[${client_one.BIZ_NUM}]]</td>
					</tr>
					<tr>
						<td class="info-label">업종</td>
						<td class="value-cell">[[${client_one.BIZ_TYPE}]]</td>
						<td class="info-label">종목</td>
						<td class="value-cell">[[${client_one.BIZ_ITEM}]]</td>
					</tr>
					<tr>
						<td class="info-label">주소</td>
						<td class="value-cell" colspan="3">( [[${client_one.COM_ZIP}]] ) [[${client_one.COM_ADDR1}]] [[${client_one.COM_ADDR2}]]</td>
					</tr>
					<tr>
						<td class="info-label">사용여부</td>
						<td class="value-cell">[[${client_one.COM_USE_FLAG}]]</td>
						<td class="info-label">등록일 </td>
						<td class="value-cell">[[${client_one.COM_INSERT_DATE.substring(0,10)}]]</td>
					</tr>
					<tr>
						<td class="info-label">비고</td>
						<td class="value-cell" colspan="3">[[${client_one.COM_MEMO}]]</td>
					</tr>
				</table>
				
				
			</div>
			<hr>
			<div class="table-responsive  rounded">
			<h4>담당자 정보</h4>
				<table class="table align-middle table-bordered">
					<tr>
						<td class="info-label"> 담당자 코드 </td>
						<td class="value-cell"> [[${client_one.MANAGER_CODE}]] </td>
						<td class="info-label"> 담당자명 </td>
						<td class="value-cell"> [[${client_one.MANAGER_NAME}]] </td>
					</tr>
					<tr>
						<td class="info-label">이메일</td>
						<td class="value-cell">[[${client_one.MNG_EMAIL}]]</td>
						<td class="info-label">직통번호</td>
						<td class="value-cell">[[${client_one.MNG_TEL}]]</td>
					</tr>
					<tr>
						<td class="info-label">팩스번호</td>
						<td class="value-cell">[[${client_one.MNG_FAX}]]</td>
						<td class="info-label">휴대폰번호</td>
						<td class="value-cell">[[${client_one.MNG_PHONE}]]</td>
					</tr>
					<tr>
						<td class="info-label"> 부서 / 직급 </td>
						<td class="value-cell">[[${client_one.MNG_PART}]] / [[${client_one.MNG_POSITION}]]</td>
						<td class="info-label"></td>
						<td class="value-cell"></td>
					</tr>
					<tr>
						<td class="info-label">비고</td>
						<td class="value-cell" colspan="3">[[${client_one.MNG_MEMO}]]</td>
					</tr>
				</table>
				
				
			</div>
		</div>
	</div>
      <div class="modal-footer">
       <!-- Action Buttons -->
        <div class="d-flex gap-2"> 
            <div class="ms-auto">
                <button type="button"  class="btn btn-success" 
                		th:attr="data-cltcode=${client_one.COMPANY_CODE}, data-cidx=${client_one.CIDX}" onclick="cltModify(this)"><i class="bi bi-pencil-square"></i> 수정</button>
                <button class="btn btn-danger" th:data-code="${client_one.COMPANY_CODE}" th:data-idx="${client_one.CIDX}" data-type="client"  onclick="deleteCltBtn(this)"><i class="bi bi-trash"></i> 삭제</button>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>