<div class="modal fade" id="emp_list" tabindex="-1" aria-labelledby="emp_list_label" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable 	modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">관리자 리스트</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body row justify-content-center d-flex gap-3">
				<!-- Client List Table -->
				<div class="table-responsive  rounded">
					<table class="table table-hover align-middle table-bordered">
						<thead class="table-light">
							<tr>
								<th scope="col"><input type="checkbox"></th>
								<th scope="col">#</th>
								<th scope="col">직원명</th>
								<th scope="col">사원코드</th>
								<th scope="col">부서</th>
								<th scope="col">직급</th>
								<th scope="col">휴대폰번호</th>
								<th scope="col">전화번호</th>
								<th scope="col">이메일</th>
								<th scope="col">팩스번호</th>
								<th scope="col">비고</th>
							</tr>
						</thead>
						<tbody>
							<tr style="cursor: pointer;" th:each="emp , bno : ${employees}"> 
								<td><input type="checkbox"></td>
								<td>[[${bno.count}]]</td>
								<td>[[${emp.ENAME}]]</td>
								<td>[[${emp.ECODE}]]</td>
								<td>[[${emp.EPART}]]</td>
								<td>[[${emp.EPOSITION}]]</td>
								<td>[[${emp.EPHONE}]]</td>
								<td>[[${emp.ETEL}]]</td>
								<td>[[${emp.EEMAIL}]]</td>
								<td>[[${emp.EFAX}]]</td>
								<td>[[${emp.MEMO}]]</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
       <!-- Action Buttons -->
        <div class="d-flex gap-2"> 
            <div class="ms-auto">
                <button type="button"  class="btn btn-success"><i class="bi bi-pencil-square"></i> 선택</button>
            </div>
        </div>

      </div>
		</div>
	</div>
</div>