<div class="modal-body row  d-flex align-items-center gap-3 " th:fragment="itmMdList(parentType, items_total, items_list, mode)">
		 <!-- 검색창 영역 -->
		  <div class="d-flex justify-content-end mb-2">
		      <div class="col-auto">
		        <div class="input-group input-group-sm">
		          <input type="text" class="form-control" id="keyword" name="keyword" th:value="${keyword}" placeholder="제품명/제품코드로 검색" onkeyup="MdSearch(event, 'itmMd')">
		          <button class="btn btn-primary" type="button" onclick="MdSearchBtn('itmMd')">
		            <i class="bi bi-search"></i>
		          </button>
		        </div>
		      </div>
		  </div>
		  
		  <!-- 테이블 영역 -->
		<div th:replace="~{/goods/items_list.html :: itemList(${parentType}, ${items_total}, ${items_list},'modal')}"></div>
		
		<!-- 페이징 -->
		<div th:replace="~{/goods/items_list.html :: itemPgList(${parentType}, 'itmPageing')}" ></div>
      </div>

