<div class="modal fade" id="ord_modal" tabindex="-1" aria-labelledby="pd_detail_label" aria-hidden="true" th:fragment="ordDetail" >
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable 	modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="pd_detail_label">주문 상세보기</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body row justify-content-center d-flex gap-3">
				<div
					class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-2">
					<h2 class="mb-1">주문번호 : [[${details[0].order_code}]]</h2>
					<div class="d-flex align-items-center gap-2">
						<!-- 주문코드를 data 속성에 저장 -->
						<select class="form-select" id="modal-status-select"
							style="max-width: 150px;"
							th:if="${details[0].order_status == '주문요청' or details[0].order_status == '주문확인' or details[0].order_status == '주문취소'}" 
							th:attr="data-order-code=${details[0].order_code}"
							th:disabled="${#arrays.contains(no_chng_ordBtn, #strings.trim(details[0].order_status))}" >
							<option selected value="주문상태 선택">주문상태 선택</option>
<!-- 							<option value="주문요청">주문요청</option> -->
							<option value="주문확인" th:selected="${details[0].order_status == '주문확인'}">주문확인</option>
							<option value="주문취소" th:selected="${details[0].order_status == '주문취소'}">주문취소</option>
<!-- 							<option value="생산계획수립" th:selected="${details[0].order_status == '생산계획수립'}">생산계획수립</option> -->
<!-- 							<option value="생산계획확정" th:selected="${details[0].order_status == '생산계획확정'}">생산계획확정</option> -->
<!-- 							<option value="지연중">생산지연</option> -->
<!-- 							<option value="생산중">생산중</option> -->
<!-- 							<option value="생산완료">생산완료</option> -->
<!-- 							<option value="출고완료">출고완료</option> -->
<!-- 							<option value="반품">반품</option> -->
						</select>
						<select class="form-select" th:disabled="${#arrays.contains(no_chng_ordBtn, #strings.trim(details[0].order_status))}"  th:if="${details[0].order_status == '생산계획수립' or details[0].order_status == '생산계획확정'}">
							<option value="생산계획수립" th:selected="${details[0].order_status == '생산계획수립'}">생산계획수립</option>
							<option value="생산계획확정" th:selected="${details[0].order_status == '생산계획확정'}">생산계획확정</option>
						</select>

						<button type="button" class="btn " style="white-space: nowrap;" 
    							th:disabled="${#arrays.contains(no_chng_ordBtn, #strings.trim(details[0].order_status))}" 
       			  	  			th:classappend="${#arrays.contains(no_chng_ordBtn, #strings.trim(details[0].order_status))} ? ' btn-secondary' : 'btn-info'" 
    							onclick="ord_status_update()">
							<i class="bi bi-arrow-bar-right"></i> 변경
						</button>
					</div>
				</div>
				<div class="table-responsive  rounded">
					<table class="table table-bordered align-middle">
						<thead class="table-light text-center">
							<tr>
								<th class="info-label table-light" colspan="5">주문처 정보</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="info-label">회사명</td>
								<td class="value-cell" colspan="4">[[${details[0].company_name}]]</td>
							</tr>
							<tr>
								<td class="info-label">사업자번호</td>
								<td class="value-cell">[[${details[0].biz_num}]]</td>
								<td class="info-label">대표자</td>
								<td class="value-cell" colspan="2">[[${details[0].ceo_name}]]</td>
							</tr>
							<tr>
								<td class="info-label">담당자</td>
								<td class="value-cell">[[${details[0].manager_name}]]</td>
								<td class="info-label">연락처</td>
								<td class="value-cell" colspan="2">[[${details[0].mng_phone}]]</td>
							</tr>
							<tr>
								<td class="info-label">주소</td>
								<td class="value-cell" colspan="5">[[${details[0].com_addr1 +
									details[0].com_addr2}]]</td>
							</tr>
						</tbody>
					</table>

				</div>

				<div class="table-responsive  rounded">
					<h5 class="">주문정보</h5>
					<table class="table align-middle table-bordered">
						<tr>
							<td class="info-label">주문번호</td>
							<td class="value-cell">[[${details[0].order_code}]]</td>
							<td class="info-label">주문상태</td>
							<td class="value-cell">[[${details[0].order_status}]]</td>
						</tr>
						<tr>
							<td class="info-label">주문일자</td>
							<td class="value-cell">[[${details[0].request_date.substring(0,10)}]]</td>
							<td class="info-label">납기요청일</td>
							<td class="value-cell">[[${details[0].due_date.substring(0,10)}]]</td>
						</tr>
						<tr>
							<td class="info-label">결제 금액</td>
							<td class="value-cell">[[${#numbers.formatDecimal(details[0].pay_amount,
								0, 'COMMA', 0, 'POINT')}]] 원</td>
							<td class="info-label">결제 수단</td>
							<td class="value-cell">[[${details[0].pay_method}]]</td>
						</tr>
						<tr>
							<td class="info-label">주문 담당자</td>
							<td class="value-cell">[[${details[0].ename}]]</td>
							<td class="info-label"></td>
							<td class="value-cell"></td>
						</tr>
						<tr>
							<td class="info-label">비고</td>
							<td class="value-cell" colspan="3">[[${details[0].memo}]]</td>
							<!-- 						<td class="info-label"></td> -->
							<!-- 						<td class="value-cell"></td> -->
						</tr>
					</table>
				</div>

				<!-- 주문항목 List Table -->
				<div class="table-responsive  rounded">
					<h5 class="">주문 제품 내역</h5>
					<table class="table table-hover align-middle table-bordered text-center">
						<thead class="table-light">
							<tr>
								<th scope="col">#</th>
								<th scope="col">제품코드</th>
								<th scope="col">제품명</th>
								<th scope="col">대분류</th>
								<th scope="col">소분류</th>
								<th scope="col">규격</th>
								<th scope="col">주문수량</th>
								<th scope="col">현재재고</th>
								<th scope="col">단위</th>
								<th scope="col">제품단가(원)</th>
								<th scope="col">구매금액(원)</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="d, no : ${details}">
								<td>[[${no.count}]]</td>
								<td>[[${d.product_code}]]</td>
								<td>[[${d.product_name}]]</td>
								<td>[[${d.product_class1}]]</td>
								<td>[[${d.product_class2}]]</td>
								<td>[[${d.product_spec}]]</td>
								<td>[[${#numbers.formatDecimal(d.product_qty, 0,
									'COMMA', 0, 'POINT')}]]</td>
								<td>[[${ind_pd_all_stock[d.product_code] == null ? 0 : ind_pd_all_stock[d.product_code]}]] 
									<span th:classappend="${((ind_pd_all_stock[d.product_code] ?: 0) - d.product_qty ) < 0} ? 'text_red' : 'text_blue'">&nbsp;( [[${((ind_pd_all_stock[d.product_code] ?: 0) - d.product_qty)}]] )</span>
								</td>
								<td>[[${d.product_unit}]]</td>
								<td align="right">[[${#numbers.formatDecimal(d.product_cost,
									0, 'COMMA', 0, 'POINT')}]]</td>
								<td align="right">[[${#numbers.formatDecimal(d.product_qty *
									d.product_cost, 0, 'COMMA', 0, 'POINT')}]]</td>
							</tr>

						</tbody>
						<tfoot>
							<tr>
								<td class="info-label" colspan="10">합계</td>
<!-- 								<td></td> -->
<!-- 								<td></td> -->
<!-- 								<td></td> -->
<!-- 								<td></td> -->
<!-- 								<td></td> -->
<!-- 								<td></td> -->
<!-- 								<td></td> -->
								<td align="right">[[${#numbers.formatDecimal(details[0].pay_amount,
									0, 'COMMA', 0, 'POINT')}]]</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div
					class="d-flex flex-column flex-md-row align-items-md-center justify-content-end mb-4">
					<!-- 				Action Buttons -->
					<div class="mt-4 d-flex gap-2">
						<div class="ms-auto">
							<th:block th:if="${details[0].order_status == '주문요청'}">
								<a th:href="@{/ordreq_update.do(code=${details[0].order_code})}"
									class="btn btn-success"> <i class="bi bi-pencil-square"></i>
									수정
								</a>
							</th:block>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
