<div class="modal-body row  d-flex align-items-center gap-3 " th:fragment="ordMdList(parentType, ord_list, mode)">
		 <!-- 검색창 영역 -->
		  <div class="d-flex justify-content-end mb-2">
		      <div class="col-auto">
		        <div class="input-group input-group-sm">
		          <input type="text" class="form-control" placeholder="제품명/제품코드로 검색">
		          <button class="btn btn-primary"  type="button">
		            <i class="bi bi-search"></i>
		          </button>
		        </div>
		      </div>
		  </div>

		  
		  <!-- 테이블 영역 -->
		<div th:replace="~{/production/order_list.html :: ordModalList(${parentType}, ${ord_list}, 'modal')}" ></div>
		
		<!-- 페이징 -->
		<div th:replace="~{/production/order_list.html :: ordPgList(${parentType}, 'ordPageing')}" ></div>

      </div>
