<div class="modal fade" id="prdplan_modal" tabindex="-1" aria-labelledby="prdplan_detail_label" aria-hidden="true" th:fragment="prdplanDetail" >
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable 	modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="prdplan_detail_label">생산계획 상세보기</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body row justify-content-center d-flex gap-3">
				<div
					class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-2">
					<h2 class="mb-1">생산계획번호 : [[${details[0].plan_code}]]</h2>
					<div class="d-flex align-items-center gap-2">
						<!-- 생산계획코드를 data 속성에 저장 -->
						<select class="form-select" id="modal-status-select"
							style="max-width: 150px;"
							th:attr="data-plan-code=${details[0].plan_code}" th:disabled="${details[0].plan_status == '생산완료'}">
							<option value="발주상태 선택">생산상태 선택</option>
<!-- 							<option value="생산계획수립">생산계획수립</option> -->
							<option value="생산계획확정"  th:if="${details[0].plan_status == '생산계획수립'}">생산계획확정</option>
							<option value="생산중"  th:if="${details[0].plan_status == '생산계획수립' or details[0].plan_status == '생산계획확정'}">생산중</option>
							<option value="생산완료"  th:if="${#arrays.contains(no_chng_plnBtn, #strings.trim(details[0].plan_status))}" th:selected="${details[0].plan_status == '생산완료'}">생산완료</option>
							<option value="생산지연" >생산지연</option>
						</select>
						
						<button type="button" class="btn"  
									th:classappend="${details[0].plan_status == '생산완료'} ? ' btn-secondary' : ' btn-info'"
    								th:disabled="${details[0].plan_status == '생산완료'}"
									style="white-space: nowrap;" onclick="plan_status_update()">
							<i class="bi bi-arrow-bar-right"></i> 변경
						</button>
					</div>
				</div>
				<div class="table-responsive  rounded">
					<table class="table table-bordered align-middle">
						<thead class="table-light text-center">
							<tr>
								<th class="info-label table-light" colspan="5">주문코드 및 주문업체 정보</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="info-label" style="width:25%;">주문코드</td>
								<td class="value-cell" style="width:25%;" th:text="${details[0].order_code != null} ? ${details[0].order_code} : '재고생산건'">[[${details[0].order_code}]]</td>
								<td class="info-label" style="width:25%;">회사명</td>
								<td class="value-cell"  style="width:25%;" colspan="2" th:text="${details[0].company_name != null} ? ${details[0].company_name} : '-'">>[[${details[0].company_name}]]</td>
							</tr>
							<tr>
								<td class="info-label">사업자번호</td>
								<td class="value-cell"th:text="${details[0].biz_num != null} ? ${details[0].biz_num} : '-'" >[[${details[0].biz_num}]]</td>
								<td class="info-label">대표자</td>
								<td class="value-cell" colspan="2" th:text="${details[0].ceo_name != null} ? ${details[0].ceo_name} : '-'">[[${details[0].ceo_name}]]</td>
							</tr>
							<tr>
								<td class="info-label">담당자</td>
								<td class="value-cell" th:text="${details[0].manager_name != null} ? ${details[0].manager_name} : '-'">[[${details[0].manager_name}]]</td>
								<td class="info-label">연락처</td>
								<td class="value-cell" colspan="2" th:text="${details[0].mng_phone != null} ? ${details[0].mng_phone} : '-'">[[${details[0].mng_phone}]]</td>
							</tr>
							<tr>
								<td class="info-label">주소</td>
								<td class="value-cell" colspan="5" th:text="${details[0].company_name != null} ? ${details[0].com_addr1 +
									details[0].com_addr2} : '-'">[[${details[0].com_addr1 +
									details[0].com_addr2}]]</td>
							</tr>
						</tbody>
					</table>

				</div>

				<div class="table-responsive  rounded">
					<h5 class="">생산계획정보</h5>
					<table class="table align-middle table-bordered">
						<tr>
							<td class="info-label">생산계획코드</td>
							<td class="value-cell">[[${details[0].plan_code}]]</td>
							<td class="info-label">생산상태</td>
							<td class="value-cell">[[${details[0].plan_status}]]</td>
						</tr>
						<tr>
							<td class="info-label">주문납기일</td>
							<td class="value-cell" th:text="${details[0].due_date != null} ? ${details[0].due_date.substring(0,10)} : '-'">[[${details[0].due_date.substring(0,10)}]]</td>
							<td class="info-label">우선순위</td>
							<td class="value-cell">[[${details[0].priority}]]</td>
						</tr>
						<tr>
							<td class="info-label">생산시작예정일자</td>
							<td class="value-cell">[[${details[0].start_date.substring(0,10)}]]</td>
							<td class="info-label">생산종료예정일자</td>
							<td class="value-cell">[[${details[0].end_date.substring(0,10)}]]</td>
						</tr>
						<tr>
							<td class="info-label">발주 담당자</td>
							<td class="value-cell">[[${details[0].ename}]]</td>
							<td class="info-label"></td>
							<td class="value-cell"></td>
						</tr>
						<tr>
							<td class="info-label">비고</td>
							<td class="value-cell" colspan="3">[[${details[0].memo}]]</td>
							<!-- 						<td class="info-label"></td> -->
							<!-- 						<td class="value-cell"></td> -->
						</tr>
					</table>
				</div>

				<!-- 주문항목 List Table -->
				<div class="table-responsive  rounded">
					<h5 class="">생산 제품 내역</h5>
					<table class="table table-hover align-middle table-bordered text-center">
						<thead class="table-light ">
							<tr>
								<th scope="col">#</th>
								<th scope="col">제품코드</th>
								<th scope="col">제품명</th>
								<th scope="col">제품규격</th>
								<th scope="col">제품단위</th>
								<th scope="col">생산수량</th>
<!-- 								<th scope="col">BOM코드</th> -->

							</tr>
						</thead>
						<tbody>
							<tr th:each="d, no : ${details}">
								<td>[[${no.count}]]</td>
								<td>[[${d.product_code}]]</td>
								<td>[[${d.product_name}]]</td>
								<td>[[${d.product_spec}]]</td>
								<td>[[${d.product_unit}]]</td>
								<td >[[${#numbers.formatDecimal(d.product_qty, 0,
									'COMMA', 0, 'POINT')}]]</td>
<!-- 								<td>[[${d.bom_code}]]</td> -->
							</tr>

						</tbody>
					</table>
				</div>
				<div
					class="d-flex flex-column flex-md-row align-items-md-center justify-content-end mb-4">
					<!-- 				Action Buttons -->
					<div class="mt-4 d-flex gap-2">
						<div class="ms-auto">
							<th:block th:if="${details[0].plan_status == '생산계획수립'}">
								<a
									th:href="@{/prdplan_update.do(code=${details[0].plan_code})}"
									class="btn btn-success"> <i class="bi bi-pencil-square"></i>
									수정
								</a>
							</th:block>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
