<div class="modal-body row justify-content-center d-flex gap-3" th:fragment="pdMdList2(parentType, pd_total, pd_list, mode)">
					 <!-- 검색창 영역 -->
		  <div class="d-flex justify-content-end mb-2">
		    <form class="row g-2 align-items-center ">
		      <div class="col-auto">
		        <div class="input-group input-group-sm">
		          <input type="text" class="form-control" placeholder="검색어를 입력하세요">
		          <button class="btn btn-primary">
		            <i class="bi bi-search"></i>
		          </button>
		        </div>
		      </div>
		    </form>
		  </div>
				
				  <!-- 테이블 영역 -->
				<!-- Client List Table -->
				<div class="table-responsive  rounded">
					<table class="table table-hover align-middle table-bordered">
						<thead class="table-light">
							<tr>
								<th scope="col"><input type="checkbox"></th>
								<th scope="col">#</th>
								<th scope="col">제품코드</th>
								<th scope="col">제품명</th>
								<th scope="col">대분류</th>
								<th scope="col">소분류</th>
								<th scope="col">규격</th>
								<th scope="col">단위</th>
								<th scope="col">제품원가(원)</th>
								<th scope="col">판매가(원)</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="p , no : ${products}"
							    th:attr="data-code=${p.PRODUCT_CODE},
							             data-name=${p.PRODUCT_NAME},
							             data-class1=${p.PRODUCT_CLASS1},
							             data-class2=${p.PRODUCT_CLASS2},
							             data-spec=${p.PRODUCT_SPEC},
							             data-unit=${p.PRODUCT_UNIT},
							             data-cost=${p.PRODUCT_COST},
							             data-price=${p.PRODUCT_PRICE}"
							    style="cursor: pointer;">
								<td><input type="checkbox" name="product_check"></td>
								<td>[[${bno - no.index}]]</td>
								<td>[[${p.PRODUCT_CODE}]]</td>
								<td>[[${p.PRODUCT_NAME}]]</td>
								<td>[[${p.PRODUCT_CLASS1}]]</td>
								<td>[[${p.PRODUCT_CLASS2}]]</td>
								<td>[[${p.PRODUCT_SPEC}]]</td>
								<td>[[${p.PRODUCT_UNIT}]]</td>
								<td>[[${p.PRODUCT_COST}]]</td>
								<td>[[${p.PRODUCT_PRICE}]]</td>
							</tr>
						</tbody>
					</table>
				</div>
				
		<!-- 페이징 -->
		<div th:replace="~{/goods/products_list.html :: productPgList(${parentType}, 'pd_pageing')}" ></div>
	</div>
			
		
		
      <div class="modal-footer">
       <!-- Action Buttons -->
        <div class="d-flex gap-2"> 
            <div class="ms-auto">
                <button type="button" class="btn btn-success" onclick=""><i class="bi bi-pencil-square"></i> 선택</button>
               
            </div>
        </div>
</div>
