<div class="modal-body row  d-flex align-items-center gap-3 " th:fragment="pdMdList(parentType, pd_total, pd_list, mode)">
		 <!-- 검색창 영역 -->
		  <div class="d-flex justify-content-end mb-2">
		      <div class="col-auto">
		        <div class="input-group input-group-sm">
		          <input type="text" class="form-control"  id="keyword" name="keyword" th:value="${keyword}" placeholder="제품명/제품코드로 검색" onkeyup="MdSearch(event)">
		          <button class="btn btn-primary"  type="button"  onclick="MdSearchBtn('pdMd')">
		            <i class="bi bi-search"></i>
		          </button>
		        </div>
		      </div>
		  </div>
		  
		  <!-- 테이블 영역 -->
		<div th:replace="~{/goods/products_list.html :: productList(${parentType}, ${pd_total}, ${pd_list}, 'modal')}" ></div>
		
		<!-- 페이징 -->
		<div th:replace="~{/goods/products_list.html :: productPgList(${parentType}, 'pd_pageing')}" ></div>
		
		
      </div>
      <div class="modal-footer">
       <!-- Action Buttons -->
        <div class="d-flex gap-2"> 
            <div class="ms-auto">
                <button type="button" class="btn btn-success" onclick=""><i class="bi bi-pencil-square"></i> 선택</button>
               
            </div>
        </div>
</div>
