<div class="modal fade" id="pd_detail" tabindex="-1" aria-labelledby="pd_detail_label" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable 	modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">제품 상세보기</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body row justify-content-center d-flex gap-3">



				<!-- 제품 이미지 -->
				<div class="col-md-4 text-center comp_logo mt-3">
					<img src="#" alt="제품 이미지" class="img-fluid border">
				</div>

				<!-- 제품 정보 -->
				<div class="col-md-8">
					<h4>제품 코드 : &nbsp;[[${goods_one.PRODUCT_CODE}]]</h4>
					<div class="table-responsive  rounded">
						<table class="table align-middle table-bordered">
							<tr>
								<td class="info-label">제품유형</td>
								<td class="value-cell"> [[${goods_one.PRODUCT_TYPE}]] </td>
								<td class="info-label">제품명</td>
								<td class="value-cell"> [[${goods_one.PRODUCT_NAME}]] </td>
							</tr>
							<tr>
								<td class="info-label">대분류</td>
								<td class="value-cell">[[${goods_one.PRODUCT_CLASS1}]]</td>
								<td class="info-label">소분류</td>
								<td class="value-cell">[[${goods_one.PRODUCT_CLASS2}]]</td>
							</tr>
							<tr>
								<td class="info-label">제품 규격</td>
								<td class="value-cell">[[${goods_one.PRODUCT_SPEC}]]</td>
								<td class="info-label">제품 단위</td>
								<td class="value-cell">[[${goods_one.PRODUCT_UNIT}]]</td>
							</tr>
							<tr>
								<td class="info-label">제품 단가</td>
								<td class="value-cell">[[${goods_one.PRODUCT_COST}]]</td>
								<td class="info-label">판매가</td>
								<td class="value-cell">[[${goods_one.PRODUCT_PRICE}]]</td>
							</tr>
							<tr>
								<td class="info-label">재고 합계</td>
								<td class="value-cell"></td>
								<td class="info-label">안전 재고수</td>
								<td class="value-cell">[[${goods_one.PD_SAFE_STOCK}]]</td>
							</tr>
							<tr>
								<td class="info-label">사용여부</td>
								<td class="value-cell">[[${goods_one.USE_FLAG}]]</td>
								<td class="info-label"></td>
								<td class="value-cell"></td>
							</tr>
							<tr>
								<td class="info-label">비고</td>
								<td class="value-cell" colspan="3">[[${goods_one.MEMO}]]</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<!-- Action Buttons -->
				<div class="d-flex gap-2">
					<div class="ms-auto">
						<button type="button" class="btn btn-info" th:data-pdcode="${goods_one.PRODUCT_CODE}" th:data-idx="${goods_one.PIDX}" onclick="bomBtn(this)">
							<i class="bi bi-card-list"></i> BOM조회
						</button>
						<button type="button" class="btn btn-success">
							<i class="bi bi-pencil-square"></i> 수정
						</button>
						<button class="btn btn-danger"  th:data-pdcode="${goods_one.PRODUCT_CODE}" th:data-idx="${goods_one.PIDX}" data-type="product" onclick="deleteBtn(this)">
							<i class="bi bi-trash"></i> 삭제
						</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>