<div class="modal-body row  d-flex align-items-center gap-3 " th:fragment="pchMdList(pch_list, mode)">
		 <!-- 검색창 영역 -->
		  <div class="d-flex justify-content-end mb-2">
		      <div class="col-auto">
		        <div class="input-group input-group-sm">
		          <input type="text" class="form-control" placeholder="제품명/제품코드로 검색" id="keyword" name="keyword" th:value="${keyword}" onkeyup="MdSearch(event,'pchMd')">
		          <button class="btn btn-primary" type="button" onclick="MdSearchBtn('pchMd')">
		            <i class="bi bi-search"></i>
		          </button>
		        </div>
		      </div>
		  </div>
		  
		  <!-- 테이블 영역 -->
		<div th:replace="~{/production/purchase_list_sub.html :: pchModalList( ${pch_list}, 'modal')}" ></div>
		
		<!-- 페이징 -->
		<div th:replace="~{/production/purchase_list_sub.html :: pchPgList('pchPageing')}" ></div>

      </div>
<!--       <div class="modal-footer"> -->
<!--        Action Buttons -->
<!--         <div class="d-flex gap-2">  -->
<!--             <div class="ms-auto"> -->
<!--                 <button type="button" class="btn btn-success" ><i class="bi bi-pencil-square"></i> 선택</button> -->
               
<!--             </div> -->
<!--         </div> -->
<!-- </div> -->