<div class="modal fade"  id="purchase_list"  tabindex="-1" aria-labelledby="purchase_list_label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable 	modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="purchase_list_label">발주처 리스트</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body row  d-flex align-items-center gap-3 ">

		  
		  <!-- 테이블 영역 -->
 		<div th:replace="~{/modals/purchase_list_body_modal.html :: pchMdList(${pch_list}, 'modal2')}"></div>
		
		
      </div>
      <div class="modal-footer">
       <!-- Action Buttons -->
        <div class="d-flex gap-2"> 
            <div class="ms-auto">
                <button type="button" class="btn btn-success" onclick=""><i class="bi bi-pencil-square"></i> 선택</button>
               
            </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="modalContainer2"></div>
<!-- <div th:replace="~{/modals/purchase_detail_modal.html :: pchDetail}"></div>			 -->