<div class="modal fade" id="orders_modal" tabindex="-1" aria-labelledby="orders_modal_label">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable 	modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">주문 리스트</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body row justify-content-center d-flex gap-3">
				<!-- Client List Table -->
				<div class="table-responsive  rounded">
					<table class="table table-hover align-middle table-bordered">
						<thead class="table-light">
							<tr>
								<th scope="col">선택</th>
								<th scope="col">#</th>
								<th scope="col">주문코드</th>
								<th scope="col">제품코드</th>
								<th scope="col">제품명</th>
								<th scope="col">주문량</th>
								<th scope="col">제품규격</th>
								<th scope="col">제품단위</th>
								<th scope="col">주문업체</th>
								<th scope="col">납기일</th>
								<th scope="col">BOM코드</th>
							</tr>
						</thead>
					  	<tbody>
							<tr th:each="o , no : ${orders}"
							    th:attr="data-order_code=${o.ORDER_CODE},
							             data-product_code=${o.PRODUCT_CODE},
							             data-product_name=${o.PRODUCT_NAME},
							             data-order_qty=${o.ORDER_QTY},
							             data-product_spec=${o.PRODUCT_SPEC},
							             data-product_unit=${o.PRODUCT_UNIT},
							             data-company_name=${o.COMPANY_NAME},
							             data-due_date=${o.DUE_DATE},
							             data-bom_code=${o.BOM_CODE}"
							    style="cursor: pointer;">
								<td align="center"><input type="radio" name="order_check"></td>
								<td>[[${no.count}]]</td>
								<td>[[${o.ORDER_CODE}]]</td>
								<td>[[${o.PRODUCT_CODE}]]</td>
								<td>[[${o.PRODUCT_NAME}]]</td>
								<td>[[${o.ORDER_QTY}]]</td>
								<td>[[${o.PRODUCT_SPEC}]]</td>
								<td>[[${o.PRODUCT_UNIT}]]</td>
								<td>[[${o.COMPANY_NAME}]]</td>
								<td>[[${o.DUE_DATE}]]</td>
								<td>[[${o.BOM_CODE}]]</td>
							</tr>
						</tbody> 
					</table>
				</div>
			</div>
			<div class="modal-footer">
       <!-- Action Buttons -->
        <div class="d-flex gap-2"> 
            <div class="ms-auto">
                <button type="button" class="btn btn-success selectBtn" onclick="order_select()"><i class="bi bi-pencil-square"></i> 선택</button>
            </div>
        </div>

      </div>
		</div>
	</div>
</div>