<div class="modal fade" id="wh_type_list" tabindex="-1" aria-labelledby="wh_type_list_label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="wh_type_list_label">창고 리스트</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body row justify-content-center d-flex gap-3" style="width: 100%; overflow-x: auto;">
       <!-- 검색창 영역 -->
		  <div class="d-flex justify-content-end mb-2">
		      <div class="col-auto">
		        <div class="input-group input-group-sm">
		          <input type="text" class="form-control" placeholder="창고명/창고코드로 검색">
		          <button class="btn btn-primary" type="button">
		            <i class="bi bi-search"></i>
		          </button>
		        </div>
		      </div>
		  </div>
      
      
        <div class="table-responsive rounded" >
          <table class="table table-hover align-middle table-bordered" style="white-space: nowrap;">
            <thead class="table-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">번호</th>
                <th scope="col">창고코드</th>
                <th scope="col">창고명</th>
                <th scope="col">우편번호</th>
                <th scope="col">도로명</th>
                <th scope="col">상세주소</th>
                <th scope="col">창고타입</th>
                <th scope="col">사용여부</th>
                <th scope="col">생성일</th>
                <th scope="col">수정일</th>
                <th scope="col">관리자ID</th>
                <th scope="col">설명</th>
                <th scope="col">비고</th>
              </tr>
            </thead>
            <tbody>
              <tr style="cursor: pointer;" id="wh_data"  th:each="wh, idx : ${wh_tp_data}">
                <td>
                  <input type="radio" name="iosfSelect" th:value="${wh.wh_code}"
                         th:data-wh_name="${wh.wh_name}"
                         th:data-wh_zipcode="${wh.wh_zipcode}"
                         th:data-wh_addr1="${wh.wh_addr1}"
                         th:data-wh_addr2="${wh.wh_addr2}"
                         th:data-wh_type="${wh.wh_type}"
                         th:data-wh_use_flag="${wh.wh_use_flag}"
                         th:data-wh_insert_date="${wh.wh_insert_date}"
                         th:data-wh_modify_date="${wh.wh_modify_date}"
                         th:data-wh_mg_id="${wh.wh_mg_id}"
                         th:data-wh_desc="${wh.wh_desc}"
                         th:data-wh_note="${wh.wh_note}">
                </td>
                <td>[[${idx.count}]]</td>
                <td>[[${wh.wh_code}]]</td>
                <td>[[${wh.wh_name}]]</td>
                <td>[[${wh.wh_zipcode}]]</td>
                <td>[[${wh.wh_addr1}]]</td>
                <td>[[${wh.wh_addr2}]]</td>
                <td>[[${wh.wh_type}]]</td>
                <td>[[${wh.wh_use_flag}]]</td>
                <td>[[${wh.wh_insert_date}]]</td>
                <td>[[${wh.wh_modify_date}]]</td>
                <td>[[${wh.wh_mg_id}]]</td>
                <td>[[${wh.wh_desc}]]</td>
                <td>[[${wh.wh_note}]]</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <div class="d-flex gap-2">
          <div class="ms-auto">
          <!-- 단일 버튼만 보여주고 -->
				<button type="button" id="selectWhBtn" class="btn btn-success" onclick="choiceWh()">
 					 <i class="bi bi-check2-square"></i> 선택
				</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>