<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<body>
<header th:replace="~{/common/header.html :: header}"></header>

<main class="main">
<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>


<section class="container ">
        <!-- Title -->
        <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
        	<h2 class="mb-1">입고내역 수기등록</h2>
        
        </div>
        
<div class="d-flex flex-column flex-md-row align-items-md-center justify-content-end me-2">
<button type="button" class="btn-close" aria-label="Close"></button>
</div>

<div class="form-section">
	
     <div class="row justify-content-center">
                    <form class=" ">
                        <div class="row mb-3">
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">발주번호</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="발주코드" readonly>
                                    <button type="button" class="btn btn-primary">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">구매처명</label>
                                <input type="text" class="form-control" placeholder="구매처명" readonly>
                            </div>
                              <div class="col-md-3">
                                <label class="form-label fw-semibold">구매처코드</label>
                                <input type="text" class="form-control" placeholder="구매처코드" readonly>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label fw-semibold">입고창고</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="입고할 창고" readonly>
                                    <button type="button" class="btn btn-primary">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                      
                            <!-- 주문항목 List Table -->
			<div class="table-responsive  rounded">
				<h5 class="">발주 제품 내역</h5>
				<table class="table table-hover align-middle table-bordered">
					<thead class="table-light text-center">
						<tr>
							<th scope="col">#</th>
							<th scope="col">제품코드</th>
							<th scope="col">제품명</th>
							<th scope="col">규격</th>
							<th scope="col">단위</th>
							<th scope="col">주문수량</th>
							<th scope="col">대분류</th>
							<th scope="col">소분류</th>
							<th scope="col">제품단가(원)</th>
							<th scope="col">도착수량</th>
							<th scope="col">유통기한</th>
<!-- 							<th scope="col">납품여부</th> -->
							
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>3</td>
							<td>2589-0001</td>
							<td>오렌지</td>
							<td>100g</td>
							<td>ea</td>
							<td>500</td>
							<td>식품</td>
							<td>과일</td>
							<td>3,000</td>
							<td><input type="text" class="form-control" style="width:70px;"></td>
							<td><input type="date" class="form-control" style="width:150px;" required></td>
<!-- 							<td> -->
<!-- 							<select class="form-select" aria-label="Default select example"> -->
<!-- 								<option value="1" selected>납품완료</option> -->
<!-- 								<option value="1">일부도착</option> -->
<!-- 								<option value="2">미납</option> -->
<!-- 							</select> -->
<!-- 							</td> -->
							
						</tr>
						<tr>
							<td>2</td>
							<td>2580-0001</td>
							<td>사과</td>
							<td>100g</td>
							<td>ea</td>
							<td>500</td>
							<td>식품</td>
							<td>과일</td>
							<td>3,000</td>
							<td><input type="text" class="form-control" style="width:70px;"> </td>
							<td><input type="date" class="form-control" style="width:150px;" required></td>
<!-- 							<td> -->
<!-- 							<select class="form-select" aria-label="Default select example"> -->
<!-- 								<option value="1" selected>납품완료</option> -->
<!-- 								<option value="1">일부도착</option> -->
<!-- 								<option value="2">미납</option> -->
<!-- 							</select> -->
<!-- 							</td> -->
						</tr>
						<tr>
							<td>1</td>
							<td>2581-0001</td>
							<td>키위</td>
							<td>50g</td>
							<td>ea</td>
							<td>500</td>
							<td>식품</td>
							<td>과일</td>
							<td>3,000</td>
							<td><input type="text" class="form-control" style="width:70px;"></td>
							<td><input type="date" class="form-control" style="width:150px;" required></td>
<!-- 							<td> -->
<!-- 							<select class="form-select" aria-label="Default select example"> -->
<!-- 								<option value="1" selected>납품완료</option> -->
<!-- 								<option value="1">일부도착</option> -->
<!-- 								<option value="2">미납</option> -->
<!-- 							</select> -->
<!-- 							</td> -->
						</tr>

					</tbody>
					
				</table>
			</div>
                            
                            
                        </div>
                        <div class="row mb-3">
                        
                        
                            <div class="col-md-3">
                                <label class="form-label fw-semibold">납품일</label>
                                <input type="date" class="form-control" required>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label fw-semibold">입고상태</label>
                                <select class="form-select" aria-label="Default select example">
								<option value="1" selected>가입고</option>
								<option value="1">입고완료</option>
								<option value="2">입고취소</option>
 							</select> 
                            </div>
                            
                            </div>
                            
						
                        <div class="row mb-3">  
                        <!-- 작성자 라인 (로그인한 아이디 자동세팅) -->
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">작성자</label>
                                <input type="text" class="form-control" value="홍길동" readonly>
                            </div>
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">사원코드</label>
                                <input type="text" class="form-control" value="E123456" readonly>
                            </div>
                        </div>
                           
                           	<!-- 비고 라인 -->
                                 <div class="row">
            
            <div class="col-md-12">
              <label class="form-label">비고</label>
              <textarea class="form-control" rows="2"></textarea>
            </div>
          </div>

                       <!-- Action Buttons -->
							<div class="d-flex justify-content-end  gap-2 mt-4">
							<button type="button" class="btn btn-primary"><i class="bi bi-check2-square"></i> 저장</button>
							<button type="reset" class="btn btn-outline-secondary ms-2">초기화</button>
							</div>
                    </form>
            </div>





</div>

</section>
</main>


<div id="modalContainer"></div>

<footer th:replace="~{/common/footer.html :: footer}"></footer>

</body>
</html>