<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<body>
<header th:replace="~{/common/header.html :: header}"></header>

<main class="main">
<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>
<section class="container">
  <!-- Title -->
  <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
    <h2 class="mb-1">창고 등록</h2>
  </div>
 <!-- 우상단 x 마크  -->     
<div class="d-flex flex-column flex-md-row align-items-md-center justify-content-end me-2">
<button type="button" class="btn-close" aria-label="Close" onclick=""></button>
</div>
  <form id="frm" th:action="@{./warehouse_save.do}" th:object="${wareInsertDTO}" method="post" enctype="multipart/form-data">
    <div class="form-section">
      <div class="row">
        <!-- 이미지 업로드 -->
        <div class="col-md-3 d-flex flex-column align-items-end mt-4">
          <div class="image-box mb-2">
           <img id="previewImage" src="./img/no-image.svg" alt="창고 사진 " style="max-width: 100%; max-height: 100%;">
          </div>
          <input type="file" id="whImage" th:field="*{wh_file}" class="form-control" accept="image/*" onchange="previewFile('warehouse')" style="width: 250px;">
        </div>
        
       
        <!-- 창고 정보 입력 -->
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-3 mb-3">
              <label class="form-label">창고유형</label>
              <select class="form-select" th:field="*{wh_type}" >
                <option value="">선택</option>
                <option value="입고창고">입고창고</option>
<!--                 <option value="출고창고">출고창고</option> -->
                <option value="부자재창고">부자재창고</option>
                <option value="완제품창고">완제품창고</option>
              </select>
            </div>
            <div class="col-md-4">
              <label class="form-label">창고명</label>
              <input type="text" class="form-control" th:field="*{wh_name}" >
            </div>
            <div class="col-md-3">
              <label class="form-label">전화번호</label>
              <input type="text" class="form-control" th:field="*{wh_number}" >
            </div>
            <div class="col-md-2">
              <label class="form-label">사용 여부</label>
              <div class="radio-group mt-1">
                <label for="useY"><input type="radio" id="useY" th:field="*{wh_use_flag}" value="Y"> 사용 &nbsp;</label>
                <label for="useN"><input type="radio" id="useN" th:field="*{wh_use_flag}" value="N"> 미사용</label>
              </div>
            </div>
          </div>

          <!-- 창고주소 -->
          <div class="row mb-3">
            <label class="form-label">창고주소</label>
            <div class="row gx-1 align-items-center ms-1">
              <div class="col-auto d-flex align-items-center">
                <button class="btn btn-primary" type="button" onclick="sample6_execDaumPostcode()">
                  <i class="bi bi-search"></i>
                </button>
              </div>
              <div class="col">
                <div class="row gx-2 align-items-center">
                  <div class="col-md-3 d-flex align-items-center">
                    <input type="text" class="form-control" placeholder="우편번호" th:field="*{wh_zipcode}" readonly>
                  </div>
                  <div class="col-md-4 d-flex align-items-center">
                    <input type="text" class="form-control" placeholder="도로명주소" th:field="*{wh_addr1}" readonly>
                  </div>
                  <div class="col-md-5 d-flex align-items-center">
                    <input type="text" class="form-control" placeholder="상세주소" th:field="*{wh_addr2}" >
                  </div>
                </div>
              </div>
            </div>
          </div>

		  <div class="row  mb-3 ">
  			<label class="form-label">창고관리자</label>
  			<div class="row gx-1 align-items-center ms-1">
   			<div class="col-auto d-flex align-items-center">
				<!--    <button class="btn btn-primary modal-trigger" type="button" th:data-modal-url="@{/modals/emp_modal.jsp}" data-modal-id="emp_list" style="cursor: pointer;"> -->
<!--     			<button class="btn btn-primary modal-trigger" type="button" th:data-modal-url="@{/employee_list.do}" data-modal-id="emp_list" style="cursor: pointer;"> -->
<!--         			<i class="bi bi-search"></i> -->
<!--     			</button> -->
<!--   			</div> -->
                <div class="row gx-2">
                  <div class="col-md-3">
<!--               		 <input type="text" class="form-control" name="wh_mg_name" id="wh_mg_name" placeholder="관리자명">    -->
		       <div class="input-group">
		            <input type="text" class="form-control" name="wh_mg_name" id="wh_mg_name" placeholder="관리자명" readonly>
<!-- 		            <button type="button" class="btn btn-primary modal-trigger" th:data-modal-url="@{/employee_list.do}" data-modal-id="emp_list" style="cursor: pointer;"> -->
		                <button type="button" class="btn btn-primary" onclick="empListOpen()"style="cursor: pointer;">
		                <i class="bi bi-search"></i>
		            </button>
		        </div>    
                  </div>
                  <div class="col-md-3">
            		  <input type="text" class="form-control" placeholder="사원번호" id="wh_mg_cd" th:field="*{wh_mg_id}" readonly>
                   </div>
                  <div class="col-md-3">
                    <input type="text" class="form-control" name="wh_mg_mp" id="wh_mg_mp" placeholder="부서/직급" readonly>              
                  </div>
                  <div class="col-md-3">
             		   <input type="text" class="form-control" name="wh_mg_ph" id="wh_mg_ph" placeholder="연락처" readonly>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 설명 -->
          <div class="row mb-3">
            <div class="col-md-12">
              <label class="form-label">설명</label>
              <textarea class="form-control" rows="2" th:field="*{wh_desc}"></textarea>
            </div>
          </div>

          <!-- 비고 -->
          <div class="row mb-3">
            <div class="col-md-12">
              <label class="form-label">비고</label>
              <textarea class="form-control" rows="2" th:field="*{wh_note}"></textarea>
            </div>
          </div>

          <!-- 액션 버튼 -->
          <div class="d-flex justify-content-end gap-2 mt-4">
            <button type="button" class="btn btn-primary" onclick="wh_save()"><i class="bi bi-check2-square"></i> 저장</button>
            <button type="reset" class="btn btn-outline-secondary ms-2">초기화</button>
          </div>

        </div>
      </div>
    </div>
  </form>
</section>
</main>

<div id="modalContainer"></div>
<footer th:replace="~{/common/footer.html :: footer}"></footer>
</body>
</html>
