<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}"></head>
<body>
<header th:replace="~{/common/header.html :: header}"></header>

<main class="main">
<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>
<section class="container ">
    <!-- Title -->
    <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
        <h2 class="mb-1">창고 수정</h2>
    </div>
    
    <form id="frm" th:action="@{./warehouse_modify.do}" th:object="${wareInsertDTO}" method="post" enctype="multipart/form-data">
    <div class="form-section">
        <div class="row">
            <!-- 이미지 업로드 -->
            <div class="col-md-3 d-flex flex-column align-items-end">
                <!-- 미리보기 네모칸 -->
                <div class="image-box mb-2">
                    <img id="previewImage" th:src="@{${wh_modify[0].wh_file_url}}" alt="창고 사진" style="max-width: 100%; max-height: 100%;">
                </div>

                <!-- 파일 선택 input -->
                <input type="file" id="productImage" class="form-control" name="wh_file" accept="image/*" onchange="previewFile()" style="width: 250px;">
            </div>

            <!-- 창고 정보 입력 -->
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-2 mb-3">
                        <label class="form-label">창고코드</label>
                        <input type="text" class="form-control" th:value="${wh_modify[0].wh_code}" readonly name="wh_code">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label class="form-label">창고유형</label>
                        <select class="form-select" required name="wh_type">
                            <option value="">선택</option>
                            <option th:selected="${wh_modify[0].wh_type == '입고창고'}" value="입고창고">입고창고</option>
                            <option th:selected="${wh_modify[0].wh_type == '출고창고'}" value="출고창고">출고창고</option>
                            <option th:selected="${wh_modify[0].wh_type == '완제품창고'}" value="완제품창고">완제품창고</option>
                            <option th:selected="${wh_modify[0].wh_type == '부자재창고'}" value="부자재창고">부자재창고</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">창고명</label>
                        <input type="text" class="form-control" required th:value="${wh_modify[0].wh_name}" name="wh_name">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">전화번호</label>
                        <input type="text" class="form-control" required th:value="${wh_modify[0].wh_number}" name="wh_number">
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">사용 여부</label>
                        <div class="radio-group">
                            <input type="radio" id="useY" name="wh_use_flag" value="Y" th:checked="${wh_modify[0].wh_use_flag == 'Y'}">
                            <label for="useY"> 사용 </label>
                            <input type="radio" id="useN" name="wh_use_flag" value="N" th:checked="${wh_modify[0].wh_use_flag == 'N'}">
                            <label for="useN"> 미사용 </label>
                        </div>
                    </div>
                </div>

                <!-- 창고주소 라인 -->
                <div class="row mb-3">
                    <label class="form-label">창고주소</label>
                    <div class="row gx-1 align-items-center ms-1">
                        <div class="col-auto d-flex align-items-center">
                            <button class="btn btn-primary" type="button" onclick="sample6_execDaumPostcode()">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                        <div class="col">
                            <div class="row gx-2 align-items-center">
                                <div class="col-md-4 d-flex align-items-center">
                                    <input type="text" class="form-control" placeholder="도로명주소" th:value="${wh_modify[0].wh_addr1}" name="wh_addr1">
                                </div>
                                <div class="col-md-5 d-flex align-items-center">
                                    <input type="text" class="form-control" placeholder="상세주소" th:value="${wh_modify[0].wh_addr2}" name="wh_addr2">
                                </div>
                                <div class="col-md-3 d-flex align-items-center">
                                    <input type="text" class="form-control" placeholder="우편번호" th:value="${wh_modify[0].wh_zipcode}" name="wh_zipcode">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 창고관리자 라인 -->
				<div class="row mb-3">
				    <label class="form-label">창고관리자</label>
				    <div class="row gx-1 align-items-center ms-1">
				        <div class="col-auto d-flex align-items-center">
				            <button class="btn btn-primary modal-trigger" type="button" th:data-modal-url="@{/employee_list.do}" data-modal-id="emp_list" style="cursor: pointer;">
				                <i class="bi bi-search"></i>
				            </button>
				        </div>
				        <div class="col">
				            <div class="row gx-2">
				                <div class="col-md-3">
				                    <input type="text" id="wh_mg_name" class="form-control" placeholder="관리자명"   name="wh_mg_name">
				                </div>
				                <div class="col-md-3">
				                    <input type="text" id="wh_mg_id" class="form-control" placeholder="사원번호"  th:value="${wh_modify[0].wh_mg_id}" name="wh_mg_id">
				                </div>
				                <div class="col-md-3">
				                    <input type="text" id="wh_mg_mp" class="form-control" placeholder="부서/직급" name="wh_mg_mp">
				                </div>
				                <div class="col-md-3">
				                    <input type="text" id="wh_mg_ph" class="form-control" placeholder="연락처"  name="wh_mg_ph">
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

                <!-- 창고비고라인 -->
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label class="form-label">설명</label>
                        <textarea class="form-control" rows="2" th:text="${wh_modify[0].wh_desc}" name="wh_desc"></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label class="form-label">비고</label>
                        <textarea class="form-control" rows="2" th:text="${wh_modify[0].wh_note}" name="wh_note"></textarea>
                    </div>
                </div>
            </div>

            <!-- Action Buttons -->
            <div class="d-flex justify-content-end gap-2 mt-4">
        		   <button type="button" class="btn btn-primary" onclick="wh_save()"><i class="bi bi-check2-square"></i> 저장</button>
                   <button type="reset" class="btn btn-outline-secondary ms-2">초기화</button>
            </div>
        </div>
    </div>
     </form>
</section>
</main>

<div id="modalContainer"></div>
<footer th:replace="~{/common/footer.html :: footer}"></footer>

</body>
</html>
