<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<body>
<header th:replace="~{/common/header.html :: header}"></header>

<main class="main">
<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>


<section class="container ">
        <!-- Title -->
        <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
        	<h2 class="mb-1">입고내역 수기등록</h2>
        
        </div>
   
  <!-- 우상단 x 마크  -->     
<div class="d-flex flex-column flex-md-row align-items-md-center justify-content-end me-2">
<button type="button" class="btn-close" aria-label="Close" onclick="goInbndList()"></button>
</div>

<div class="form-section">
     <div class="row justify-content-center">
             <div class="row mb-3">
                 <div class="col-md-3 mb-3 mb-md-0">
                     <label class="form-label fw-semibold">발주번호</label>
                     <div class="input-group">
                         <input type="text" class="form-control" placeholder="발주코드" id="pch_code">
                         <button type="button" class="btn btn-primary" onclick="pchListOpen()">
                             <i class="bi bi-search"></i>
                         </button>
                     </div>
                 </div>
                 <div class="col-md-3 mb-3 mb-md-0">
                     <label class="form-label fw-semibold">구매처명</label>
                     <input type="text" class="form-control" placeholder="구매처명" id="comp_name">
                 </div>
                   <div class="col-md-3">
                     <label class="form-label fw-semibold">구매처코드</label>
                     <input type="text" class="form-control" placeholder="구매처코드" id="comp_code">
                 </div>
                 <div class="col-md-3">
                     <label class="form-label fw-semibold">입고창고</label>
                     <div class="input-group">
                         <input type="text" class="form-control" placeholder="입고할 창고"  id="in_wh_name" readonly>
                         <button type="button" class="btn btn-primary " onclick="whSelect('in_wh','in_wh_name', 'in_wh_code')">
                             <i class="bi bi-search"></i>
                         </button>
                     </div>
                     <input type="hidden" id="in_wh_code">
                 </div>
             </div>

             <div class="row mb-3">
                      
            <!-- 주문항목 List Table -->
			<div class="table-responsive  rounded" style="width: 100%; overflow-x: auto;">
				<h5 >발주 제품 내역</h5>
				<table class="table table-hover align-middle table-bordered text-center" style="white-space: nowrap;">
					<thead class="table-light ">
						<tr >
							<th scope="col" style="width: 3%;">#</th>
							<th scope="col" style="width: 8%;">제품코드</th>
							<th scope="col" style="width: 15%;">제품명</th>
							<th scope="col" style="width: 5%;">규격</th>
							<th scope="col" style="width: 5%;">주문수량</th>
							<th scope="col" style="width: 5%;">단위</th>
							<th scope="col" style="width: 5%;">대분류</th>
							<th scope="col" style="width: 5%;">소분류</th>
							<th scope="col" style="width: 8%;">제품단가</th>
							<th scope="col" style="width: 8%;">도착수량</th>
							<th scope="col" style="width: 5%;">유통기한</th>
							<th scope="col" style="width: 10%;">납품여부</th>
							
						</tr>
					</thead>
					<tbody id="inbnd_items">
						<tr class="item_row">
							<td colspan="12" class="text-center ">입고된 제품이 없습니다.</td>
						</tr>
						<!-- 아이템 목록 뜨는 곳 -->
					</tbody>
				</table>
			</div>
                            
                            
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label class="form-label fw-semibold">납품일</label>
                                <input type="date" class="form-control" id="inbound_date" value="">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label fw-semibold">입고상태</label>
                                <select class="form-select" aria-label="Default select example" id="in_status">
									<option value="가입고" >가입고</option>
									<option value="입고완료">입고완료</option>
									<option value="입고취소">입고취소</option>
 								</select> 
                            </div>
                            </div>
                            
						
                        <div class="row mb-3">  
                        <!-- 작성자 라인 (로그인한 아이디 자동세팅) -->
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">작성자</label>
                                <input type="text" class="form-control" value="홍길동" readonly>
                            </div>
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">사원코드</label>
                                <input type="text" class="form-control" id="employee_code" value="E-23456" readonly>
                            </div>
                        </div>
                           
                           	<!-- 비고 라인 -->
                                 <div class="row">
            <div class="col-md-12">
              <label class="form-label">비고</label>
              <textarea class="form-control" rows="2" id="inb_memo"></textarea>
            </div>
          </div>

            <!-- Action Buttons -->
			<div class="d-flex justify-content-end  gap-2 mt-4">
				<button type="button" class="btn btn-primary" onclick="insert_inBnd()"><i class="bi bi-check2-square"></i> 저장</button>
				<button type="button" class="btn btn-outline-secondary ms-2" onclick="resetBtn()"><i class="bi bi-x-circle"></i> 초기화</button>
			</div>
            </div>





</div>

</section>
</main>


<div id="modalContainer"></div>

<footer th:replace="~{/common/footer.html :: footer}"></footer>

</body>
</html>