<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<body>
	<header th:replace="~{/common/header.html :: header}"></header>

	<main class="main" style="width: 100%; overflow-x: auto;">
		<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>
		<section class="container ">
			<!-- Title -->
			<div
				class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
				<h2 class="mb-1">입고 리스트</h2>
			</div>

			<div class="d-flex flex-column flex-md-row align-items-center  justify-content-between  mb-3">
			<!-- 입고상태 변경 버튼 -->
				<div class="d-flex gap-2 align-items-center" >
					<select class="form-select" id="in_status">
						<option value="">입고상태</option>
						<option value="입고완료">입고완료</option>
						<option value="입고취소">입고취소</option>
					</select>
					<button type="button" class="btn btn-info d-flex align-items-center px-2" 
							style="white-space: nowrap; min-width: 70px;" onclick="inbCngOk()">
						<i class="bi bi-arrow-bar-right"></i> 변경
					</button>
				</div>
				
			
				<div class="d-flex">
					<div id ="check_group" class="input-group input-group-sm d-flex gap-3 align-items-center flex-wrap">
						<label class="d-flex align-items-center gap-1">
							<input type="checkbox" name="status_lst" value="가입고" onchange="inStatusCk(this)"
									th:checked="${statusList == null or #arrays.contains(statusList, '가입고' )}"> 가입고
						</label>
						 <label class="d-flex align-items-center gap-1">
							<input type="checkbox" name="status_lst" value="입고완료" onchange="inStatusCk(this)"
									th:checked="${statusList == null or #arrays.contains(statusList, '입고완료' )}"> 입고완료
						</label>
						 <label class="d-flex align-items-center gap-1"> 
							<input type="checkbox" name="status_lst" value="입고취소" onchange="inStatusCk(this)"
									th:checked="${statusList == null or #arrays.contains(statusList, '입고취소' )}"> 입고취소&nbsp;&nbsp;
						</label> 
					</div>
					
					<!-- Search Bar -->
					<div class="col-auto" >
					<form id="inbnd_search" onsubmit="return inSearch()">
					<th:block th:each="status : ${statusList}">
			    		<input type="hidden" name="status_lst" th:value="${status}" />
					</th:block>
						<div class="input-group input-group-sm" style="width:250px;">
							<input type="text" class="form-control" name="keyword" th:value="${keyword != null ? keyword : ''}" placeholder="검색">
							<button class="btn btn-primary" >
								<i class="bi bi-search"></i>
							</button>
						</div>
					</form>
					</div>
					
				</div>
		</div>
		
		
		
			<!-- 입고 List Table-->
			<div class="table-responsive  rounded" th:fragment="inbndList(inbound_total, inbound_all_list, mode)">
				<table class="table align-middle table-bordered " style="white-space: nowrap;" th:classappend="${inbound_total != 0} ? 'table-hover' : ''">
					<thead class="table-light text-center">
						<tr>
							<th scope="col" ><input th:type="${mode == 'modal'} ? 'radio' : 'checkbox'" disabled></th>
							<th scope="col">#</th>
							<th scope="col">입고코드</th>
							<th scope="col">발주코드</th>
							<th scope="col">제품명</th>	
							<th scope="col">제품코드</th>
							<th scope="col">규격</th>
							<th scope="col">입고수량</th>
							<th scope="col">단위</th>	
							<th scope="col">유통기한</th>	
							<th scope="col">입고상태</th>	<!-- '가입고','입고취소','입고완료' -->
							<th scope="col">입고처리자</th>
							<th scope="col">사원코드</th>
							<th scope="col">입고완료일</th>
							<th scope="col">입고창고명</th>	
							<th scope="col">창고코드</th>	
							<th scope="col">발주처명</th>
							<th scope="col">발주처 코드</th>
							<th scope="col">등록일</th>
						</tr>
					</thead>
					<tbody class="text-center">
						<tr th:if="${inbound_total == 0}" >
                			<td class="text-center no_list_tb" colspan="19" > 등록된 입고건이 없습니다. </td>
                		</tr>
                		
						<tr th:if="${inbound_total != 0}" th:each="inlist, idx : ${inbound_all_list}"
							  onclick="openInbndDetail(this)" style="cursor: pointer;">							
							<td onclick="event.stopPropagation();">
								<input type="checkbox" name="inb_sel" class="inb_sb"
										th:attr="data-pchcode=${inlist.IND_PCH_CD}, data-inbcode=${inlist.INBOUND_CODE}" 
										th:disabled="${inlist.IN_STATUS == '입고완료' or inlist.IN_STATUS == '입고취소'}" />
							</td>
							<td >[[${bno - idx.index}]]</td>
							<td class="inbnd_code">[[${inlist.INBOUND_CODE}]]</td>
							<td class="pch_code" th:data-pch="${inlist.IND_PCH_CD}">[[${inlist.IND_PCH_CD.substring(0,9)}]]</td>
							<td>제품명</td>
							<td>[[${inlist.ITEM_CODE}]]</td>
							<td>규격</td>
							<td>[[${inlist.ITEM_QTY}]]</td>
							<td>단위</td>
							<td>[[${inlist.ITEM_EXP}]]</td>
							<td>[[${inlist.IN_STATUS}]]</td>
							<td>입고처리자</td>
							<td>[[${inlist.EMPLOYEE_CODE}]]</td>
							<td>[[${inlist.INBOUND_DATE}]]</td>
							<td>창고명</td>
							<td>[[${inlist.WH_CODE}]]</td>
							<td>발주처명</td>
							<td>발주처코드</td>
							<td>[[${inlist.INB_INSERT_DATE.substring(0,16)}]]</td>
						</tr>
						
					</tbody>
				</table>
			</div>
<div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">

        <div class="d-flex">
    <!-- Pagination -->
        <div class="mt-4 d-flex justify-content-center" aria-label="Page navigation"
        		th:fragment="inbndPgList(mode2)">
            <ul class="pagination">
                <li class="page-item page-link prev"  
                	th:classappend="${1 >= pageno} ? 'disabled' : ''"
                	th:attr="data-keyword=${keyword}, data-pageno=${pageno -1 }, data-type='inbound',data-pea=${pageinfo.post_ea}, data-status=${#strings.arrayJoin(statusList, ',')}" 
                	th:onclick="${mode2 == 'inbPageing'} ? 'inbnd_modal_pg(this)' : 'go_in_pg(this)'">
					<i class="bi bi-chevron-double-left"></i> </li>
               
                <th:block th:each="pgn : ${#numbers.sequence(pageinfo.start_pg, pageinfo.end_pg)}"  >
                <li class="page-item page-link pgnum" th:classappend ="${pageno == pgn} ? 'curpg' : ''" 
                	th:attr="data-keyword=${keyword}, data-pageno=${pgn}, data-type='inbound',data-pea=${pageinfo.post_ea}, data-status=${#strings.arrayJoin(statusList, ',')}"
                	th:onclick="${mode2 == 'inbPageing'} ? 'inbnd_modal_pg(this)' : 'go_in_pg(this)'">[[${pgn}]]</li>
                </th:block>
                
                <li class="page-item page-link next" 
                	th:classappend="${pageno >= pageinfo.page_ea_total} ? 'disabled' : ''" 
                	th:attr="data-keyword=${keyword}, data-pageno=${pageno +1 } ,data-pea=${pageinfo.post_ea}, data-type='inbound', data-status=${#strings.arrayJoin(statusList, ',')}" 
                	th:onclick="${mode2 == 'inbPageing'} ? 'inbnd_modal_pg(this)' : 'go_in_pg(this)'" >
					<i class="bi bi-chevron-double-right"></i> </li>
            </ul>
        </div>
        
        <!-- 게시물개수 선택  -->
        <form id="inbpg_frm">
        <input type="hidden" name="type">
        <input type="hidden" name="pageno" th:value="${pageno}">
        <input type="hidden" name="keyword" th:value="${keyword}">
        <th:block th:each="status : ${statusList}">
    		<input type="hidden" name="status_lst" th:value="${status}" />
		</th:block>
        <div class="mt-4 ms-1">
        <select class="form-select" name="post_ea" onchange="inbPostEa('inbound')">
            <option value="5"   th:selected="${pageinfo.post_ea} == '5'" >5개씩 보기</option>
            <option value="10"  th:selected="${pageinfo.post_ea} == '10'" >10개씩 보기</option>
            <option value="15"  th:selected="${pageinfo.post_ea} == '15'" >15개씩 보기</option>
            <option value="20"  th:selected="${pageinfo.post_ea} == '20'" >20개씩 보기</option>
            <option value="25"  th:selected="${pageinfo.post_ea} == '25'" >25개씩 보기</option>
            <option value="30"  th:selected="${pageinfo.post_ea} == '30'" >30개씩 보기</option>
          </select>
        </div>
          </form>
         </div>
      
       
        
        <!-- Action Buttons -->
       	<div class="mt-4 d-flex gap-2">
			<div class="ms-auto">
				<button type="button" class="btn btn-success" onclick="addInbound()">
					<i class="bi bi-plus-lg"></i> 수기등록
				</button>
<!-- 			<button class="btn btn-danger"> -->
<!-- 				<i class="bi bi-trash"></i> 삭제 -->
<!-- 			</button> -->
				</div>
			</div>
		</div>

		</section>
	</main>


	<div id="modalContainer"></div>

	<footer th:replace="~{/common/footer.html :: footer}"></footer>

</body>
</html>