<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<body>
	<header th:replace="~{/common/header.html :: header}"></header>

	<main class="main" style="width: 100%; overflow-x: auto;">
		<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>
		<section class="container ">
			<!-- Title -->
			<div
				class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
				<h2 class="mb-1">입고 리스트</h2>
			</div>

			<!-- 입고상태 변경 버튼 -->
				<form class=" d-flex flex-column flex-md-row align-items-center  justify-content-between  mb-3">
				<div class="d-flex gap-2 align-items-center" >
					<select class="form-select" aria-label="Default select example">
						<option selected>입고상태</option>
<!-- 						<option value="1">가입고</option> -->
						<option value="2">입고취소</option>
						<option value="3">입고완료</option>
					</select>
					<button type="button"  class="btn btn-info d-flex align-items-center px-2" style="white-space: nowrap; min-width: 70px;"><i class="bi bi-arrow-bar-right"></i> 변경</button>
					
				</div>
				
				<!-- Search Bar -->
				<div class="col-auto">
					<div class="input-group input-group-sm">
						<input type="text" class="form-control" placeholder="검색">
						<button class="btn btn-primary" type="submit">
							<i class="bi bi-search"></i>
						</button>
					</div>
				</div>
			</form>

			<!-- 입고 List Table-->
			<div class="table-responsive  rounded" th:fragment="inbndList(inbound_total, inbound_all_list, mode)">
				<table class="table align-middle table-bordered " style="white-space: nowrap;" th:classappend="${inbound_total != 0} ? 'table-hover' : ''">
					<thead class="table-light text-center">
						<tr >
							<th scope="col" ><input type="checkbox"></th>
							<th scope="col">#</th>
							<th scope="col">입고코드</th>
							<th scope="col">발주코드</th>
							<th scope="col">제품명</th>	
							<th scope="col">제품코드</th>
							<th scope="col">규격</th>
							<th scope="col">입고수량</th>
							<th scope="col">단위</th>	
							<th scope="col">유통기한</th>	
							<th scope="col">입고상태</th>	<!-- '가입고','입고취소','입고완료' -->
							<th scope="col">입고처리자</th>
							<th scope="col">사원코드</th>
							<th scope="col">입고완료일</th>
							<th scope="col">입고창고명</th>	
							<th scope="col">창고코드</th>	
							<th scope="col">발주처명</th>
							<th scope="col">발주처 코드</th>
							<th scope="col">등록일</th>
						</tr>
					</thead>
					<tbody class="text-center">
						<tr th:if="${inbound_total == 0}" >
                			<td class="text-center no_list_tb" colspan="19" > 등록된 입고건이 없습니다. </td>
                		</tr>
                		
						<tr th:if="${inbound_total != 0}" th:each="inlist, idx : ${inbound_all_list}"
							  onclick="openInbndDetail(event)" style="cursor: pointer;">							
							<td onclick="event.stopPropagation();"><input type="checkbox"></td>
							<td >[[${bno - idx.index}]]</td>
							<td class="inbnd_code">[[${inlist.INBOUND_CODE}]]</td>
							<td class="pch_code">[[${inlist.PCH_CODE.substring(0,9)}]]</td>
							<td>[[${inlist.PCH_CODE.substring(0,9)}]]</td>
							<td>[[${inlist.ITEM_CODE}]]</td>
							<td>100g</td>
							<td>500</td>
							<td>ea</td>
							<td>26/12/31</td>
							<td>[[${inlist.IN_STATUS}]]</td>
							<td>김미미</td>
							<td>[[${inlist.EMPLOYEE_CODE}]]</td>
							<td>[[${inlist.INBOUND_DATE}]]</td>
							<td>입고 4 창고</td>
							<td>[[${inlist.WH_CODE}]]</td>
							<td>주식회사 시네</td>
							<td>CO-014</td>
							<td>[[${inlist.INB_INSERT_DATE.substring(0,16)}]]</td>
						</tr>
						
					</tbody>
				</table>
			</div>
<div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">

        <div class="d-flex">
    <!-- Pagination -->
        <div class="mt-4 d-flex justify-content-center" aria-label="Page navigation"
        		th:fragment="inbndPgList(mode2)">
            <ul class="pagination">
                <li class="page-item page-link prev"  
                	th:classappend="${1 >= pageno} ? 'disabled' : ''"
                	th:attr="data-keyword=${keyword}, data-pageno=${pageno -1 }, data-type='product',data-pea=${pea}" 
                	th:onclick="${mode2 == 'inbPageing'} ? 'inbnd_modal_pg(this)' : 'go_in_pg(this)'">이전</li>
               
                <th:block th:each="pgn : ${#numbers.sequence(pageinfo.start_pg, pageinfo.end_pg)}"  >
                <li class="page-item page-link pgnum" th:classappend ="${pageno == pgn} ? 'curpg' : ''" 
                	th:attr="data-keyword=${keyword}, data-pageno=${pgn}, data-type='product',data-pea=${pea}, data-sclass = ${sclass}" 
                	th:onclick="${mode2 == 'inbPageing'} ? 'inbnd_modal_pg(this)' : 'go_in_pg(this)'">[[${pgn}]]</li>
                </th:block>
                
                <li class="page-item page-link next" 
                	th:classappend="${pageno >= pageinfo.page_ea_total} ? 'disabled' : ''" 
                	th:attr="data-keyword=${keyword}, data-pageno=${pageno +1 } ,data-pea=${pea}" 
                	th:onclick="${mode2 == 'inbPageing'} ? 'inbnd_modal_pg(this)' : 'go_in_pg(this)'" >다음</li>
            </ul>
        </div>
        
        <!-- 게시물개수 선택  -->
        <form id="pdpg_frm">
        <input type="hidden" name="t">
        <input type="hidden" name="pageno" th:value="${pageno}">
        <div class="mt-4 ms-1">
        <select class="form-select" name="post_ea" onchange="postEa()">
            <option value="5"   th:selected="${pea} == '5'" >5개씩 보기</option>
            <option value="10"  th:selected="${pea} == '10'" >10개씩 보기</option>
            <option value="15"  th:selected="${pea} == '15'" >15개씩 보기</option>
            <option value="20"  th:selected="${pea} == '20'" >20개씩 보기</option>
            <option value="25"  th:selected="${pea} == '25'" >25개씩 보기</option>
            <option value="30"  th:selected="${pea} == '30'" >30개씩 보기</option>
          </select>
        </div>
          </form>
         </div>
      
       
        
        <!-- Action Buttons -->
       	<div class="mt-4 d-flex gap-2">
			<div class="ms-auto">
				<button type="button" class="btn btn-success" onclick="addInbound()">
					<i class="bi bi-plus-lg"></i> 수기등록
				</button>
<!-- 			<button class="btn btn-danger"> -->
<!-- 				<i class="bi bi-trash"></i> 삭제 -->
<!-- 			</button> -->
				</div>
			</div>
		</div>

		</section>
	</main>


	<div id="modalContainer"></div>

	<footer th:replace="~{/common/footer.html :: footer}"></footer>

</body>
</html>