<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<body>
	<header th:replace="~{/common/header.html :: header}"></header>

	<main class="main" style="width: 100%; overflow-x: auto;">
		<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>
		<section class="container ">
			<!-- Title -->
			<div
				class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
				<h2 class="mb-1">출고 리스트</h2>
			</div>


			<div class=" d-flex flex-column flex-md-row align-items-center  justify-content-between  mb-3">
				<div class="d-flex gap-2 align-items-center" >
					<select class="form-select" id="out_status">
						<option value="">출고상태</option>
						<option value="출고완료">출고완료</option>
						<option value="출고취소">출고취소</option>
					</select>
					<button type="button"  class="btn btn-info d-flex align-items-center px-2" 
							style="white-space: nowrap; min-width: 70px;" onclick="obCngOk()">
						<i class="bi bi-arrow-bar-right"></i> 변경
					</button>
					
				</div>
				
				<div class="d-flex">
					<div id ="check_group" class="input-group input-group-sm d-flex gap-3 align-items-center flex-wrap">
						<label class="d-flex align-items-center gap-1">
							<input type="checkbox" name="out_status_lst" value="출고대기" onchange="outStatusCk(this)"
									th:checked="${out_statusList == null or #arrays.contains(out_statusList, '출고대기' )}"> 출고대기
						</label>
						<label class="d-flex align-items-center gap-1"> 
							<input type="checkbox" name="out_status_lst" value="부분출고" onchange="outStatusCk(this)"
									th:checked="${out_statusList == null or #arrays.contains(out_statusList, '부분출고' )}"> 부분출고
						</label>
						 <label class="d-flex align-items-center gap-1"> 
							<input type="checkbox" name="out_status_lst" value="출고완료" onchange="outStatusCk(this)"
									th:checked="${out_statusList == null or #arrays.contains(out_statusList, '출고완료' )}"> 출고완료
						</label>
						<label class="d-flex align-items-center gap-1"> 
							<input type="checkbox" name="out_status_lst" value="출고취소" onchange="outStatusCk(this)"
									th:checked="${out_statusList == null or #arrays.contains(out_statusList, '출고취소' )}"> 출고취소&nbsp;&nbsp;
						</label> 
					</div>
				<!-- Search Bar -->
				<div class="col-auto">
				<form id="ob_search" onsubmit="return outSearch()">
					<th:block th:each="o_status : ${out_statusList}">
			    		<input type="hidden" name="out_status_lst" th:value="${o_status}" />
					</th:block>
					<div class="input-group input-group-sm" style="width:250px;">
						<input type="text" class="form-control"name="keyword" th:value="${keyword != null ? keyword : ''}"  placeholder="전체 검색">
						<button class="btn btn-primary">
							<i class="bi bi-search"></i>
						</button>
					</div>
				</form>
				</div>
				</div>
			</div>

			<!-- 출고 List Table-->
			<div class="table-responsive  rounded" style="width: 100%; overflow-x: auto;">
				<table class="table align-middle table-bordered text-center" style="white-space: nowrap;" th:classappend="${outbound_total != 0} ? 'table-hover' : ''">
					<thead class="table-light">
						<tr >
							<th scope="col" ><input type="checkbox" disabled></th>
							<th scope="col">#</th>
							<th scope="col">출고코드</th>
							<th scope="col">주문코드</th>
							<th scope="col">출고상태</th>
							<th scope="col">출고처리자</th>
							<th scope="col">사원코드</th>
							<th scope="col">출고요청일</th>
							<th scope="col">출고완료일</th>
							<th scope="col">출고창고명</th>	
							<th scope="col">창고코드</th>	
							<th scope="col">거래처명</th>
							<th scope="col">거래처 코드</th>
							<th scope="col">등록일</th>
						</tr>
					</thead>
					<tbody>
					
						<tr th:if="${outbound_total == 0}" >
                			<td class="text-center no_list_tb" colspan="14" > 등록된 출고건이 없습니다. </td>
                		</tr>
						<tr th:if="${outbound_total != 0}" th:each="outlist, idx : ${outbound_all_list}" 
							onclick="openObDetail(this)" style="cursor: pointer;">							
							<td onclick="event.stopPropagation();">
								<input type="checkbox" name="ob_sel" class="ob_sb"
										th:attr="data-ordcode=${outlist.ORD_CODE}, data-inbcode=${outlist.OUTBOUND_CODE}" 
										th:disabled="${outlist.OUT_STATUS == '출고완료'}" />
							</td>
							<td >[[${bno - idx.index}]]</td>
							<td class="ob_code">[[${outlist.OUTBOUND_CODE}]]</td>
							<td class="ord_code">[[${outlist.ORD_CODE}]]</td>
							<td>[[${outlist.OUT_STATUS}]]</td>
							<td>[[${outlist.ENAME}]]</td>
							<td>[[${outlist.EMPLOYEE_CODE}]]</td>
							<td>[[${outlist.DUE_DATE.substring(0,10)}]]</td>
							<td>[[${outlist.OUTBOUND_DATE.substring(0,10)}]]</td>
							<td>[[${outlist.WH_NAME}]]</td>
							<td>[[${outlist.WH_CODE}]]</td>
							<td>[[${outlist.COMPANY_NAME}]]</td>
							<td>[[${outlist.COMPANY_CODE}]]</td>
							<td>[[${outlist.OUT_INSERT_DATE.substring(0,16)}]]</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
			<div class="d-flex">
				<!-- Pagination -->
				<div class="mt-4 d-flex justify-content-center" aria-label="Page navigation">
					<ul class="pagination">
						<li class="page-item page-link prev"  
		                	th:classappend="${1 >= pageno} ? 'disabled' : ''"
		                	th:attr="data-keyword=${keyword}, data-pageno=${pageinfo.pageno -1 }, data-pea=${pageinfo.post_ea}, data-status=${#strings.arrayJoin(out_statusList, ',')}" 
		                	onclick="go_out_pg(this)">
							<i class="bi bi-chevron-double-left"></i> 
						</li>
		               
		                <th:block th:each="pgn : ${#numbers.sequence(pageinfo.start_pg, pageinfo.end_pg)}"  >
		                <li class="page-item page-link pgnum" th:classappend ="${pageinfo.pageno == pgn} ? 'curpg' : ''" 
		                	th:attr="data-keyword=${keyword}, data-pageno=${pgn}, data-pea=${pageinfo.post_ea}, data-status=${#strings.arrayJoin(out_statusList, ',')}"
		                	onclick="go_out_pg(this)">[[${pgn}]]</li>
		                </th:block>
		                
		                <li class="page-item page-link next" 
		                	th:classappend="${pageinfo.pageno >= pageinfo.page_ea_total} ? 'disabled' : ''" 
		                	th:attr="data-keyword=${keyword}, data-pageno=${pageinfo.pageno +1 } ,data-pea=${pageinfo.post_ea}, data-status=${#strings.arrayJoin(out_statusList, ',')}" 
		                	onclick="go_out_pg(this)" >
							<i class="bi bi-chevron-double-right"></i> 
						</li>
					</ul>
				</div>
				 <!-- 게시물개수 선택  -->
        <form id="obpg_frm">
        <input type="hidden" name="pageno" th:value="${pageno}">
        <input type="hidden" name="keyword" th:value="${keyword}">
       
        <div class="mt-4 ms-1">
        <select class="form-select" name="post_ea" onchange="outPostEa()">
            <option value="5"   th:selected="${pageinfo.post_ea} == '5'" >5개씩 보기</option>
            <option value="10"  th:selected="${pageinfo.post_ea} == '10'" >10개씩 보기</option>
            <option value="15"  th:selected="${pageinfo.post_ea} == '15'" >15개씩 보기</option>
            <option value="20"  th:selected="${pageinfo.post_ea} == '20'" >20개씩 보기</option>
            <option value="25"  th:selected="${pageinfo.post_ea} == '25'" >25개씩 보기</option>
            <option value="30"  th:selected="${pageinfo.post_ea} == '30'" >30개씩 보기</option>
          </select>
        </div>
          </form>
         </div>
				<!-- Action Buttons -->
				<div class="mt-4 d-flex gap-2">
					<div class="ms-auto">
						<button type="button" class="btn btn-success" onclick="addOutbound()">
							<i class="bi bi-plus-lg"></i> 수기등록
						</button>
					</div>
				</div>
			</div>

		</section>
	</main>


	<div id="modalContainer"></div>

	<footer th:replace="~{/common/footer.html :: footer}"></footer>

</body>
</html>