<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.noerror.Mapper.client_mapper">


<!-- 제품 전체 개수(+페이징,검색)  -->
<select id="client_total" resultType="int" parameterType="Map">
SELECT COUNT(*) FROM CLIENT_COMP
<choose>
  <!-- 거래처 -->
  <when test="type == null or type == 'client'">
     WHERE CLIENT_TYPE = '판매처' AND COM_USE_FLAG = 'Y'
<!--       <if test="keyword != null"> -->
<!--       </if> -->
  </when>
  
  <!-- 발주처 -->
  <when test="type =='p_client'">
     WHERE CLIENT_TYPE = '구매처' AND COM_USE_FLAG = 'Y'
  </when>
</choose>
</select>


<!-- 거래처 전체 리스트  -->
<select id="client_list" resultType="kr.co.noerror.DTO.client_DTO" parameterType="Map">
	SELECT * FROM CLIENT_COMP
	<choose>
		<!-- 거래처 -->
		<when test="type == null or type == 'client'">
		WHERE CLIENT_TYPE = '판매처' AND COM_USE_FLAG = 'Y'
		</when>
		
		<!-- 발주처 -->
		<when test="type == 'p_client'">
     	WHERE CLIENT_TYPE = '구매처' AND COM_USE_FLAG = 'Y'
     	</when>
	</choose>
	ORDER BY CIDX DESC
	OFFSET #{start} ROWS FETCH NEXT #{count} ROWS ONLY
</select>


<!-- 거래처 상세보기  -->
<select id="client_detail" resultType="kr.co.noerror.DTO.client_DTO" parameterType="Map">
	SELECT * FROM CLIENT_COMP WHERE COMPANY_CODE = #{COMPANY_CODE} AND CIDX = #{CIDX}
</select>

<!-- 거래처 고유코드 중복검사 -->
<select id="clt_code_dupl" resultType="int" parameterType="String">
	SELECT COUNT(*) AS CNT FROM CLIENT_COMP WHERE COMPANY_CODE = #{code}
</select>

<!-- 거래처 담당자 고유코드 중복검사 -->
<select id="mng_code_dupl" resultType="int" parameterType="String">
	SELECT COUNT(*) AS CNT FROM CLIENT_COMP WHERE MANAGER_CODE = #{code}
</select>


<!-- 거래처 등록  -->
<insert id="clt_insert"  parameterType="kr.co.noerror.DTO.client_DTO">
	INSERT INTO CLIENT_COMP 
	VALUES 
	(CLIENT_COMP_NO.NEXTVAL, #{COMPANY_CODE}, #{COMPANY_NAME}, #{CEO_NAME}, 
	#{BIZ_NUM}, #{BIZ_TYPE}, #{BIZ_ITEM}, 
	#{COM_ZIP}, #{COM_ADDR1}, #{COM_ADDR2, jdbcType=VARCHAR},
	#{COM_FILE_NM, jdbcType=VARCHAR}, #{COM_FILE_RENM, jdbcType=VARCHAR}, #{COM_API_FNM, jdbcType=VARCHAR},
	#{CLIENT_TYPE}, #{COM_MEMO, jdbcType=CLOB},
	#{MANAGER_CODE}, #{MANAGER_NAME},#{MNG_EMAIL}, #{MNG_TEL},
	#{MNG_PHONE}, #{MNG_FAX},#{MNG_PART}, #{MNG_POSITION},
	#{MNG_MEMO, jdbcType=CLOB}, #{COM_USE_FLAG}, SYSTIMESTAMP, NULL)
</insert>



<!-- 거래처 정보수정 -->
<update id="clt_modify" parameterType="kr.co.noerror.DTO.client_DTO">
	UPDATE CLIENT_COMP SET COMPANY_NAME = #{COMPANY_NAME}, CEO_NAME = #{CEO_NAME}, BIZ_NUM = #{BIZ_NUM},
	BIZ_TYPE = #{BIZ_TYPE}, BIZ_ITEM = #{BIZ_ITEM}, COM_ZIP=#{COM_ZIP}, COM_ADDR1 = #{COM_ADDR1}, COM_ADDR2 = #{COM_ADDR2, jdbcType=VARCHAR},
	<if test="COM_FILE_NM != null and COM_FILE_RENM != null and COM_API_FNM != null">
	COM_FILE_NM = #{COM_FILE_NM, jdbcType=VARCHAR}, COM_FILE_RENM = #{COM_FILE_RENM, jdbcType=VARCHAR}, COM_API_FNM = #{COM_API_FNM, jdbcType=VARCHAR},
	</if>
	COM_MEMO = #{COM_MEMO, jdbcType=CLOB}, MANAGER_NAME = #{MANAGER_NAME}, 
	MNG_EMAIL = #{MNG_EMAIL}, MNG_TEL = #{MNG_TEL}, MNG_PHONE = #{MNG_PHONE}, MNG_FAX = #{MNG_FAX},
	MNG_PART = #{MNG_PART}, MNG_POSITION = #{MNG_POSITION}, MNG_MEMO = #{MNG_MEMO, jdbcType=CLOB}, COM_USE_FLAG = #{COM_USE_FLAG},  
	COM_MODIFY_DATE = SYSTIMESTAMP 
	WHERE CIDX = #{CIDX} AND COMPANY_CODE = #{COMPANY_CODE}
</update>


<!-- 거래처 삭제 -->
<delete id="clt_delete"  parameterType="Map">
	DELETE FROM CLIENT_COMP 
	WHERE CIDX = #{CIDX} AND COMPANY_CODE = #{COMPANY_CODE}
</delete>


</mapper>