<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.noerror.Mapper.goods_mapper">

<!-- 완제품 식품분류 목록 출력 -->
<select id="pd_class_list" resultType="String" parameterType="Map">
	SELECT 
	<choose>
	<when test="key == 'aa'">
		DISTINCT PRODUCT_CLASS1 FROM PRODUCTS_CLASS 
	</when>
	<otherwise>
		PRODUCT_CLASS2 FROM PRODUCTS_CLASS WHERE PRODUCT_CLASS1 = #{PRODUCT_CLASS1}
	</otherwise>
	</choose>
	
</select>

</mapper>