<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.noerror.Mapper.inbound_mapper">
<!-- 고유코드 중복확인 -->
<select id="code_dupl_inb" resultType="int" parameterType="String">
	SELECT COUNT(*) AS CNT FROM INBOUND WHERE INBOUND_CODE = #{inb_code}
</select>

<!-- 자재입고등록 -->
<insert id="insert_inbnd" parameterType="kr.co.noerror.DTO.inbound_DTO">
    INSERT INTO INBOUND
    VALUES
    (INBOUND_NO.NEXTVAL, #{INBOUND_CODE}, #{PCH_CODE}, 
    #{ITEM_CODE}, #{ITEM_DEL}, #{ITEM_QTY}, #{ITEM_EXP}, 
    #{WH_CODE}, #{IN_STATUS}, #{INBOUND_DATE}, #{EMPLOYEE_CODE}, #{INB_MEMO}, SYSTIMESTAMP, NULL)
</insert>

<!-- 입고리스트 전체개수  -->
<select id="inbound_total" resultType="int" parameterType="Map">
<!-- 	SELECT COUNT(DISTINCT INBOUND_CODE) AS CNT FROM INBOUND -->
	SELECT COUNT (*) FROM PCH_INB_VIEW 
	 WHERE 1=1
    
<!-- 	<if test="IN_STATUS != null and IN_STATUS.size() > 0"> -->
    	AND IN_STATUS IN
    	<foreach item="statuslst" collection="IN_STATUS" open="(" separator="," close=")">
    	#{statuslst}
    	</foreach>
    	 <if test="keyword != null">
		      AND 
		      INBOUND_CODE LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      PCH_CODE LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      ITEM_CODE LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      ITEM_NAME LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      ITEM_SPEC LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      ITEM_UNIT LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      ITEM_CLASS1 LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      ITEM_CLASS2 LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      COMPANY_CODE LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      COMPANY_NAME LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      BIZ_NUM LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      WH_CODE LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      WH_NAME LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      EMPLOYEE_CODE LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%'
		    </if> 
<!--     </if> -->
</select>


<!-- 입고 전체 리스트 -->
<select id="inbound_all_list" resultType="kr.co.noerror.DTO.inbound_DTO" parameterType="Map">
	SELECT * FROM PCH_INB_VIEW
	 WHERE 1=1

<!--     <if test="IN_STATUS != null and IN_STATUS.size() > 0"> -->
		AND IN_STATUS IN
		<foreach item="statuslst" collection="IN_STATUS" open="(" separator="," close=")">
		  #{statuslst}
		</foreach>
			<if test="keyword!= null ">
		      AND 
		      INBOUND_CODE LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      PCH_CODE LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      ITEM_CODE LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      ITEM_NAME LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      ITEM_SPEC LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      ITEM_UNIT LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      ITEM_CLASS1 LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      ITEM_CLASS2 LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      COMPANY_CODE LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      COMPANY_NAME LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      BIZ_NUM LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      WH_CODE LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      WH_NAME LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%' OR
		      EMPLOYEE_CODE LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%'
			 </if>
<!--     </if> -->
	ORDER BY IIDX DESC
	OFFSET #{start} ROWS FETCH NEXT #{count} ROWS ONLY
</select>

<!-- 입고번호 중복 제거 -->
<!-- <select id="inbound_total2" resultType="int" parameterType="Map"> -->
<!-- 	SELECT COUNT (DISTINCT INBOUND_CODE) AS CNT FROM INBOUND -->
<!-- </select> -->

<!-- 입고 전체 리스트 중복제거 -->
<!-- <select id="inbound_all_list2" resultType="kr.co.noerror.DTO.inout_DTO" parameterType="Map"> -->
<!-- 	SELECT * -->
<!-- 	FROM ( -->
<!-- 	    SELECT * FROM INBOUND i1 -->
<!-- 	    WHERE IIDX = ( -->
<!-- 	        SELECT MAX(IIDX) FROM INBOUND i2 -->
<!-- 	        WHERE i2.INBOUND_CODE = i1.INBOUND_CODE -->
<!-- 	    ) -->
<!-- 	) -->
<!-- 	ORDER BY IIDX DESC -->
<!-- 	OFFSET #{start} ROWS FETCH NEXT #{count} ROWS ONLY -->
<!-- </select> -->

<!-- 입고 상세보기 모달  -->
<select id="inbound_detail" resultType="kr.co.noerror.DTO.inbound_DTO" parameterType="Map">
	SELECT * FROM PCH_INB_VIEW WHERE INBOUND_CODE = #{inbnd_code} AND PCH_CODE = #{pch_cd} 	
</select>

<!-- 입고상태 변경  -->
<select id="in_status_ck" resultType="int" parameterType="kr.co.noerror.DTO.inbound_DTO">
	SELECT COUNT(*) FROM INBOUND WHERE INBOUND_CODE = #{INBOUND_CODE} AND PCH_CODE = #{PCH_CODE} AND IN_STATUS = '입고완료'
</select>



<update id="inbound_ok" parameterType="kr.co.noerror.DTO.inbound_DTO">
UPDATE INBOUND SET IN_STATUS = #{IN_STATUS} WHERE INBOUND_CODE = #{INBOUND_CODE} AND PCH_CODE = #{PCH_CODE}
</update>

</mapper>