<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.noerror.Mapper.inout_mapper">
<!-- 고유코드 중복확인 -->
<select id="code_dupl_inb" resultType="int" parameterType="String">
	SELECT COUNT(*) AS CNT FROM INBOUND WHERE INBOUND_CODE = #{inb_code}
</select>

<insert id="insert_inbnd" parameterType="kr.co.noerror.DTO.inout_DTO">
    INSERT INTO INBOUND
    (IIDX, INBOUND_CODE, PCH_CODE, ITEM_CODE, ITEM_DEL, ITEM_QTY, ITEM_EXP, WH_CODE, IN_STATUS, INBOUND_DATE, EMPLOYEE_CODE, INB_MEMO, INSERT_DATE, MODIFY_DATE)
    VALUES
    (INBOUND_NO.NEXTVAL, #{INBOUND_CODE}, #{PCH_CODE}, #{ITEM_CODE}, #{ITEM_DEL}, #{ITEM_QTY}, #{ITEM_EXP}, #{WH_CODE}, #{IN_STATUS}, #{INBOUND_DATE}, #{EMPLOYEE_CODE}, #{INB_MEMO}, SYSTIMESTAMP, NULL)
</insert>

</mapper>