<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.noerror.Mapper.order_mapper">

<!-- 검색조건과 페이징 처리를 반영한 데이터 select -->
<select id="order_list" resultType="kr.co.noerror.DTO.order_DTO" parameterType="Map">
SELECT * FROM (
    SELECT inner_result.*, ROWNUM rnum
    FROM (
        SELECT ord.*, comp.company_name, mgr.manager_name
        FROM temp_order_request ord
        JOIN temp_client_comp comp ON ord.company_code = comp.company_code
        JOIN temp_client_manager mgr ON ord.manager_code = mgr.manager_code
        WHERE 1=1
        <choose>
	        <when test="scolumn == 'all'">
	            AND (
	                comp.company_name LIKE '%' || #{sword} || '%' OR
	                mgr.manager_name LIKE '%' || #{sword} || '%'
	            )
	        </when>
	        <when test="scolumn == 'company_name'">
	            AND comp.company_name LIKE '%' || #{sword} || '%'
	        </when>
	        <when test="scolumn == 'manager_name'">
	            AND mgr.manager_name LIKE '%' || #{sword} || '%'
	        </when>
        </choose>
        <if test="order_statuses != null and order_statuses.size > 0">
            AND order_status IN
            <foreach item="status" index="index" collection="order_statuses" open="(" separator="," close=")">
                #{status}
            </foreach>
        </if>
        ORDER BY ord.oidx DESC
    ) inner_result
    WHERE ROWNUM &lt; #{end}
)
WHERE rnum &gt; #{start}
</select>

<!-- 검색조건과 페이징 처리를 반영한 데이터 갯수 -->
<select id="order_count" resultType="int" parameterType="map">
SELECT COUNT(*) AS total
FROM temp_order_request ord
JOIN temp_client_comp comp ON ord.company_code = comp.company_code
JOIN temp_client_manager mgr ON ord.manager_code = mgr.manager_code
WHERE 1=1
    <choose>
     <when test="scolumn == 'all'">
         AND (
             comp.company_name LIKE '%' || #{sword} || '%' OR
             mgr.manager_name LIKE '%' || #{sword} || '%'
         )
     </when>
     <when test="scolumn == 'company_name'">
         AND comp.company_name LIKE '%' || #{sword} || '%'
     </when>
     <when test="scolumn == 'manager_name'">
         AND mgr.manager_name LIKE '%' || #{sword} || '%'
     </when>
    </choose>
    <if test="order_statuses != null and order_statuses.size > 0">
        AND order_status IN
        <foreach item="status" index="index" collection="order_statuses" open="(" separator="," close=")">
            #{status}
        </foreach>
    </if>
</select>

<!-- 거래처 목록 출력 -->
<select id="client_list" resultType="kr.co.noerror.DTO.temp_client_DTO">
SELECT
    comp.company_code,
    comp.company_name,
    comp.biz_num,
    mgr.manager_code,
    mgr.manager_name,
    mgr.phone_num
FROM
    temp_client_comp comp
JOIN
    temp_client_manager mgr ON comp.company_code = mgr.company_code
</select>

<!-- 제품 목록 출력 -->
<select id="products_list" resultType="kr.co.noerror.DTO.temp_products_DTO">
	SELECT * FROM temp_products
</select>

<!-- 주문정보 저장 -->
<insert id="insert_order" parameterType="kr.co.noerror.DTO.order_DTO" useGeneratedKeys="true" keyProperty="OIDX">
  INSERT INTO ORDERS (
    ORDER_CODE,
    PRODUCT_CODE,
    ORDER_QTY,
    COMPANY_CODE,
    COMPANY_NAME,
    MANAGER_NAME,
    ORDER_STATUS,
    DUE_DATE,
    MEMO,
    REQUEST_DATE,
    MODIFY_DATE
  ) VALUES (
    #{orderCode},
    #{productCode},
    #{orderQty},
    #{companyCode},
    #{companyName},
    #{managerName},
    #{orderStatus},
    #{dueDate},
    #{memo},
    #{requestDate},
    #{modifyDate}
  )
</insert>

</mapper>