<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.noerror.Mapper.outbound_mapper">

<!-- 고유코드 중복확인 -->
<select id="code_dupl_out" resultType="int" parameterType="String">
	SELECT COUNT(*) AS CNT FROM OUTBOUND WHERE OUTBOUND_CODE = #{out_code}
</select>

<!-- 출고 전체 리스트 -->
<select id="outbound_all_list" resultType="kr.co.noerror.DTO.outbound_DTO" parameterType="Map">
	SELECT DISTINCT OUTBOUND_CODE, ORD_CODE, WH_CODE, OUT_STATUS, 
	OUTBOUND_DATE, EMPLOYEE_CODE, OUT_INSERT_DATE, DUE_DATE, WH_NAME, COMPANY_CODE, COMPANY_NAME, ENAME
	FROM OUTBOUND_DTL_VIEW
	ORDER BY OIDX DESC
	OFFSET #{start} ROWS FETCH NEXT #{count} ROWS ONLY
</select>

<!-- 출고리스트등록 -->
<insert id="insert_outbnd" parameterType="kr.co.noerror.DTO.outbound_DTO">
    INSERT INTO OUTBOUND
    VALUES
    (OUTBOUND_NO.NEXTVAL, #{OUTBOUND_CODE}, #{ORD_CODE}, 
    #{OUT_STATUS}, #{OUTBOUND_DATE}, #{EMPLOYEE_CODE}, 
    #{OUT_MEMO}, SYSTIMESTAMP, NULL)
</insert>

<!-- 출고리스트등록(상세)-->
<insert id="insert_outbnd_dtl" parameterType="kr.co.noerror.DTO.outbound_DTO">
    INSERT INTO OUTBOUND_DETAIL
    VALUES
    (#{OUTBOUND_CODE}, #{ORD_CODE}, 
    #{PRODUCT_CODE}, #{OUT_PRODUCT_QTY}, SYSTIMESTAMP)
</insert>

<!-- 출고 상세보기 모달  -->
<select id="outbound_detail" resultType="kr.co.noerror.DTO.outbound_DTO" parameterType="Map">
	SELECT * FROM OUTBOUND_DTL_VIEW WHERE OUTBOUND_CODE = #{outbnd_code} AND ORD_CODE = #{ord_cd} 	
</select>


<!-- 완제품 출고되는 제품의 창고 정보  -->
<select id="outPd_info" resultType="kr.co.noerror.DTO.IOSF_DTO" parameterType="String">
	SELECT * FROM WAREHOUSE_FINISH WHERE PRODUCT_CODE = #{product_code} AND CHANGE_TYPE = '입고'  AND (MOVE_TYPE IS NULL) 
	ORDER BY INV_LOT
</select>



<!-- 완제품 출고처리 창고리스트에 반영 -->
<insert id="fs_warehouse_out" parameterType="Map">
	INSERT INTO WAREHOUSE_FINISH (
	    WFS_IDX,
	    WFS_CODE,
	    WH_CODE,
	    PLAN_CODE,
	    PRODUCT_CODE,
	    PD_QTY,
	    CHANGE_TYPE,
	    EMPLOYEE_CODE,
	    FS_INSERT_DATE,
	    FS_MODIFY_DATE,
	    MOVE_TYPE,
	    INV_LOT
	    
	) VALUES (
	    FS_WAREHOUSE_NO.NEXTVAL,
	    'WFS-' || LPAD(PLN_PDWH_TRG_NO.NEXTVAL, 5, '0'),
	    #{wh_code},
	    #{plan_code},
	    #{product_code},
	    #{pd_qty},
	   	'출고완료',
	    #{employee_code},
	    SYSTIMESTAMP,
	    NULL,
	    NULL,
	    #{inv_lot}
	)
</insert>






<select id="select_mrp_result" resultType="kr.co.noerror.DTO.mrp_result_DTO" parameterType="String">
	SELECT ITEM_CODE, REQUIRED_QTY
    FROM MRP_RESULT_DETAIL2 WHERE PLAN_CODE = #{PLAN_CODE} 
</select>


<!-- 부자재 출고되는 제품의 창고 정보  -->
<select id="outItm_info" resultType="kr.co.noerror.DTO.IOSF_DTO" parameterType="String">
	SELECT * FROM WAREHOUSE_MATERIAL WHERE ITEM_CODE = #{item_code} AND CHANGE_TYPE = '입고'  AND (MOVE_TYPE IS NULL) 
	ORDER BY INV_LOT
</select>

<!--  부자재 출고처리 창고리스트에 반영 -->
<insert id="mt_warehouse_out" parameterType="Map">
	INSERT INTO WAREHOUSE_MATERIAL (
	    WMT_IDX,
	    WMT_CODE,
	    WH_CODE,
	    INBOUND_CODE,
	    IND_PCH_CD,
	    ITEM_CODE,
	    ITEM_QTY,
	    CHANGE_TYPE,
	    EMPLOYEE_CODE,
	    MT_INSERT_DATE,
	    MT_MODIFY_DATE,
	    MOVE_TYPE,
	    INV_LOT
	    
	) VALUES (
	    MT_WAREHOUSE_NO.NEXTVAL,
	    'WMT-' || LPAD(WIN_CODE_SEQ.NEXTVAL, 5, '0'),
	    #{wh_code},
	    '-',
	    #{item_code},
	    #{item_qty},
	   	'출고완료',
	    #{employee_code},
	    SYSTIMESTAMP,
	    NULL,
	    NULL,
	    #{inv_lot}
	)
</insert>


</mapper>