<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.noerror.Mapper.purchase_mapper">

<select id="mrp_result_select" parameterType="String" resultType="kr.co.noerror.DTO.mrp_result_DTO">
 SELECT
    mrp.mrp_code,
    mrp.item_code,
    mrp.required_qty,
    mrp.available_stock,
    mrp.shortage_stock,
    itm.item_type,
    itm.item_name,
    itm.item_spec,
    itm.item_unit,
    itm.item_cost,
    itm.company_code, 
    cmp.company_name
 FROM mrp_result_detail mrp
 JOIN items itm ON mrp.item_code = itm.item_code
 LEFT JOIN client_comp cmp ON itm.company_code = cmp.company_code
 WHERE mrp.mrp_code = #{mrp_code}
</select>

<!-- pch_code 중복체크 -->
<select id="pch_code_check" parameterType="String" resultType="int">
 SELECT count(*) FROM purchase_req WHERE pch_code = #{pch_code}
</select>

<!-- 발주요청 정보 저장 -->  
<insert id="pchreq_insert" parameterType="kr.co.noerror.DTO.pchreq_DTO">
  INSERT INTO purchase_req (
    pch_code,
    company_code,
    pch_status,
    due_date,
    pay_amount,
    pay_method,
    ecode,
    memo,
    request_date,
    modify_date
  ) VALUES (
    #{pch_code},
    #{company_code},
    #{pch_status},
    #{due_date},
    #{pay_amount},
    #{pay_method},
    #{ecode},
    #{memo},
    SYSDATE,
    SYSDATE 
  )
</insert>

<!-- 발주요청 상세정보 저장 -->  
<insert id="pchreq_detail_insert" parameterType="kr.co.noerror.DTO.pchreq_detail_DTO">
  INSERT INTO purchase_req_detail (
    pch_code,
    item_code,
    item_qty
  ) VALUES (
    #{pch_code},
    #{item_code},
    #{item_qty}
  ) 
</insert>

<!-- 검색조건과 페이징 처리를 반영한 데이터 select -->
<select id="pchreq_paged_list" resultType="kr.co.noerror.DTO.pchreq_res_DTO" parameterType="Map">
SELECT * FROM (
    SELECT inner_result.*, ROWNUM rnum
    FROM (
        SELECT 
        	pch.pidx, 
        	pch.pch_code, 
        	pch.due_date, 
        	pch.pch_status, 
        	pch.request_date, 
        	pch.pay_amount,
        	cmp.company_code,
        	cmp.company_name, 
            cmp.manager_name
        FROM purchase_req pch
        LEFT JOIN client_comp cmp ON pch.company_code = cmp.company_code
        WHERE 1=1
		<if test="search_word != null and search_word != ''">
		  AND (
		      cmp.company_name LIKE '%' || #{search_word} || '%' OR
		      cmp.manager_name LIKE '%' || #{search_word} || '%'
		  )
		</if>
	    <if test="statuses != null and statuses.size() > 0">
	        AND pch.pch_status IN
	        <foreach item="status" index="index" collection="statuses" open="(" separator="," close=")">
	            #{status}
	        </foreach>
	    </if>
        ORDER BY pch.pidx DESC
    ) inner_result
    WHERE ROWNUM &lt; #{end}
)
WHERE rnum &gt; #{start}
</select>

<!-- 검색조건과 페이징 처리를 반영한 데이터 갯수 -->
<select id="pchreq_search_count" resultType="int" parameterType="kr.co.noerror.DTO.search_condition_DTO">
SELECT COUNT(*) AS total
	FROM purchase_req pch
	LEFT JOIN client_comp cmp ON pch.company_code = cmp.company_code
WHERE 1=1
	<if test="search_word != null and search_word != ''">
	  AND (
	      
	      cmp.company_name LIKE '%' || #{search_word} || '%' OR
	      cmp.manager_name LIKE '%' || #{search_word} || '%'
	  )
	</if>
    <if test="statuses != null and statuses.size() > 0">
        AND pch.pch_status IN
        <foreach item="status" index="index" collection="statuses" open="(" separator="," close=")">
            #{status}
        </foreach>
    </if>
</select>

<!-- 발주 상세정보 조회 -->
<select id="pchreq_detail" resultType="kr.co.noerror.DTO.pchreq_res_DTO" parameterType="String">
SELECT
    prd.pidx, 
    prd.pch_code, 
    prd.item_code, 
    itm.item_name,
    itm.item_spec,
    itm.item_unit, 
    prd.item_qty, 
    itm.item_cost,
    itm.item_class1,
    itm.item_class2,
    pch.due_date, 
    pch.pch_status, 
    pch.request_date, 
    pch.pay_amount,
    pch.pay_method,
    pch.memo,
    cmp.company_name, 
    cmp.biz_num,
    cmp.ceo_name,
    cmp.manager_name,
    cmp.mng_phone,
    cmp.com_addr1,
    cmp.com_addr2,
    emp.ename
FROM purchase_req_detail prd
JOIN purchase_req pch ON prd.pch_code = pch.pch_code
JOIN items itm ON prd.item_code = itm.item_code
LEFT JOIN client_comp cmp ON itm.company_code = cmp.company_code
LEFT JOIN employee emp ON pch.ecode = emp.ecode
WHERE prd.pch_code = #{pch_code}
</select>

<!-- 발주정보 수정 -->
<update id="pchreq_update" parameterType="kr.co.noerror.DTO.pchreq_DTO">
UPDATE purchase_req
SET
	due_date = #{due_date},
	pay_method = #{pay_method},
	ecode = #{ecode},
	memo = #{memo},
	modify_date = SYSDATE
WHERE pch_code = #{pch_code}
</update>

<update id="pchreq_detail_update" parameterType="kr.co.noerror.DTO.pchreq_detail_DTO">
UPDATE purchase_req_detail
SET
	item_qty = #{item_qty}
WHERE pch_code = #{pch_code}
  AND item_code = #{item_code} 
</update>

<!-- 발주상태 업데이트 -->
<update id="pch_status_update" parameterType="map">
UPDATE purchase_req
SET pch_status = #{pch_status}
WHERE pch_code = #{pch_code}
</update>

</mapper>