<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.noerror.Mapper.stock_mapper">


<!-- 입고창고 + 부자재창고 아이템별 재고수 -->
<select id="ind_item_stock" resultType="int" parameterType="String">
	SELECT SUM(ITEM_QTY) AS TOTAL_QTY
	FROM (
	  SELECT ITEM_QTY FROM WAREHOUSE_INB WHERE ITEM_CODE = #{ITEM_CODE}
	  UNION ALL
	  SELECT ITEM_QTY FROM WAREHOUSE_MATERIAL WHERE ITEM_CODE = #{ITEM_CODE}
	);
</select>




</mapper>