<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<title>BOM 등록</title>
<body>
	<header th:replace="~{/common/header.html :: header}"></header>

	<main class="main">
		<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>


		<div class="container mt-5">
			<h2 class="mb-4">BOM 등록</h2>
			
			<div class="row ">
			<!-- 완제품 정보 -->
			<div class="col-md-10">
				<div class="row mb-2 d-flex">
					<div class="col-md-3 mb-2 ">
						<label class="form-label ">제품코드</label> 
						<input type="text" class="form-control" id="product_code" 
								th:value="${bom_pd != null} ? ${bom_pd.PRODUCT_CODE} : ''" 
								th:attr="readonly=${bom_pd != null}" />
					</div>
					<div class="col-md-3">
						<label class="form-label">제품명</label> 
						<input type="text" class="form-control" id="product_name" 
								th:value="${bom_pd != null} ? ${bom_pd.PRODUCT_NAME} : ''" 
								th:attr="readonly=${bom_pd != null}" />
					</div>
					<div class="col-md-2">
						<label class="form-label">제품유형</label> 
						<input type="text" class="form-control" id="product_type" 
								th:value="${bom_pd != null} ? ${bom_pd.PRODUCT_TYPE} : ''" 
								th:attr="readonly=${bom_pd != null}" />
					</div>
					<div class="col-md-2">
						<label class="form-label">대분류</label> 
						<input type="text" class="form-control" id="" 
								th:value="${bom_pd != null} ? ${bom_pd.PRODUCT_CLASS1} : ''" 
								th:attr="readonly=${bom_pd != null}" />
					</div>
					<div class="col-md-2">
						<label class="form-label">소분류</label> 
						<input type="text" class="form-control" id="" 
								th:value="${bom_pd != null} ? ${bom_pd.PRODUCT_CLASS2} : ''" 
								th:attr="readonly=${bom_pd != null}" />
					</div>
				</div>
				
				<div class="row mb-2">
					<div class="col-md-2">
						<label class="form-label">제품규격</label> 
						<input type="text" class="form-control" id="" 
								th:value="${bom_pd != null} ? ${bom_pd.PRODUCT_SPEC} : ''" 
								th:attr="readonly=${bom_pd != null}" />
					</div>
					<div class="col-md-2">
						<label class="form-label">제품단위</label> 
						<input type="text" class="form-control" id="" 
								th:value="${bom_pd != null} ? ${bom_pd.PRODUCT_UNIT} : ''" 
								th:attr="readonly=${bom_pd != null}" />
					</div>
					<div class="col-md-2">
						<label  class="form-label">제품단가</label> 
						<input type="text" class="form-control text-end"  
								th:value="${bom_pd != null} ? |${#numbers.formatInteger(bom_pd.PRODUCT_COST, 0, 'COMMA')}원| : ''" 
								th:attr="readonly=${bom_pd != null}" />
					</div>
					<div class="col-md-2 ">
						<label class="form-label">판매가</label> 
						<input type="text" class="form-control text-end" 
								th:value="${bom_pd != null} ? ${#numbers.formatInteger(bom_pd.PRODUCT_PRICE,0,'COMMA')+'원'} : ''" 
								th:attr="readonly=${bom_pd != null}" /> 
					</div>
					<div class="col-md-2" >
						<label class="form-label">비고</label> 
						<input type="text" class="form-control"   style="width: 180%;"
								th:value="${bom_pd != null} ? ${bom_pd.PD_MEMO} : ''" 
								th:attr="readonly=${bom_pd != null}" />  
					</div>
					<div class="col-md-2 d-flex align-items-end justify-content-end"  >
				<button type="button"
						th:class="${bom_pd != null} ? 'btn btn-secondary' : 'btn btn-primary'"
						th:disabled="${bom_pd != null}">
						<i class="bi bi-search"></i>
					</button>
					</div>
				</div>
				
				<div class="row mb-2">
				</div>
				
				
				<!-- 부자재 데이터 등록 -->
				<h5 class="mt-4">부자재 목록</h5>
				<table class="table table-bordered align-middle">
					<thead class="table-light">
						<tr class="text-center">
							<th style="width: 10%;">자재 코드</th>
							<th style="width: 10%;">자재명</th>
							<th style="width: 10%;">대분류</th>
							<th style="width: 10%;">소분류</th>
							<th style="width: 10%;">규격</th>
							<th style="width: 10%;">단가</th>
							<th style="width: 10%;">구매처</th>
							<th style="width: 10%;">소요수량</th>
							<th style="width: 10%;">단위</th>
							<th style="width: 5%;">삭제</th>
						</tr>
					</thead>
					<tbody id="bom_items">
						<tr class="item_add_row">
							<td>
								<input type="text" class="form-control item_code" placeholder="자재 코드" readonly>
							</td>
							<td>
								<input type="text" class="form-control item_name" placeholder="자재명" readonly>
							</td>
							<td>
								<input type="text" class="form-control" placeholder="대분류" readonly>
							</td>
							<td>
								<input type="text" class="form-control"  placeholder="소분류" readonly>
							</td>
							<td>
								<input type="text" class="form-control"  placeholder="규격" readonly>
							</td>
							<td>
								<input type="text" class="form-control" placeholder="구매가" readonly>
							</td>
							<td>
								<input type="text" class="form-control"  placeholder="구매처" readonly>
							</td>
							<td>
								<input type="text" class="form-control"  min="1" placeholder="소요수량">
							</td>
							<td>
								<select class="form-select">
									<option>선택</option>
									<option>ea</option>
									<option>g</option>
									<option>ml</option>
								</select>
							</td>
							<td class="text-center">
								<button type="button" class="btn btn-danger btn-sm"  onclick="removeRow(this)">삭제</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="d-flex flex-column flex-md-row align-items-center  justify-content-between  mb-3">
				<div class="d-flex align-items-center" >
					<button type="button" class="btn btn-secondary " 
							onclick="openItemList('bomPage')" >자재 추가</button>
				</div>
				
				<div class="d-flex justify-content-end">
					<button type="button" class="btn btn-primary" onclick="bomSave()"><i class="bi bi-plus-lg"></i>저장</button>
					<button type="button" class="btn btn-outline-secondary ms-2" onclick="resetBtn()"><i class="bi bi-x-circle"></i> 초기화</button>
				</div>
				</div>
				
				</div>
				
			
				
				
				<div class="col-md-2 bom_prev card-body tree">
				<ul id="bomTree">
                        <li >
                            <strong id="bom_top_pd"></strong>
                            <ul id="bom_tr">
                               
                            </ul>
                        </li>
                    </ul>
				
				</div>
				</div>
		</div>
	</main>
	<div id="modalContainer"></div>
</body>
</html>