<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<title>BOM 상세</title>
<body>
<header th:replace="~{/common/header.html :: header}"></header>

<main class="main">
<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>


<div class="container py-4">
    <h2 class="mb-4">BOM 상세 조회</h2>
    <div class="my-3  d-flex gap-2"> 
        <div class="ms-auto">
            <button type="button"  class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal" id="openModalBtn"><i class="bi bi-pencil-square"></i>BOM 수정</button>
            <button class="btn btn-danger"><i class="bi bi-trash"></i> BOM 삭제</button>
        </div>
    </div>
    
</div>

</main>

<footer th:replace="~{/common/footer.html :: footer}"></footer>
</body>
</html>