<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<title>BOM 리스트</title>
<body>
<header th:replace="~{/common/header.html :: header}"></header>

<main class="main">
<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>
<section class="container ">
    <!-- Title -->
    <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
    	<h2 class="mb-1">BOM 관리</h2>
    </div>
        
	<div class="row align-items-center justify-content-end my-4">
  <!-- 검색창 영역 -->
  <div class="col-auto">
      <div class="col-auto d-flex"  >
       
       <form id="frm_class" class="row g-1 align-items-center" onsubmit="return bomSearch()">
        <!-- 분류로 검색 -->
       <input type="hidden" name="type" id="goods_type" value="product">
      <div class="input-group input-group-sm me-0" style="width: 200px;">
          <select class="form-select" id="lm_class" onchange="lcSc(this.value)">
            <option value="">대분류</option>
             <option th:each="l_class : ${lclass}" th:value="${l_class}"  th:text="${l_class}" th:selected="${l_class} == ${lclass_ck}"></option>
          </select>
          <select class="form-select" id="products_class2" name="products_class2" onchange="class_sch('bom')">
            <th:block >
            <option value="" th:if="${sclass == null}" >소분류</option>
            <option th:each="s_list : ${slist}" th:if="${sclass != null}" th:value="${s_list}" th:text="${s_list}" th:selected="${s_list} == ${sclass}" ></option>
            </th:block>
          </select>
        </div>

		 <!-- 키워드로 검색 -->
        <div class="input-group input-group-sm" style="width:250px;">
          <input type="text" class="form-control" id="keyword" name="keyword" th:value="${keyword}" placeholder="전체 검색">
          <button class="btn btn-primary" >
            <i class="bi bi-search"></i>
          </button>
        </div>
          </form>
      </div>
  </div>
</div>


        <!-- bom List Table -->
     	<div id="contents_container">
        <div id="table-container" class="table-responsive  rounded" th:fragment="bomList(bom_total, bom_all_list, mode)" style="width: 100%; overflow-x: auto;">
            <table class="table align-middle table-bordered text-center" style="white-space: nowrap;"th:classappend="${bom_total != 0} ? 'table-hover' : ''">
                <thead class="table-light" >
                    <tr>
                        <th scope="col"><input type="checkbox" disabled ></th>
                        <th scope="col">#</th>
                        <th scope="col">IMG</th>
                        <th scope="col">제품코드</th>
                        <th scope="col">제품명</th>
                        <th scope="col">제품유형</th>
                        <th scope="col">대분류</th>
                        <th scope="col">소분류</th>
                        <th scope="col">규격</th>
                        <th scope="col">단위</th>
                        <th scope="col">단가 (원)</th>
                        <th scope="col">판매가 (원)</th>
                        <th scope="col">재고합계</th>
                        <th scope="col">사용</th>
                    </tr>
                </thead>
                <tbody >
                
                	<tr th:if="${bom_total == 0}" >
                		<td class="text-center no_list_tb" colspan="14"> BOM이 등록된 상품이 없습니다. </td>
                	</tr>
                	
                    <tr th:if="${bom_total != 0}" th:each="bomlist, idx : ${bom_all_list}" 
                    	th:data-pdcode="${bomlist.PRODUCT_CODE}" th:data-idx="${bomlist.PIDX}" 
                    	th:attr="
							     data-name=${bomlist.PRODUCT_NAME},
							     data-class1=${bomlist.PRODUCT_CLASS1},
							     data-class2=${bomlist.PRODUCT_CLASS2},
							     data-spec=${bomlist.PRODUCT_SPEC},
							     data-unit=${bomlist.PRODUCT_UNIT},
							     data-cost=${bomlist.PRODUCT_COST},
							     data-price=${bomlist.PRODUCT_PRICE}"
                    	onclick="bomDetailOpen(this)"  style="cursor: pointer;">
                        <td onclick="event.stopPropagation()">
                        	<input type="checkbox"  th:name="${mode == 'modal'} ? 'bomSelected' : 'bom_select'" class="sb" th:attr="data-etccode=${bomlist.BOM_CODE}, data-pdcode=${bomlist.PRODUCT_CODE}" data-type="bom"></td>
                        <td > [[${bno - idx.index}]]</td>
                        <td class="p-0">
<!-- 							<img th:if="${bomlist.PD_API_FNM != null}"  th:src="@{'http://localhost:8081/img_attach/' + ${bomlist.PD_FILE_RENM}" style="width:50px;"> -->
                        	<img th:if="${bomlist.PD_API_FNM == null}" th:src="@{./img/no-image.svg}" style="width:50px;">
                        </td>
                        <td class="pd_code" >[[${bomlist.PRODUCT_CODE}]]</td>
                        <td class="text-start">[[${bomlist.PRODUCT_NAME}]]</td>
                        <th:block>
                        <td th:if="${bomlist.PRODUCT_TYPE == 'product'}" >완제품</td>
                        <td th:if="${bomlist.PRODUCT_TYPE == 'half'}" >반제품</td>
                        </th:block>
                        <td>[[${bomlist.PRODUCT_CLASS1}]]</td>
                        <td>[[${bomlist.PRODUCT_CLASS2}]]</td>
                         <td>[[${bomlist.PRODUCT_SPEC}]]</td>
                        <td>[[${bomlist.PRODUCT_UNIT}]]</td>
                        <td class="text-end">[[${#numbers.formatInteger(bomlist.PRODUCT_COST,0,'COMMA')}]] </td>
                        <td class="text-end">[[${#numbers.formatInteger(bomlist.PRODUCT_PRICE,0,'COMMA')}]] </td>
                        <td>재고합계</td>
                        <td>[[${bomlist.PD_USE_FLAG}]]</td>
                    </tr>
                </tbody>
            </table>
        </div>
       

      <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">

        <div class="d-flex">
    <!-- Pagination -->

    <input type="hidden" name="t">
        <div class="mt-4 d-flex justify-content-center" aria-label="Page navigation" th:fragment="bomPgList(bomMode)">
            <ul class="pagination">
                <li class="page-item page-link prev"  
                	th:classappend="${1 >= pageno} ? 'disabled' : ''"
                	th:attr="data-pageno=1, data-keyword=${keyword}, data-pea=${pageinfo.post_ea}, data-sclass = ${sclass}" 
                	onclick="go_bom_pg(this)"
                	th:onclick="${bomMode == 'bomPageing'} ? 'bom_modal_pg(this)' : 'go_bom_pg(this)'" >
					<i class="bi bi-chevron-double-left"></i> </li>
					
				<li class="page-item page-link " 
					th:if="${pageinfo.start_pg > 1}"  
                	th:classappend="${1 >= pageno} ? 'disabled' : ''"
                	th:attr="data-pageno=${pageinfo.start_pg - 2}, data-keyword=${keyword}, data-pea=${pageinfo.post_ea}, data-sclass = ${sclass}" 
                	onclick="go_bom_pg(this)"
                	th:onclick="${bomMode == 'bomPageing'} ? 'bom_modal_pg(this)' : 'go_bom_pg(this)'" >
					<i class="bi bi-chevron-left"></i> </li>
					
                
                <th:block th:each="pgn : ${#numbers.sequence(pageinfo.start_pg, pageinfo.end_pg)}"  >
                <li class="page-item page-link pgnum" th:classappend ="${pageno == pgn} ? 'curpg' : ''" 
                	th:attr="data-keyword=${keyword}, data-pageno=${pgn},data-pea=${pageinfo.post_ea}, data-sclass = ${sclass}" 
                	onclick="go_bom_pg(this)"
                	th:onclick="${bomMode == 'bomPageing'} ? 'bom_modal_pg(this)' : 'go_bom_pg(this)'" >[[${pgn}]]</li>
                </th:block>
                
                <li class="page-item page-link " 
                	th:if="${pageinfo.end_pg < pageinfo.page_ea_total}"
                	th:classappend="${pageno >= pageinfo.page_ea_total} ? 'disabled' : ''" 
                	th:attr="data-keyword=${keyword}, data-pageno=${pageinfo.end_pg + 2},data-pea=${pageinfo.post_ea}, data-sclass = ${sclass}" 
                	onclick="go_bom_pg(this)" 
                	th:onclick="${bomMode == 'bomPageing'} ? 'bom_modal_pg(this)' : 'go_bom_pg(this)'" >
					<i class="bi bi-chevron-right"></i> </li>
					
                <li class="page-item page-link next" 
                	th:classappend="${pageno >= pageinfo.page_ea_total} ? 'disabled' : ''" 
                	th:attr="data-keyword=${keyword}, data-pageno=${pageinfo.page_ea_total},data-pea=${pageinfo.post_ea}, data-sclass = ${sclass}" 
                	onclick="go_bom_pg(this)" 
                	th:onclick="${bomMode == 'bomPageing'} ? 'bom_modal_pg(this)' : 'go_bom_pg(this)'" >
					<i class="bi bi-chevron-double-right"></i> </li>
            </ul>
        </div>
        
        <!-- 게시물개수 선택  -->
        <form id="bompg_frm">
        <input type="hidden" name="pageno" th:value="${pageno}">
        <div class="mt-4 ms-1">
        <select class="form-select" name="post_ea" onchange="bompostEa()">
            <option value="5"   th:selected="${pageinfo.post_ea} == '5'" >5개씩 보기</option>
            <option value="10"  th:selected="${pageinfo.post_ea} == '10'" >10개씩 보기</option>
            <option value="15"  th:selected="${pageinfo.post_ea} == '15'" >15개씩 보기</option>
            <option value="20"  th:selected="${pageinfo.post_ea} == '20'" >20개씩 보기</option>
            <option value="25"  th:selected="${pageinfo.post_ea} == '25'" >25개씩 보기</option>
            <option value="30"  th:selected="${pageinfo.post_ea} == '30'" >30개씩 보기</option>
          </select>
        </div>
          </form>
         </div>
      
       
        
        <!-- Action Buttons -->
        <div class="mt-4 d-flex gap-2"> 
            <div class="ms-auto">
                <button type="button"  class="btn btn-success" onclick="addBom()"><i class="bi bi-plus-lg"></i> 추가</button>
                <button class="btn btn-danger"  onclick="bomDelete()"><i class="bi bi-trash"></i> 삭제</button>
            </div>
        </div>
	</div>
	</div>
    </section>

  
</main>


<div id="modalContainer"></div>
<div id="modalContainer2"></div>
<footer th:replace="~{/common/footer.html :: footer}"></footer>

</body>
</html>