<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/config.html :: config}">
</head>
<body>
<header th:replace="~{/header.html :: header}"></header>

<main class="main">
<section th:replace="~{/breadcrumb.html :: breadcrumb}"></section>
<section class="container ">
        <!-- Title -->
        <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
        	<h2 class="mb-1">품목 등록</h2>
        </div>
<div class="form-section">
<div class="row">
	    <!-- 이미지 업로드 -->
	<div class="col-md-3 d-flex flex-column align-items-end">
			<!-- 미리보기 네모칸 -->
		  <div class="image-box mb-2" >
		    <img id="previewImage" src="" alt="이미지 미리보기" style="max-width: 100%; max-height: 100%;">
		  </div>
		
		  <!-- 파일 선택 input -->
		  <input type="file" id="productImage" class="form-control"  accept="image/*" onchange="previewFile()" style="width: 250px; ">
	</div>

<!-- 제품 정보 입력 -->
<div class="col-md-9">
	<div class="row mb-3">
		<div class="col-md-4">
			<label>제품유형</label>
			<select class="form-select" required>
				<option value="">선택</option>
				<option>완제품</option>
				<option>부자재</option>
				<option>소모품</option>
			</select>
		</div>
		<div class="col-md-4">
			<label>대분류</label>
			<select class="form-select" required>
				<option value="">선택</option>
				<option>전자제품</option>
				<option>의류</option>
				<option>식품</option>
			</select>
		</div>
		<div class="col-md-4">
			<label>소분류</label>
			 <select class="form-select" required>
				<option value="">선택</option>
				<option>스마트폰</option>
				<option>셔츠</option>
				<option>과자</option>
			</select>
		</div>
	</div>


	<div class="row mb-3">
		<div class="col-md-5">
			 <label class="form-label">제품명</label>
			<input type="text" class="form-control" required>
		</div>
		<div class="col-md-2">
			<label class="form-label">제품규격</label>
	        <input type="text" class="form-control">
		</div>
		<div class="col-md-2">
			<label  class="form-label">제품단위</label>
			<input type="text" class="form-control">
		</div>
		<div class="col-md-2">
			<label  class="form-label">적정재고</label>
			<input type="text" class="form-control">
		</div>
		
	</div>

	<div class="row mb-3">
		<div class="col-md-2">
			<label  class="form-label">사용여부</label>
			<div>
				<input type="radio" id="useY" name="use" value="Y">
				<label for="useY"> 사용 </label>
				<input type="radio" id="useN" name="use" value="N">
				<label for="useN"> 미사용 </label>
			</div>
		</div>
		<div class="col-md-2">
			<label  class="form-label">유통기한</label> 
			<div>
				<input type="radio" id="expireY" name="expire" value="Y">
				<label for="expireY"> 사용 </label>
				<input type="radio" id="expireN" name="expire" value="N">
				<label for="expireN"> 미사용 </label>
			</div>
		</div>
		<div class="col-md-2">
			<label  class="form-label">제품단가</label>
			<input type="number" class="form-control">
		</div>
		<div class="col-md-2">
			<label  class="form-label">판매가</label>	<!-- 완제품 등록일 경우 노출 -->
			<input type="number" class="form-control">
		</div>
	</div>
	<div class="row mb-3">	<!-- 부자재 등록일 경우 노출 -->
		<div class="col-md-2">
			<label class="form-label">거래처고유코드</label> 
			<input type="text" class="form-control">
		</div>
		<div class="col-md-4">
			<label class="form-label">거래처명</label> 
			<input type="text" class="form-control">
		</div>
	</div>
	
	<div class="row mb-3">
		<label class="form-label">비고</label>
		<textarea class="form-control" rows="2"></textarea>
	</div>
	
	
</div>
</div>
<!-- Action Buttons -->
	<div class="d-flex justify-content-end  gap-2 mt-4">
	<button type="button" class="btn btn-primary">저장</button>
	<button type="reset" class="btn btn-outline-secondary ms-2">초기화</button>
	</div>

</div>
</section>
</main>


<div id="modalContainer"></div>

<footer th:replace="~{/footer.html :: footer}"></footer>

</body>
</html>