<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<title>자재 등록</title>
<body>
<header th:replace="~{/common/header.html :: header}"></header>

<main class="main">
<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>
<section class="container ">
        <!-- Title -->
        <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
        	<h2 class="mb-1">품목 등록</h2>
        </div>
<div class="form-section">
<div class="row">
	    <!-- 이미지 업로드 -->
	<div class="col-md-3 d-flex flex-column align-items-end">
			<!-- 미리보기 네모칸 -->
		  <div class="image-box mb-2" >
		    <img id="previewImage" src="" alt="이미지 미리보기" style="max-width: 100%; max-height: 100%;">
		  </div>
		
		  <!-- 파일 선택 input -->
		  <input type="file" id="productImage" class="form-control"  accept="image/*" onchange="previewFile()" style="width: 250px; ">
	</div>

<!-- 제품 정보 입력 -->
<div class="col-md-9">
	<div class="row mb-3">
		<div class="col-md-4">
			<label class="form-label">제품유형</label>
			<select class="form-select" id="goods_type" onchange="goods_type()">
				<option value="">선택</option>
				<option value="부자재">부자재</option>
				<option value="소모품">소모품</option>
			</select>
		</div>
		<div class="col-md-4">
			<label class="form-label">대분류</label>
			<select class="form-select" name="goods_class1" id="goods_class1" onchange="lg_class()">
				<option value="" >선택</option>
				<option th:value="${l_class}" th:each="l_class : ${l_class}">[[${l_class}]]</option>
			</select>
		</div>
		<div class="col-md-4">
			<label class="form-label">소분류</label>
			 <select class="form-select" id="goods_class2">
				<option value="">선택</option>
				<option th:value="${s_class}" th:each="s_class : ${s_class}">[[${s_class}]]</option>
			</select>
		</div>
	</div>


	<div class="row mb-3">
		<div class="col-md-5">
			 <label class="form-label">제품명</label>
			<input type="text" class="form-control" required>
		</div>
		<div class="col-md-2">
			<label class="form-label">제품규격</label>
	        <input type="text" class="form-control">
		</div>
		<div class="col-md-2">
			<label  class="form-label">제품단위</label>
			<select class="form-select" required>
				<option>ea</option>
				<option>g</option>
				<option>ml</option>
			</select>
		</div>
		<div class="col-md-2">
			<label  class="form-label">안전재고</label>
			<input type="number" min="1" class="form-control">
		</div>
		
	</div>

	<div class="row mb-3">
		<div class="col-md-2">
			<label  class="form-label">사용여부</label>
			<div>
				<input type="radio" id="useY" name="use" value="Y">
				<label for="useY"> 사용 </label>
				<input type="radio" id="useN" name="use" value="N">
				<label for="useN"> 미사용 </label>
			</div>
		</div>
		<div class="col-md-2">
			<label  class="form-label">유통기한</label> 
			<div>
				<input type="radio" id="expireY" name="expire" value="Y">
				<label for="expireY"> 사용 </label>
				<input type="radio" id="expireN" name="expire" value="N">
				<label for="expireN"> 미사용 </label>
			</div>
		</div>
		<div class="col-md-2">
			<label  class="form-label">제품단가</label>
			<input type="number" class="form-control">
		</div>
	</div>
	
	
	<!-- 부자재 등록일 경우 노출 -->
	
	<div class="row mb-3">
	<div class="col-auto d-flex align-items-end pe-0">
				<button class="btn btn-primary" type="button">
					<i class="bi bi-search"></i>
				</button>
				</div>
				<div class="col-md-2">
					<label class="form-label">거래처코드</label> 
					<input type="text" class="form-control">
				</div>
				<div class="col-md-3">
					<label class="form-label">거래처명</label> 
					<input type="text" class="form-control">
				</div>
					<div class="col-md-3">
					<label class="form-label">담당자명</label> 
					<input type="text" class="form-control">
				</div>
				<div class="col-md-3">
					<label class="form-label">연락처</label> 
					<input type="text" class="form-control">
				</div>
	</div>
	 
	
	<div class="row mb-3">
		<label class="form-label">비고</label>
		<textarea class="form-control" rows="2"></textarea>
	</div>
	
	
</div>
</div>
<!-- Action Buttons -->
	<div class="d-flex justify-content-end  gap-2 mt-4">
	<button type="button" class="btn btn-primary" id="saveBtn">저장</button>
	<button type="reset" class="btn btn-outline-secondary ms-2" id="resetBtn">초기화</button>
	</div>
</div>
</section>
</main>



<footer th:replace="~{/common/footer.html :: footer}"></footer>

</body>
</html>