<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<body>
<header th:replace="~{/common/header.html :: header}"></header>

<main class="main">
<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>
<section class="container ">
        <!-- Title -->
        <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
        	<h2 class="mb-1">품목 관리</h2>
        </div>

	
	<div class="row align-items-center justify-content-between mt-3">
  <!-- 토글 버튼 영역 -->
  <div class="col-auto  mb-3">
    <div id="list-type" style="border-radius: 15px; border: 1px solid #82CCDD; display: flex; justify-content: space-evenly; width: 350px;">
      <button id="product-list" class="toggle_btns" onclick="toggleButton(1)" style="background: transparent; color: #000;">완제품</button>
      <button id="item-list" class="toggle_btns" onclick="toggleButton(2)"   style="background: #82CCDD; color: #fff;">부자재</button>
      <button id="consum-list" class="toggle_btns" onclick="toggleButton(3)"  style="background: transparent; color: #000;">소모품</button>
    </div>
  </div>

  <!-- 검색창 영역 -->
  <div class="col-auto">
    <form class="row g-2 align-items-center">
      <div class="col-auto">
        <div class="input-group input-group-sm">
          <select class="form-select" style="max-width: 120px;">
            <option selected>전체</option>
            <option value="1">발주처명</option>
            <option value="2">담당자</option>
          </select>
          <input type="text" class="form-control" placeholder="검색">
          <button class="btn btn-primary" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div >

        <!-- Client List Table -->
        <div id="table-container" class="table-responsive  rounded">
            <table class="table table-hover align-middle table-bordered">
                <thead class="table-light">
                    <tr>
                        <th scope="col"><input type="checkbox"></th>
                        <th scope="col">#</th>
                        <th scope="col">이미지</th>
                        <th scope="col">제품명</th>
                        <th scope="col">제품유형</th>
                        <th scope="col">대분류</th>
                        <th scope="col">소분류</th>
                        <th scope="col">규격</th>
                        <th scope="col">단위</th>
                        <th scope="col">발주처</th>
                        <th scope="col">단가</th>
                        <th scope="col">재고합계</th>
                        <th scope="col">사용여부</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td><input type="checkbox"></td>
                        <td>5</td>
                        <td>삼성전자</td>
                        <td>010-1234-5678</td>
                        <td>hong@samsung.com</td>
                        <td>서울특별시 강남구</td>
                        <td>-</td>
                         <td>4</td>
                        <td>홍길동</td>
                        <td>010-1234-5678</td>
                        <td>hong@samsung.com</td>
                        <td>서울특별시 강남구</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
</div>



      <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
  		<!-- Pagination -->
        <div class="mt-4 d-flex justify-content-center" aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item disabled"><a class="page-link" href="#">이전</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">다음</a></li>
            </ul>
        </div>
        
        <!-- Action Buttons -->
        <div class="mt-4 d-flex gap-2"> 
            <div class="ms-auto">
                <button type="button"  class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal" id="openModalBtn"><i class="bi bi-plus-lg"></i> 추가</button>
                <button class="btn btn-danger"><i class="bi bi-trash"></i> 삭제</button>
            </div>
        </div>
	</div>
    </section>

   
</main>


<div id="modalContainer"></div>

<footer th:replace="~{/common/footer.html :: footer}"></footer>

</body>
</html>