<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<title>부자재 등록</title>
<body>
<header th:replace="~{/common/header.html :: header}"></header>

<main class="main">
<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>
<section class="container ">
        <!-- Title -->
        <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
        	<h2 class="mb-1">부자재 등록</h2>
        </div>
       <!-- 우상단 x 마크  -->     
		<div class="d-flex flex-column flex-md-row align-items-md-center justify-content-end me-2">
		<button type="button" class="btn-close" aria-label="Close" onclick="goBack()"></button>
		</div>
		
<div class="form-section">
<div class="row">
	    <!-- 이미지 업로드 -->
	<div class="col-md-3 d-flex flex-column align-items-end mt-4">
			<!-- 미리보기 네모칸 -->
		  <div class="image-box mb-2" >
		    <img id="previewImage" src="./img/no-image.svg" alt="이미지 미리보기" style="max-width: 100%; max-height: 100%;">
		  </div>
		
		  <!-- 파일 선택 input -->
		  <input type="file" id="itemImage" class="form-control"  accept="image/*" onchange="previewFile('item')" style="width: 250px; ">
	</div>

<!-- 제품 정보 입력 -->
<div class="col-md-9">
<div class="text-end mb-3">* : 필수입력</div>
	<div class="row mb-3">
		<div class="col-md-4">
			<label class="form-label">제품유형*</label>
			<select class="form-select" id="goods_type" onchange="goodsType(this.value)">
				<option value="">선택</option>
				<option value="item">부자재</option>
			</select>
		</div>
		<div class="col-md-4">
			<label class="form-label">대분류*</label>
			<select class="form-select" name="products_class1" id="products_class1" onchange="lcSc(this.value)">
				<option value="" >선택</option>
			</select>
		</div>
		<div class="col-md-4">
			<label class="form-label">소분류*</label>
			 <select class="form-select" id="products_class2">
				<option value="">선택</option>
			</select>
		</div>
	</div>


	<div class="row mb-3">
		<div class="col-md-5">
			 <label class="form-label">제품명*</label>
			<input type="text" class="form-control" id="product_name">
		</div>
		<div class="col-md-2">
			<label class="form-label">제품규격*</label>
	        <input type="text" class="form-control" id="product_spec">
		</div>
		<div class="col-md-2">
			<label  class="form-label">제품단위*</label>
			<select class="form-select" id="product_unit">
				<option value="">선택</option>
				<option value="ea">ea</option>
				<option value="g">g</option>
				<option value="ml">ml</option>
			</select>
		</div>
		<div class="col-md-2">
			<label  class="form-label">안전재고</label>
			<input type="text" min="1" class="form-control" id="pd_safe_stock">
		</div>
		
	</div>

	<div class="row mb-3">
		<div class="col-md-2 pe-0 me-2">
			<label  class="form-label">사용여부*</label>
			<div class="ms-2 mt-1">
				<label ><input type="radio" id="useY" name="use_flag" value="Y"> 사용 &nbsp;</label>
				<label ><input type="radio" id="useN" name="use_flag" value="N"> 미사용 </label>
			</div>
		</div>
		<div class="col-md-2 pe-0 me-2">
			<label  class="form-label">유통기한*</label> 
			<div class="ms-2 mt-1">
				<label ><input type="radio" id="expireY" name="exp_flag" value="Y"> 사용 &nbsp;</label>
				<label ><input type="radio" id="expireN" name="exp_flag" value="N"> 미사용 </label>
			</div>
		</div>
		<div class="col-md-2">
			<label  class="form-label">제품단가 (원)*</label>
			<input type="text" class="form-control" id="product_cost">
		</div>
	</div>
	
	
	<!-- 부자재 등록일 경우 노출 -->
	<div class="row mb-3" >
		<div class="col-md-3">
			<label class="form-label">거래처코드*</label> 
			<div class="input-group">
	            <input type="text" class="form-control" placeholder="거래처코드" id="cmp_code" readonly>
	            <button type="button" class="btn btn-primary" onclick="pcltListOpen()">
	                <i class="bi bi-search"></i>
	            </button>
	        </div>
		</div>
		<div class="col-md-3">
			<label class="form-label">거래처명*</label> 
			<input type="text" class="form-control" placeholder="거래처명" id="cmp_name" readonly>
		</div>
			<div class="col-md-3">
			<label class="form-label">담당자명*</label> 
			<input type="text" class="form-control" placeholder="담당자명" id="mng_nm" readonly>
		</div>
		<div class="col-md-3">
			<label class="form-label">연락처*</label> 
			<input type="text" class="form-control" placeholder="연락처" id="mng_tel" readonly>
		</div>
	</div>
	 
	
	<div class="row mb-3">
		<label class="form-label">비고</label>
		<textarea class="form-control" rows="2" id="memo"></textarea>
	</div>
	
	
</div>
</div>
<!-- Action Buttons -->
	<div class="d-flex justify-content-end  gap-2 mt-3">
	<button type="button" class="btn btn-primary" onclick="insertItm()"><i class="bi bi-check2-square"></i> 저장</button>
	<button type="reset" class="btn btn-outline-secondary ms-2" onclick="resetBtn()"><i class="bi bi-x-circle"></i> 초기화</button>
	</div>
</div>
<input type="hidden" id="url">
</section>
</main>

<div id="modalContainer"></div>

<footer th:replace="~{/common/footer.html :: footer}"></footer>

</body>
</html>