<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<title>완제품 등록</title>
<body>
<header th:replace="~{/common/header.html :: header}"></header>

<main class="main">
<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>
<section class="container ">
        <!-- Title -->
        <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
        	<h2 class="mb-1">품목 관리</h2>
        </div>

	
	<div class="row align-items-center justify-content-between mt-3">
  <!-- 토글 버튼 영역 -->
  <div class="col-auto  mb-3">
    <div id="list-type" style="border-radius: 15px; border: 1px solid #82CCDD; display: flex; justify-content: space-evenly; width: 350px;">
      <button id="product_list" class="toggle_btns" onclick="toggleButton('product')"  style="background: #82CCDD; color: #fff;">완제품</button>
      <button id="item_list" class="toggle_btns" onclick="toggleButton('item')"  style="background: transparent; color: #000;">부자재</button>
      <button id="consum_list" class="toggle_btns" onclick="toggleButton('consume')"  style="background: transparent; color: #000;">소모품</button>
    </div>
  </div>

  <!-- 검색창 영역 -->
  <div class="col-auto">
    <form class="row g-2 align-items-center">
      <div class="col-auto">
        <div class="input-group input-group-sm">
          <select class="form-select" style="max-width: 120px;">
            <option selected>전체</option>
            <option value="1">발주처명</option>
            <option value="2">담당자</option>
          </select>
          <input type="text" class="form-control" placeholder="검색">
          <button class="btn btn-primary">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


        <!-- 제품 List Table -->
     	<div id="contents_container">
        <div id="table-container" class="table-responsive  rounded" >
            <table class="table align-middle table-bordered text-center" th:classappend="${goods_total != 0} ? 'table-hover' : ''">
                <thead class="table-light" >
                    <tr>
                        <th scope="col"><input type="checkbox" name="all_sel_box" onclick="all_sel()"></th>
                        <th scope="col">#</th>
                        <th scope="col">제품사진</th>
                        <th scope="col">제품코드</th>
                        <th scope="col">제품명</th>
                        <th scope="col">제품유형</th>
                        <th scope="col">대분류</th>
                        <th scope="col">소분류</th>
                        <th scope="col">규격</th>
                        <th scope="col">단위</th>
                        <th scope="col">단가 (원)</th>
                        <th scope="col">판매가 (원)</th>
                        <th scope="col">재고합계</th>
                        <th scope="col">사용</th>
                    </tr>
                </thead>
                <tbody >
                
                	<tr th:if="${goods_total == 0}" >
                		<td class="text-center nogoods_tb" colspan="14" th:text="${no_goods}"></td>
                	</tr>
                	
                    <tr th:if="${goods_total != 0}" th:each="pdlist, idx : ${goods_all_list}" onclick="open_detail(event)"  style="cursor: pointer;">
                        <td onclick="event.stopPropagation()"><input type="checkbox" name="selected_box" class="sb" th:attr="data-idx=${pdlist.PIDX}, data-pdcode=${pdlist.PRODUCT_CODE}" data-type="product"></td>
                        <td > [[${goods_total} - ${idx.index}]]</td>
                        <td><img src=""></td>
                        <td class="pd_code" >[[${pdlist.PRODUCT_CODE}]]</td>
                        <td class="text-start">[[${pdlist.PRODUCT_NAME}]]</td>
                        <td>[[${pdlist.PRODUCT_TYPE}]]</td>
                        <td>[[${pdlist.PRODUCT_CLASS1}]]</td>
                        <td>[[${pdlist.PRODUCT_CLASS2}]]</td>
                         <td>[[${pdlist.PRODUCT_SPEC}]]</td>
                        <td>[[${pdlist.PRODUCT_UNIT}]]</td>
                        <td class="text-end">[[${#numbers.formatInteger(pdlist.PRODUCT_COST,0,'COMMA')}]] </td>
                        <td class="text-end">[[${#numbers.formatInteger(pdlist.PRODUCT_PRICE,0,'COMMA')}]] </td>
                        <td>재고합계</td>
                        <td>[[${pdlist.USE_FLAG}]]</td>
                    </tr>
                </tbody>
            </table>
        </div>
       

      <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
  <!-- Pagination -->
        <div class="mt-4 d-flex justify-content-center" aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item disabled"><a class="page-link" href="#">이전</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">다음</a></li>
            </ul>
        </div>
        <!-- Action Buttons -->
        <div class="mt-4 d-flex gap-2"> 
            <div class="ms-auto">
                <button type="button"  class="btn btn-success" onclick="addBtn()"><i class="bi bi-plus-lg"></i> 추가</button>
                <button class="btn btn-danger"  onclick="deleteBtn()"><i class="bi bi-trash"></i> 삭제</button>
            </div>
        </div>
	</div>
	</div>
    </section>

  
</main>


<div id="modalContainer"></div>
<div id="modalContainer2"></div>
<footer th:replace="~{/common/footer.html :: footer}"></footer>

</body>
</html>