<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<title>MRP 계산</title>
<body>
<header th:replace="~{/common/header.html :: header}"></header>

<main class="main">
<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>
<section class="container">
  <!-- Title -->
  <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
    <h2 class="mb-1">MRP 계산</h2>
  </div>
  <div class="table-responsive rounded">
    <div class="card shadow">
      <div class="card-body">
     <div class="mb-2 fw-semibold">▷ 생산예정 품목 조회</div>
        <form class="row g-3 align-items-center mb-3"  method="get" action="/production_period.do">
		  <div class="col-12 d-flex align-items-center flex-wrap gap-2">
		    <label class="fw-semibold">&nbsp;- 조회 기간 : </label>
		    <input type="date" class="form-control" name="start_date" style="max-width: 150px;"> ~
		    <input type="date" class="form-control" name="end_date" style="max-width: 150px;"> 
	    	<div class="col-auto">
				<div class="input-group input-group-sm">
			        <input type="checkbox" checked disabled> &nbsp;생산계획확정 &nbsp;
			        <input type="checkbox" checked disabled> &nbsp;MRP미완료&nbsp;
				</div>
			</div>
		    <button class="btn btn-outline-primary" type="submit">
		      <i class="bi bi-search"></i>
		    </button>	    
		  </div>
        </form>
        
        <div class="mb-3 d-flex gap-2 align-items-center justify-content-end">
          <button type="button" class="btn btn-warning" id="mrp_calc"><span class="me-1">🔄</span>MRP 계산</button>
        </div>

        <table class="table align-middle table-bordered text-center">
          <thead class="table-light">
            <tr>
              <th style="width:10px;"><input type="checkbox" id="check-all-input"></th>
              <th>#</th>
              <th>생산계획번호</th>
              <th>제품명</th>
              <th>규격</th>
              <th>단위</th>
              <th>수량</th>
              <th>생산일자</th>
              <th>주문업체명</th>
              <th>BOM코드</th>
              <th>소요자재</th>
              <th>작성자</th>
            </tr>
          </thead>
          <tbody>
		    <tr th:each="p, no : ${plans_period}">
		      <td>
		        <input type="checkbox" class="row-checkbox-input"
		               th:data-plan-code="${p.plan_code}"
		               th:data-bom-code="${p.bom_code}"
         			   th:data-product-qty="${p.product_qty}">
		      </td>
		      <td>[[${no.count}]]</td>
		      <td>[[${p.plan_code}]]</td>
		      <td>[[${p.product_name}]]</td>
		      <td>[[${p.product_spec}]]</td>
		      <td>[[${p.product_unit}]]</td>
		      <td>[[${p.product_qty}]]</td>
		      <td>[[${p.due_date.substring(0, 10)}]]</td>
		      <td>[[${p.company_name}]]</td>
		      <td>[[${p.bom_code}]]</td>
		      <!-- case 1: bom_code가 '-'인 경우 -->
		 	  <td th:if="${p.bom_code == '-'}" align="center">
			      [[${p.bom_code}]]
			  </td>
			  <!-- case 2: bom_code가 '-'가 아닌 경우 -->
			  <td th:unless="${p.bom_code == '-'}"
			      align="center"
			      style="cursor: pointer; color: blue;"
			      class="modal-trigger"
			      th:data-modal-url="@{'/bom_items.do?code=' + ${p.bom_code}}"
			      data-modal-id="bom_items">
			      <u>상세보기</u>
			  </td>
		      <td>[[${p.ename}]]</td>
		    </tr>
		  </tbody>
        </table>
      </div>
     </div>
   </div>
   <br>
   <div class="table-responsive rounded">
    <div class="card shadow">
      <div class="card-body">
        <!-- 계산 결과 테이블 -->
        <div class="mb-2 fw-semibold">▷ MRP 계산 결과</div>
        <!-- 버튼 영역 -->
        <div class="mb-3 d-flex gap-2 align-items-center justify-content-end">
		  <button type="button" class="btn btn-info text-white" onclick="calc_save()">
		    <span class="me-1">📄</span> 결과 저장
		  </button>
		  <button type="button" class="btn btn-outline-success" onclick="excel_download()">
		    <span class="me-1">⬇️</span> 다운로드
		  </button>
<!-- 		  <button type="button" class="btn btn-warning"> -->
<!-- 		    <span class="me-1">📦</span> 재고예약화면으로 이동 -->
<!-- 		  </button> -->
		  <button type="button" class="btn btn-warning" onclick="go_purchase()">
		    <span class="me-1">🛒</span> 발주화면으로 이동
		  </button>
		</div>

        <div class="table-responsive">
          <table class="table table-hover  table-bordered align-middle text-center">
            <thead class="table-light">
              <tr>
                <th style="width:20px;"><input type="checkbox" id="check-all-result" checked disabled></th>
                <th style="width:20px;">#</th>
                <th style="width:120px;">자재코드</th>
                <th style="width:120px;">자재명</th>
                <th style="width:120px;">필요수량</th>
                <th style="width:100px;">단위</th>
                <th style="width:100px;">단가</th>
                <th style="width:120px;">전체재고</th>
                <th style="width:120px;">안전재고</th>
<!--                 <th style="width:120px;">예약수량</th> -->
                <th style="width:120px;">가용수량</th>  <!-- 전체수량 - 기예약수량  -->
                <th style="width:120px;">부족수량</th> <!-- 가용수량 - 필요수량  -->
              </tr>
            </thead>
				<tbody id="mrp-result-tbody">
				  <!-- JS로 행이 삽입될 영역 -->
				</tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" id="mrpCodeHidden" name="mrp_code" />
</section>

    </main>
    <footer th:replace="~{/common/footer.html :: footer}"></footer>
</body>
</html>