<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<body>
	<header th:replace="~{/common/header.html :: header}"></header>

	<main class="main">
		<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>


		<div class="container mt-5">
			<h2 class="mb-4">주문 등록</h2>
			
	
			<form>
								
					<!--  주문 완제품 정보 테이블 -->
				<h5 class="mt-4">주문 품목 목록</h5>
				<div class="table-responsive  rounded">
				<table class="table table-bordered align-middle" style="white-space: nowrap;">
					<thead class="table-light">
						<tr class="text-center">
							<th style="width: 1%;">찾기</th>
							<th style="width: 10%;">제품 코드</th>
							<th style="width: 20%;">제품명</th>
							<th style="width: 15%;">대분류</th>
							<th style="width: 15%;">소분류</th>
							<th style="width: 15%;">규격</th>
							<th style="width: 15%;">주문수량</th>
							<th style="width: 10%;">단위</th>
							<th style="width: 10%;">제품단가 (원)</th>
							<th style="width: 10%;">판매가 (원)</th>
							<th style="width: 10%;">삭제</th>
						</tr>
					</thead>
					<tbody id="products">
						<tr>
							<td style="text-align: center; vertical-align: middle;">
								<!-- 
								<button
									class="btn btn-primary d-flex justify-content-center align-items-center"
									type="button" style="width: 40px; height: 40px;">
									<i class="bi bi-search"></i>
								</button> 
								-->
								<button 
									class="btn btn-primary modal-trigger" 
									type="button" th:data-modal-url="@{/temp_products_list.do}" data-modal-id="products_list" style="cursor: pointer;">
        							<i class="bi bi-search"></i>
   								</button>
							</td>
							<td><input type="text" class="form-control" id="product_code"
								placeholder="제품 코드" readonly></td>
							<td><input type="text" class="form-control" id="product_name"
								placeholder="제품명" readonly></td>
							<td><input type="text" class="form-control" id="product_class1"
								placeholder="대분류" readonly></td>
							<td><input type="text" class="form-control" id="product_class2"
								placeholder="소분류" readonly></td>
							<td><input type="number" class="form-control" id="product_spec" min="1"
								placeholder="규격" readonly></td>
							<td><input type="number" class="form-control" min="1"
								placeholder="주문수량"></td>
							<td><select class="form-select">
									<option>ea</option>
									<option>g</option>
									<option>ml</option>
							</select></td>
							<td><input type="text" class="form-control" id="product_cost"
								placeholder="제품단가" readonly></td>
							<td><input type="text" class="form-control" id="product_price"
								placeholder="판매가" readonly></td>
							<td class="text-center">
								<button type="button" class="btn btn-danger btn-sm"
									onclick="removeProductRow(this)">삭제</button>
							</td>
						</tr>
					</tbody>
					<tfoot>
					<tr>
							<td style="text-align: center; vertical-align: middle;"> 계 </td>
							<td colspan="10"></td>
<!-- 							<td></td> -->
<!-- 							<td></td> -->
<!-- 							<td></td> -->
<!-- 							<td></td> -->
<!-- 							<td></td> -->
<!-- 							<td></td> -->
<!-- 							<td></td> -->
<!-- 							<td></td> -->
							
						</tr>
					
					</tfoot>
				</table>
				</div>
				<button type="button" class="btn btn-secondary mb-3"
					onclick="addProductRow()">주문품목 추가</button>
				<div class="d-flex justify-content-end">
					<button type="button" class="btn btn-primary"><i class="bi bi-bookmark-check"></i> 저장</button>
					<button type="reset" class="btn btn-outline-secondary ms-2"><i class="bi bi-x-circle"></i> 초기화</button>
				</div>
			</form>
		</div>
	</main>
	<footer th:replace="~{/common/footer.html :: footer}"></footer>
</body>

</html>