<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{/common/config.html :: config}">
</head>
<title>주문 리스트</title>

<body>
	<header th:replace="~{/common/header.html :: header}"></header>

	<main class="main">
		<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>
		<section class="container ">
			<!-- Title -->
			<div
				class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
				<h2 class="mb-1">주문 관리</h2>
			</div>

			<!-- Search Bar -->
			<form class="row g-2 my-4 justify-content-end" method="get"
				action="/order.do">
				<div class="col-auto">
					<div class="input-group input-group-sm">
						<label><input type="checkbox" name="statuses" value="주문요청">&nbsp;주문요청&nbsp;</label> 
						<label><input type="checkbox" name="statuses" value="주문취소">&nbsp;주문취소&nbsp;</label>  
						<label><input type="checkbox" name="statuses" value="주문확인">&nbsp;주문확인&nbsp; </label> 
						<label><input type="checkbox" name="statuses" value="생산계획수립">&nbsp;생산계획수립&nbsp;</label> 
						<label><input type="checkbox" name="statuses" value="생산계획수립">&nbsp;생산계획확정&nbsp; </label> 
<!-- 						<label><input type="checkbox" name="statuses" value="생산중">&nbsp;생산중&nbsp; </label>  -->
<!-- 						<label><input type="checkbox" name="statuses" value="생산완료">&nbsp;생산완료&nbsp;</label>   -->
<!-- 						<label><input type="checkbox" name="statuses" value="지연중">&nbsp;생산지연&nbsp; </label>  -->
						<label><input type="checkbox" name="statuses" value="출고완료">&nbsp;출고완료&nbsp; </label> 
<!-- 						<label><input type="checkbox" name="statuses" value="반품">&nbsp;반품&nbsp;</label>  -->
					</div>
				</div>
				<div class="col-auto">
					<div class="input-group input-group-sm">
						<input type="text" class="form-control" name="search_word"
							placeholder="제품명/제품코드로 검색">
						<button class="btn btn-primary" >
							<i class="bi bi-search"></i>
						</button>
					</div>
				</div>
			</form>

			<!-- Client List Table -->
			<div class="table-responsive  rounded" th:fragment="ordModalList(parentType,ord_list, mode)" 
					style="width: 100%; overflow-x: auto;">
				<table class="table  align-middle table-bordered text-center" th:classappend="${all.size() != 0} ? 'table-hover' : ''"
					th:fragment="tables"  style="white-space: nowrap;" >
					<thead class="table-light ">
						<tr>
							<th scope="col"><input type="checkbox" disabled></th>
							<th scope="col">#</th>
							<th scope="col">주문번호</th>
							<th scope="col">거래처코드</th>
							<th scope="col">거래처명</th>
							<th scope="col">담당자명</th>
							<th scope="col">거래금액</th>
							<th scope="col">납품예정일</th>
							<th scope="col">주문진행상황</th>
							<th scope="col">등록일</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${all.size() == 0}" >
                			<td class="text-center no_list_tb" colspan="10" > 등록된 주문건이 없습니다. </td>
                		</tr>
                		
						<tr th:each="o : ${all}" class="modal-trigger"
							th:data-modal-url="@{/ordreq_detail.do(code=${o.order_code})}"
							data-modal-id="ord_modal" style="cursor: pointer;">
							<td align="center" onclick="event.stopPropagation();">
									<input th:type="${mode == 'modal'} ? 'radio' : 'checkbox'" name="choice_ord"></td>
							<td>[[${o.oidx}]]</td>
							<td>[[${o.order_code}]]</td>
							<td>[[${o.company_code}]]</td>
							<td>[[${o.company_name}]]</td>
							<td>[[${o.manager_name}]]</td>
							<td align="right">[[${#numbers.formatDecimal(o.pay_amount,
								0, 'COMMA', 0, 'POINT')}]] 원</td>
							<td>[[${o.due_date.substring(0, 10)}]]</td>
							<td th:if="${mode != 'modal'}">[[${o.order_status}]]</td>
							<td th:if="${mode == 'modal'}" th:text="${o.order_status=='생산계획확정' or o.order_status == '생산계획수립'} ? '생산완료' : ${o.order_status}">[[${o.order_status}]]</td>
							<td>[[${o.request_date.substring(0,10)}]]</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
			<div class="d-flex">
				<!-- Pagination -->
				<div class="mt-4 d-flex justify-content-center" aria-label="Page navigation" th:fragment="ordPgList(parentType,ordMode)">
					<ul class="pagination">
						<!-- 이전 블록 -->
						<li class="page-item prev"
							th:classappend="${paging.start_page == 1} ? 'disabled'">
							<!-- 원본페이징 --> <a class="page-link"
							th:if="${ordMode != 'ordPageing'}"
							th:href="@{'/order.do'(page_no=${paging.start_page - 1},
	                            search_word=${condition.search_word},
	                            statuses=${condition.statuses},
                                   page_size=${condition.page_size})}">
								<i class="bi bi-chevron-double-left"></i>
						</a> <!-- 모달페이징 --> <a class="page-link"
							th:if="${ordMode == 'ordPageing'}"
							th:attr="data-keyword=${condition.search_word}, data-pageno=${paging.start_page == 1}, data-pea=${condition.page_size}"
							th:onclick="'ord_modal_pg(this)'"> <i
								class="bi bi-chevron-double-left"></i>
						</a>
						</li>

						<!-- 현재 페이지 블록 -->
						<li class="page-item"
							th:each="i : ${#numbers.sequence(paging.start_page, paging.end_page)}"
							th:classappend="${i == paging.page_no} ? 'active'">
							<!-- 원본페이징 --> <a class="page-link"
							th:if="${ordMode != 'ordPageing'}"
							th:href="@{'/order.do'(page_no=${i},
                                           		search_word=${condition.search_word},
                                           		statuses=${condition.statuses},
                                          			page_size=${condition.page_size})}">
								[[${i}]] </a> <!-- 모달페이징 --> <a class="page-link"
							th:if="${ordMode == 'ordPageing'}"
							th:attr="data-keyword=${condition.search_word}, data-pageno=${i}, data-pea=${condition.page_size}"
							th:onclick="'ord_modal_pg(this)'"> [[${i}]]</a>
						</li>

						<!-- 다음 블록 -->
						<li class="page-item next"
							th:classappend="${paging.end_page >= paging.page_cnt} ? 'disabled'">
							<!-- 원본페이징 --> <a class="page-link"
							th:if="${ordMode != 'ordPageing'}"
							th:href="@{'/order.do'(page_no=${paging.end_page + 1},
                                           					search_word=${condition.search_word},
                                           					statuses=${condition.statuses},
                                           					page_size=${condition.page_size})}">
								<i class="bi bi-chevron-double-right"></i>
						</a> <!-- 모달페이징 --> <a class="page-link"
							th:if="${ordMode == 'ordPageing'}"
							th:attr="data-keyword=${condition.search_word}, data-pageno=${paging.end_page + 1}, data-pea=${condition.page_size}"
							th:onclick="'ord_modal_pg(this)'"> <i
								class="bi bi-chevron-double-right"></i>
						</a>
						</li>
					</ul>
				</div>
				<div>
					<!-- 페이지당 항목 수 선택 -->
					<div class="mt-4 ms-1">
						<select class="form-select" name="post_ea" style="width: auto;"
							th:attr="onchange=${mode == 'modal'} ? 'ordListOpen3(this)' : 'location.href=\'/order.do?page_size=\' + this.value'">
							<option value="5" th:selected="${condition.page_size == 5}">5개씩
								보기</option>
							<option value="10" th:selected="${condition.page_size == 10}">10개씩
								보기</option>
							<option value="15" th:selected="${condition.page_size == 15}">15개씩
								보기</option>
							<option value="20" th:selected="${condition.page_size == 20}">20개씩
								보기</option>
							<option value="25" th:selected="${condition.page_size == 25}">25개씩
								보기</option>
							<option value="30" th:selected="${condition.page_size == 30}">30개씩
								보기</option>
						</select>
					</div>
				</div>
				</div>
				<!-- Action Buttons -->
				<div class="mt-4 d-flex gap-2">
					<div class="ms-auto">
						<button type="button" class="btn btn-success"
							onclick="location.href='/order_insert.do'">
							<i class="bi bi-plus-lg"></i> 수기등록
						</button>
					</div>
				</div>
			</div>

		</section>
	</main>


	<div id="modalContainer"></div>

	<footer th:replace="~{/common/footer.html :: footer}"></footer>

</body>

</html>