<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<title>주문 등록 페이지</title>
<body>
	<header th:replace="~{/common/header.html :: header}"></header>

	<main class="main">
		<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>

		<div class="container mt-5">
			<h2 class="mb-5">주문 등록</h2>
			
			<h5 class="my-4">주문처 정보</h5>
			<div class="row mb-3  ">
					
<!-- 				<div class="form-group col-auto d-flex align-items-end "> -->
				<div class="form-group col-auto ">
				<label class="form-label">거래처코드</label>
<!-- 				<button class="btn btn-primary modal-trigger" type="button" th:data-modal-url="@{/clients_modal.do}" data-modal-id="clients_modal_for_order" style="cursor: pointer;"> -->
<!-- 					<i class="bi bi-search"></i> -->
<!-- 				</button>  -->
				<!--  <button class="btn btn-primary modal-trigger" type="button" onclick="cltListOpen()" style="cursor: pointer;">
					<i class="bi bi-search"></i>
				</button> -->
<!-- 				</div> -->
<!-- 				<div class="form-group" style="flex: 2"> -->
			
					 <div class="input-group">
		            <input type="text" class="form-control" id="company_code" placeholder="거래처코드"  readonly>
		            <button type="button" class="btn btn-primary" th:onclick="cltListOpen('orderPage')" style="cursor: pointer;">
		                <i class="bi bi-search"></i>
		            </button>
		        	</div> 
					
				</div>
				<div class="form-group" style="flex: 2.3">
					<label class="form-label">거래처명</label> 
					<input type="text" class="form-control" id="company_name" placeholder="거래처명" readonly>
				</div>
				<div class="form-group" style="flex: 1.8">
					<label class="form-label">사업자번호</label> 
					<input type="text" class="form-control" id="biz_num" placeholder="사업자번호" readonly>
				</div>
				<div class="form-group" style="flex: 1.5">
					<label class="form-label">담당자코드</label> 
					<input type="text" class="form-control" id="manager_code" placeholder="담당자코드" readonly>
				</div>			
				<div class="form-group" style="flex: 1.5">
					<label class="form-label">담당자명</label> 
					<input type="text" class="form-control" id="manager_name" placeholder="담당자명" readonly>
				</div>
				<div class="form-group" style="flex: 2.0">
					<label class="form-label">연락처</label> 
					<input type="text" class="form-control" id="phone_num" placeholder="연락처" readonly>
				</div>
			</div>
	
	
	<hr class="my-4">
			<form>
				<!--  주문 완제품 정보 테이블 -->
				<h5 class="mt-4">주문 품목 목록</h5>
				<div class="table-responsive  rounded">
				<table class="table table-bordered align-middle" style="white-space: nowrap;">
					<thead class="table-light">
						<tr class="text-center">
							<th style="width: 10%;">제품 코드</th>
							<th style="width: 20%;">제품명</th>
							<th style="width: 15%;">대분류</th>
							<th style="width: 15%;">소분류</th>
							<th style="width: 15%;">규격</th>
							<th style="width: 15%;">주문수량</th>
							<th style="width: 10%;">단위</th>
							<th style="width: 10%;">제품단가 (원)</th>
							<th style="width: 10%;">판매금액 (원)</th>
							<th style="width: 10%;">삭제</th>
						</tr>
					</thead>
					<tbody id="products">
						<tr class="total-delete">
							<td><input type="text" class="form-control" id="product_code"
								placeholder="제품 코드" readonly></td>
							<td><input type="text" class="form-control" id="product_name"
								placeholder="제품명" readonly></td>
							<td><input type="text" class="form-control" id="product_class1"
								placeholder="대분류" readonly></td>
							<td><input type="text" class="form-control" id="product_class2"
								placeholder="소분류" readonly></td>
							<td><input type="text" class="form-control" id="product_spec" min="1"
								placeholder="규격" readonly></td>
							<td><input type="number" class="form-control" min="1"
								placeholder="주문수량"></td>
							<td><input type="text" class="form-control" id="product_unit"  
							    placeholder="단위"readonly></td>
							<td><input type="text" class="form-control" id="product_cost"
								placeholder="제품단가" readonly></td>
							<td><input type="text" class="form-control" id="product_price"
								placeholder="판매금액" readonly></td>
							<td class="text-center">
								<button type="button" class="btn btn-danger btn-sm"
									onclick="removeProductRow(this)">삭제</button>
							</td>
						</tr>
					</tbody>
				</table>
				</div>
<!-- 				<button class="btn btn-primary modal-trigger" type="button" th:data-modal-url="@{/products_modal.do}" data-modal-id="products_modal_for_order" style="cursor: pointer;"> -->
				<button class="btn btn-primary" type="button" onclick="bomListOpen('ordPg_pd')" style="cursor: pointer;">
    				주문종목 찾기
				</button>
				
				<hr class="my-4">
				
				<!-- 추가 정보 입력 필드 영역 시작 -->
				<h5 class="mt-4">기타 정보</h5>
				<table class="table table-bordered align-middle text-center">
				    <thead class="table-light">
				        <tr><th colspan="6">기타 정보</th></tr>
				    </thead>
				    <tbody>
				        <tr>
				            <th>주문 납기일자</th>
				            <td>
				            <input type="date" id="dueDate" name="dueDate" class="form-control">
				            <input type="hidden" id="plan_start_date" >
				            </td>
				            
				            <th >결제 방법</th>
				            <td style="width:150px;">
				                <select id="payMethod" name="payMethod" class="form-select form-control">
				                    <option value="현금결제" selected>현금결제</option>
				                    <option value="신용카드">신용카드</option>
				                    <option value="계좌이체">계좌이체</option>
				                    <option value="외상거래">외상거래</option>
				                </select>
				            </td>
				            <th>주문 담당자</th>
				            <td>
<!-- 				                <div class="input-group empinfo"> -->
<!-- 				                    <input type="hidden" class="form-control" name="ecode" id="ecode" -->
<!-- 							th:value="${session.ecode}" readonly> -->
<!-- 				                    <input type="text" class="form-control" name="ename" id="ename" -->
<!-- 							th:value="${session.ename}" readonly> -->
<!-- 				                    <button type="button" -->
<!-- 							class="btn btn-outline-secondary modal-trigger" -->
<!-- 							th:data-modal-url="@{/emps_modal.do}" data-modal-id="emps_modal" -->
<!-- 							style="cursor: pointer;"><i class="bi bi-search"></i> -->
<!-- 							        </button> -->
<!-- 				                </div> -->
							<div class="d-flex gap-2">
							<div class="col-md-3 mb-3 mb-md-0">
                                <input type="text" class="form-control"  name="ename" th:value="${session.mname}" readonly>
                            </div>
                            <div class="col-md-3 mb-3 mb-md-0">
                                <input type="text" class="form-control" name="ecode" th:value="${session.mid}" readonly>
                            </div>
                            </div>
				            </td>
				        </tr>
				        <tr>
				            <th>메모</th>
				            <td colspan="5">
				                <textarea id="memo" name="memo" rows="3" class="form-control"></textarea>
				            </td>
				        </tr>
				    </tbody>
				</table>
                <!-- 추가 정보 입력 필드 영역 끝 -->
							
				<div class="d-flex justify-content-end">
					<button type="button" class="btn btn-primary" onclick="order_save()"><i class="bi bi-check2-square"></i> 저장</button>
					<button type="reset" class="btn btn-outline-secondary ms-2"><i class="bi bi-x-circle"></i> 초기화</button>
				</div>
			</form>
		</div>
	</main>
	<div id="modalContainer"></div>
	<footer th:replace="~{/common/footer.html :: footer}"></footer>
</body>

</html>