<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<body>
<header th:replace="~{/common/header.html :: header}"></header>

<main class="main">
<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>


<section class="container ">
        <!-- Title -->
        <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
        	<h2 class="mb-1">생산계획 등록</h2>
        
        </div>
        
<div class="d-flex flex-column flex-md-row align-items-md-center justify-content-end me-2">
<button type="button" class="btn-close" aria-label="Close"></button>
</div>

<div class="form-section">
	
     <div class="row justify-content-center">
                    <form class=" ">
                        <div class="row mb-3">
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">제품코드</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="제품코드" readonly>
                                    <button type="button" class="btn btn-outline-secondary">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">제품명</label>
                                <input type="text" class="form-control" placeholder="제품명" readonly>
                            </div>
                              <div class="col-md-3">
                                <label class="form-label fw-semibold">BOM 코드</label>
                                <input type="text" class="form-control" placeholder="BOM 코드" readonly>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label fw-semibold">참조코드</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="예: 주문코드" readonly>
                                    <button type="button" class="btn btn-outline-secondary">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                      
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">계획 생산수량</label>
                                <input type="number" class="form-control" placeholder="예: 1000" required>
                            </div>
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">단위</label>
                                <select class="form-select">
                                    <option>ea</option>
                                    <option>g</option>
                                    <option>ml</option>
                                </select>
                            </div>
                            
                            
                        </div>
                        <div class="row mb-3">
                        
                        
                            <div class="col-md-3">
                                <label class="form-label fw-semibold">우선순위</label>
                                <select class="form-select">
                                    <option>보통</option>
                                    <option>높음</option>
                                    <option>긴급</option>
                                </select>
                            </div>
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">생산시작예정일</label>
                                <input type="date" class="form-control" required>
                            </div>
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">생산완료예정일</label>
                                <input type="date" class="form-control" required>
                            </div>
                            </div>
                            
						
                        <div class="row mb-3">  
                        <!-- 계획수립자 라인 -->
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">작성자</label>
                                <input type="text" class="form-control" value="홍길동" readonly>
                            </div>
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">사원코드</label>
                                <input type="text" class="form-control" value="E123456" readonly>
                            </div>
                        </div>
                           
                           	<!-- 비고 라인 -->
                                 <div class="row">
            
            <div class="col-md-12">
              <label class="form-label">비고</label>
              <textarea class="form-control" rows="2"></textarea>
            </div>
          </div>

                       <!-- Action Buttons -->
							<div class="d-flex justify-content-end  gap-2 mt-4">
							<button type="button" class="btn btn-primary"><i class="bi bi-check2-square"></i> 저장</button>
							<button type="reset" class="btn btn-outline-secondary ms-2">초기화</button>
							</div>
                    </form>
            </div>





</div>

</section>
</main>


<div id="modalContainer"></div>

<footer th:replace="~{/common/footer.html :: footer}"></footer>

</body>
</html>