<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<body>
<header th:replace="~{/common/header.html :: header}"></header>

<main class="main">
<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>


<section class="container ">
        <!-- Title -->
        <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
        	<h2 class="mb-1">생산계획 등록</h2>
        
        </div>
<!--          
<div class="d-flex flex-column flex-md-row align-items-md-center justify-content-end me-2">
<button type="button" class="btn-close" aria-label="Close"></button>
</div>
-->

  <div class="col-auto  mb-3">
    <div id="list-type" style="border-radius: 15px; border: 1px solid #82CCDD; display: flex; justify-content: space-evenly; width: 350px;">
      <button id="order-list" class="toggle_btns" onclick="toggleButton2(1)" style="background: #82CCDD; color: #fff;">주문생산</button>
      <button id="product-list" class="toggle_btns" onclick="toggleButton2(2)"   style="background: transparent; color: #000;">재고생산</button>
    </div>
  </div>
  
<div class="form-section">
	
     <div class="row justify-content-center">
                    <form class=" ">
                        <div class="row mb-3 row1">
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">주문코드</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="order_code" placeholder="주문코드" readonly>
                                    <button type="button" class="btn btn-outline-secondary modal-trigger" 
                                            th:data-modal-url="@{/orders_modal.do}" data-modal-id="orders_modal" style="cursor: pointer;">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">제품코드</label>
                                <input type="text" class="form-control" id="product_code" placeholder="제품코드" readonly>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label fw-semibold">제품명</label>
                                <input type="text" class="form-control" id="" placeholder="제품명" readonly>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label fw-semibold">BOM 코드</label>
                                <input type="text" class="form-control" id="bom_code" placeholder="BOM 코드" readonly>
                            </div>
                        </div>

                        <div class="row mb-3 row2">
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">주문업체명</label>
                                <input type="text" class="form-control" placeholder="주문업체명" readonly>
                            </div>
                      
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">주문수량(생산수량)</label>
                                <input type="number" class="form-control" id="product_qty" placeholder="주문수량" readonly>
                            </div>
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">제품규격</label>
                                <input type="text" class="form-control" placeholder="제품규격" readonly>
                            </div>
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">제품단위</label>
                                <input type="text" class="form-control" placeholder="제품단위" readonly>
                            </div> 
                            
                        </div>
                        
                        <div class="row mb-3 row3">
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">납기일</label>
                                <input type="text" class="form-control" placeholder="납기일" readonly>
                            </div>                    
                            <div class="col-md-3">
                                <label class="form-label fw-semibold">우선순위</label>
                                <select class="form-select" id="priority">
                                    <option>보통</option>
                                    <option>높음</option>
                                    <option>긴급</option>
                                </select>
                            </div>
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">생산시작예정일</label>
                                <input type="date" class="form-control" id="start_date" required>
                            </div>
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">생산완료예정일</label>
                                <input type="date" class="form-control" id="due_date" required>
                            </div>
                        </div>                         
						
                        <!-- 계획수립자 라인 -->
                        <div class="row mb-3 row4 empinfo">  
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">사원코드</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="emp_code" placeholder="사원코드" readonly>
                                    <button type="button" class="btn btn-outline-secondary modal-trigger" 
                                            th:data-modal-url="@{/emps_modal.do}" data-modal-id="emps_modal" style="cursor: pointer;">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3 mb-md-0">
                                <label class="form-label fw-semibold">작성자</label>
                                <input type="text" class="form-control" placeholder="작성자" readonly>
                            </div>
                        </div>      
               	     <!-- 비고 라인 -->
                     <div class="row row5">     
			            <div class="col-md-12">
			              <label class="form-label">비고</label>
			              <textarea class="form-control" rows="2" id="memo"></textarea>
			            </div>
			         </div>
			         
			         <input type="hidden" id="company_code_hidden">

                       <!-- Action Buttons -->
							<div class="d-flex justify-content-end  gap-2 mt-4">
							<button type="button" class="btn btn-primary" onclick="plan_save()"><i class="bi bi-check2-square"></i> 저장</button>
							<button type="reset" class="btn btn-outline-secondary ms-2">초기화</button>
							</div>
                    </form>
            </div>





</div>

</section>
</main>


<div id="modalContainer"></div>

<footer th:replace="~{/common/footer.html :: footer}"></footer>

</body>
</html>