<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<body>
	<header th:replace="~{/common/header.html :: header}"></header>

	<main class="main">
		<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>


		<div class="container mt-5">
			<h2 class="mb-4">발주 등록</h2>
			
			
			<!-- 토글 버튼 영역 -->
			  <div class="col-auto  mb-3">
			    <div id="list-type" style="border-radius: 15px; border: 1px solid #82CCDD; display: flex; justify-content: space-evenly; width: 350px;">
			      <button id="product-list" class="btn-get-started btns" onclick="toggleButton(1)" style="background: #82CCDD; color: #fff; width: 150px;">매입처로 조회</button>
			      <button id="item-list" class="btn-get-started btns" onclick="toggleButton(2)"  style="background: transparent; color: #000; width: 150px;">품목으로 조회</button>
			    </div>
			  </div>
			<form>
				<div class="row mb-3">
				<!--  매입처 정보 테이블 -->
					<div class="col-md-2 mb-2">
						<label for="productName" class="form-label">매입처코드</label>   <!-- 제품코드 -->
						<input type="text" class="form-control" id="productName" readonly>
					</div>
					<div class="col-md-2">
						<label for="productName" class="form-label">매입처명</label>  <!-- 제품명 -->
						<input type="text" class="form-control" id="productName" readonly>
					</div>
					<div class="col-md-2">
						<label for="productName" class="form-label">업종</label> <!-- 대분류 -->
						<input type="text" class="form-control" id="" readonly>
					</div>
					<div class="col-md-2">
						<label for="productName" class="form-label">업태</label> <!-- 소분류 -->
						<input type="text" class="form-control" id="" readonly>
					</div>
					<div class="col-md-2">
						<label for="productName" class="form-label">담당자명</label>  <!-- 제품규격 -->
						<input type="text" class="form-control" id="" readonly>
					</div>
					<div class="col-md-2">
						<label for="productName" class="form-label">담당자코드</label>  <!-- 제품단위 -->
						<input type="text" class="form-control" id="" readonly>
					</div>
					<div class="col-md-2">
						<label for="productName" class="form-label">제품단가</label>  <!-- 제품단가 -->
						<input type="text" class="form-control" id="" readonly>
					</div>
					<div class="col-md-2">
						<label for="productName" class="form-label">판매가</label>  <!-- 판매가 -->
						<input type="text" class="form-control" id="" readonly>
					</div>
					<div class="col-md-6 ">
						<label for="productName" class="form-label">비고</label>  <!-- 비고 -->
						<input type="text" class="form-control"  style="width: 800px;" id="" readonly>
					</div>
					<div class="col-md-2 d-flex align-items-end justify-content-end">
						<button class="btn btn-primary " type="button">
						<i class="bi bi-search"></i>
						</button>
					</div>
				</div>
				
					<!--  주문할 자재 정보 테이블 -->
				<h5 class="mt-4">발주품목 목록</h5>
				<table class="table table-bordered align-middle">
					<thead class="table-light">
						<tr class="text-center">
							<th style="width: 1%;">찾기</th>
							<th style="width: 10%;">자재 코드</th>
							<th style="width: 30%;">자재명</th>
							<th style="width: 10%;">규격</th>
							<th style="width: 10%;">소요수량</th>
							<th style="width: 20%;">단위</th>
							<th style="width: 10%;">삭제</th>
						</tr>
					</thead>
					<tbody id="bomItems">
						<tr>
							<td style="text-align: center; vertical-align: middle;">
								<button
									class="btn btn-primary d-flex justify-content-center align-items-center"
									type="button" style="width: 40px; height: 40px;">
									<i class="bi bi-search"></i>
								</button>
							</td>
							<td><input type="text" class="form-control"
								placeholder="자재 코드" readonly></td>
							<td><input type="text" class="form-control"
								placeholder="자재명" readonly></td>
							<td><input type="number" class="form-control" min="1"
								placeholder="규격" readonly></td>
							<td><input type="number" class="form-control" min="1"
								placeholder="소요수량"></td>
							<td><select class="form-select">
									<option>ea</option>
									<option>g</option>
									<option>ml</option>
							</select></td>
							<td class="text-center">
								<button type="button" class="btn btn-danger btn-sm"
									onclick="removeRow(this)">삭제</button>
							</td>
						</tr>
					</tbody>
				</table>
				<button type="button" class="btn btn-secondary mb-3"
					onclick="addRow()">발주품목 추가</button>
				<div class="d-flex justify-content-end">
					<button type="button" class="btn btn-primary"><i class="bi bi-bookmark-check"></i> 저장</button>
					<button type="reset" class="btn btn-outline-secondary ms-2"><i class="bi bi-x-circle"></i> 초기화</button>
				</div>
			</form>
		</div>
	</main>
	<footer th:replace="~{/common/footer.html :: footer}"></footer>
</body>
</html>