<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{/common/config.html :: config}">
</head>

<body>
	<header th:replace="~{/common/header.html :: header}"></header>

	<main class="main">
		<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>
		<section class="container ">
			<p>사원 코드: <span th:text="${session.emp_code}"></span></p>
			<p>사원명  : <span th:text="${session.emp_name}"></span></p>
		</section>
	</main>


	<div id="modalContainer"></div>

	<footer th:replace="~{/common/footer.html :: footer}"></footer>

</body>

</html>