<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
<header class="header d-flex align-items-center justify-content-between gap-3 px-4" th:fragment="header">
	<div class="logo" onclick="location.href='./main.do'">NoError</div>
	
	<nav class="navbar navbar-expand-lg bg-light">
		<!-- 반응형 : 햄버거 버튼 -->
	  	<button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
	          	aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>
	  	
	  	<!-- 메뉴 영역 (접히는 부분) -->
	  	<div class="collapse navbar-collapse" id="navbarMenu">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle lmenu " role="button"  aria-expanded="false"> 기준정보관리 </a>
				<ul class="dropdown-menu custom-menu">
					<li><a class="dropdown-item" href="./client.do">거래처 관리</a></li>
					<li><a class="dropdown-item" href="./goods.do">품목 관리</a></li>
					<li><a class="dropdown-item" href="./bom.do">BOM 관리</a></li>
					<li><a class="dropdown-item" href="./warehouses_list.do">창고 관리</a></li>
					<li><a class="dropdown-item" href="./employee.do">사용자 관리</a></li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle lmenu" role="button"  aria-expanded="false"> 입출고 관리 </a>
				<ul class="dropdown-menu custom-menu">
					<li><a class="dropdown-item" href="./inbound.do">자재 입고</a></li>
					<li><a class="dropdown-item" href="/outbound_insert.do">제품 출고</a></li>
					<li><a class="dropdown-item" href="./inventory.do">재고 관리</a></li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle lmenu" role="button" aria-expanded="false"> 생산 관리 </a>
				<ul class="dropdown-menu custom-menu">
					<li><a class="dropdown-item" href="./production.do">생산 계획</a></li>
					<li><a class="dropdown-item" href="./production_in.do">생산계획 등록</a></li>
<!-- 					<li><a class="dropdown-item" href="#">생산 실적 관리</a></li> -->
					<li><a class="dropdown-item" href="./mrp.do">MRP 계산</a></li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle lmenu" role="button"  aria-expanded="false"> 구매 영업 관리 </a>
				<ul class="dropdown-menu custom-menu">
					<li><a class="dropdown-item" href="./pchreq_list.do">발주 관리</a></li>
					<li><a class="dropdown-item" href="./order.do">주문 관리</a></li>
				</ul>
			</li>
		</ul>
		</div>
		
	</nav>
	
	<div class="userinfo">
	<th:block >
	<span class="Login_user">
	  [<span th:text="${session.mposi}"></span>] 
	  <span th:text="${session.mname}"></span>
	</span>
	<a href="#contact" class="logout_btn" onclick="mlogOut()">Logout</a>
	</th:block>
	</div>
	
</header>

<div id="modalContainer"></div>
</body>
</html>