<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<body>
	<header th:replace="~{/common/header.html :: header}"></header>

	<main class="main">
		<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>
		<section class="container ">
			<!-- Title -->
			<div
				class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
				<h2 class="mb-1">주문 상세보기</h2>
			</div>
			<div class="table-responsive  rounded">
				<table class="table table-bordered align-middle">
					<thead class="table-light text-center">
						<tr>
							<th class="info-label table-light" colspan="5">주문자정보</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="info-label">회사명</td>
							<td class="value-cell" colspan="4">중앙회사</td>
						</tr>
						<tr>
							<td class="info-label">사업자번호</td>
							<td class="value-cell">102-52-98758</td>
							<td class="info-label">대표자</td>
							<td class="value-cell" colspan="2">김동동</td>
						</tr>
						<tr>
							<td class="info-label">담당자</td>
							<td class="value-cell">박느그</td>
							<td class="info-label">연락처</td>
							<td class="value-cell" colspan="2">010-6333-5555</td>
						</tr>
						<tr>
							<td class="info-label">주소</td>
							<td class="value-cell" colspan="5">서울시 마포구</td>
						</tr>
					</tbody>
				</table>

			</div>

			<div class="table-responsive  rounded">
				<h5 class="">주문정보</h5>
				<table class="table align-middle table-bordered">
					<tr>
						<td class="info-label">주문번호</td>
						<td class="value-cell">ORD-12345</td>
						<td class="info-label">주문상태</td>
						<td class="value-cell">주문확인</td>
					</tr>
					<tr>
						<td class="info-label">주문일자</td>
						<td class="value-cell">2025-05-18</td>
						<td class="info-label">납기요청일</td>
						<td class="value-cell">2025-06-18</td>
					</tr>
					<tr>
						<td class="info-label">결제 금액</td>
						<td class="value-cell">2,500,000 원</td>
						<td class="info-label">결제 수단</td>
						<td class="value-cell">??B2B는 어케계산함? 외상??</td>
					</tr>
				</table>
			</div>

			<!-- 주문항목 List Table -->
			<div class="table-responsive  rounded">
				<h5 class="">주문 제품 내역</h5>
				<table class="table table-hover align-middle table-bordered">
					<thead class="table-light text-center">
						<tr>
							<th scope="col"><input type="checkbox"></th>
							<th scope="col">#</th>
							<th scope="col">제품코드</th>
							<th scope="col">제품명</th>
							<th scope="col">규격</th>
							<th scope="col">단위</th>
							<th scope="col">주문수량</th>
							<th scope="col">대분류</th>
							<th scope="col">소분류</th>
							<th scope="col">저장창고</th>
							<th scope="col">비고</th>
							<th scope="col">주문상태</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="checkbox"></td>
							<td>3</td>
							<td>2589</td>
							<td>오렌지주스</td>
							<td>250ml</td>
							<td>ea</td>
							<td>500</td>
							<td>식품</td>
							<td>식음료</td>
							<td>완제품 1 창고</td>
							<td>비고 없음</td>
							<td>주문접수
						</tr>
						<tr>
							<td><input type="checkbox"></td>
							<td>2</td>
							<td>2580</td>
							<td>사과주스</td>
							<td>250ml</td>
							<td>ea</td>
							<td>100</td>
							<td>식품</td>
							<td>식음료</td>
							<td>완제품 2 창고</td>
							<td>비고 없음</td>
							<td>주문접수</td>
						</tr>
						<tr>
							<td><input type="checkbox"></td>
							<td>1</td>
							<td>2581</td>
							<td>포도주스</td>
							<td>250ml</td>
							<td>ea</td>
							<td>700</td>
							<td>식품</td>
							<td>식음료</td>
							<td>완제품 1 창고</td>
							<td>비고 없음</td>
							<td>주문접수</td>
						</tr>

					</tbody>

				</table>
			</div>
			<div
				class="d-flex flex-column flex-md-row align-items-md-center justify-content-end mb-4">
				<!-- 				Action Buttons -->
				<div class="mt-4 d-flex gap-2">
					<div class="ms-auto">
						<button type="button" class="btn btn-success">
							<i class="bi bi-plus-lg"></i>선택취소
						</button>
						<button class="btn btn-danger">
							<i class="bi bi-trash"></i> 재고확인
						</button>
					</div>
				</div>
			</div>

		</section>
	</main>


	<div id="modalContainer"></div>

	<footer th:replace="~{/common/footer.html :: footer}"></footer>

</body>
</html>