@charset "UTF-8";


/*품목등록*/


label {
  font-weight: 500;
}

.pgnum{
	cursor: pointer;
	
}

.pgnum:active{
	color: white;
	
}

.prev{
	border-radius: 7px 0 0 7px !important;
	
}

.next{
	border-radius: 0 7px 7px 0 !important;
}