@charset "UTF-8";


.custom-modal-width {
  max-width: 80%;
}


ul.list-group {
	display: grid;
	grid-template-columns: 150px 1fr 150px 1fr; /* 4열: 제목, 내용, 제목, 내용 */
	border: 1px solid black;
	border-radius: 15px;
	overflow: hidden;
	padding: 0;
	margin: 20px auto;
	width:100%; /* 넓게 잡음 */
	list-style: none;
}

ul.list-group li {
	padding: 12px 16px;
	box-sizing: border-box;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	display: flex;
	align-items: center;
	background-color: white;
}

/* 홀수번째(제목) 칸 회색 배경 */
ul.list-group li:nth-child(4n+1), ul.list-group li:nth-child(4n+3) {
	background-color: #ccc;
	font-weight: bold;
	border-right: 1px solid black;
/* 	border-left: 1px solid black; */
}

/* 오른쪽 열 칸들 오른쪽 테두리 제거 (2번째, 4번째 열) */
ul.list-group li:nth-child(4n+2), ul.list-group li:nth-child(4n) {
	border-right: none;
}

/* 마지막 두 행 아래 테두리 제거 */
ul.list-group li:nth-last-child(-n+4) {
	border-bottom: none;
}

/* 둥근 모서리 */
ul.list-group li:first-child {
	border-top-left-radius: 15px;
}



ul.list-group li:nth-child(4) {
	border-top-right-radius: 15px;
}

/* 맨 아래 좌우 둥근 모서리 */
ul.list-group li:nth-child(n+21):nth-child(-n+22) {
	border-bottom-left-radius: 15px;
}

ul.list-group li:nth-child(n+23):nth-child(-n+24) {
	border-bottom-right-radius: 15px;
}