<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<body>
	<header th:replace="~{/common/header.html :: header}"></header>

	<main class="main">
		<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>
		<section class="container ">
			<!-- Title -->
			<div
				class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
				<h2 class="mb-1">발주처 관리</h2>
			</div>

			<div class="row align-items-center justify-content-between mt-3">
				<!-- 토글 버튼 영역 -->
				<div class="col-auto  mb-3">
					<div id="list-type"
						style="border-radius: 15px; border: 1px solid #82CCDD; display: flex; justify-content: space-evenly; width: 250px;">
						<button type="button" class="toggle_btns" onclick="clientToggle('client')" style="background: transparent; color: #000;">거래처</button>
						<button type="button" class="toggle_btns" id="corp_type" value="p_client" onclick="clientToggle('p_client')" style="background: #82CCDD; color: #fff;">발주처</button>
					</div>
				</div>

				<!-- 검색창 영역 -->
				<div class="col-auto">
					<div class="col-auto d-flex">
						<form id="frm_word" class="row g-1 align-items-center" onsubmit="return cltSearch()">
							<div class="input-group input-group-sm" style="width: 250px;">
								<input type="text" class="form-control" id="keyword" name="keyword" th:value="${keyword}" placeholder="전체 검색">
								<button class="btn btn-primary"> <i class="bi bi-search"></i> </button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<!-- Client List Table -->
			<div class="table-responsive  rounded" style="width: 100%; overflow-x: auto;" th:fragment="client2List(client_total, client_list, mode)">
				<table class="table table-hover align-middle table-bordered text-center" style="white-space: nowrap;">
					<thead class="table-light">
						<tr>
							<th scope="col"><input th:type="${mode == 'modal'} ? 'radio' : 'checkbox'" disabled></th>
							<th scope="col">#</th>
							<th scope="col">발주처코드</th>
							<th scope="col">발주처명</th>
							<th scope="col">업종</th>
							<th scope="col">업태</th>
							<th scope="col">사업자번호</th>
							<th scope="col">담당자명</th>
							<th scope="col">연락처</th>
							<th scope="col">팩스번호</th>
							<th scope="col">사용여부</th>
							<th scope="col">등록일</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${client_total  == 0}">
							<td class="no_list_tb" colspan="12">등록된 발주처가 없습니다.</td>
						</tr>
						<tr th:if="${client_total != 0}"
							th:each="cltlist, idx : ${client_list}"
							th:onclick="${mode != 'modal'} ? 'openCltDetail(this)' : ''" 
							th:attr="data-idx=${cltlist.CIDX}, data-code=${cltlist.COMPANY_CODE}, data-type='p_client'"
							style="cursor: pointer;">
							<td onclick="event.stopPropagation()">
								<input th:type="${mode == 'modal'} ? 'radio' : 'checkbox'" name="sel_clt2" class="clt2_sb" ></td>
							<td>[[${bno - idx.index}]]</td>
							<td>[[${cltlist.COMPANY_CODE}]]</td>
							<td>[[${cltlist.COMPANY_NAME}]]</td>
							<td>[[${cltlist.BIZ_TYPE}]]</td>
							<td>[[${cltlist.BIZ_ITEM}]]</td>
							<td>[[${cltlist.BIZ_NUM}]]</td>
							<td>[[${cltlist.MANAGER_NAME}]]</td>
							<td>[[${cltlist.MNG_TEL}]]</td>
							<td>[[${cltlist.MNG_FAX}]]</td>
							<td>[[${cltlist.COM_USE_FLAG}]]</td>
							<td>[[${cltlist.COM_INSERT_DATE.substring(0,10)}]]</td>
						</tr>
					</tbody>
				</table>
			</div>


			<div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
				<div class="d-flex">
					<!-- Pagination -->
					<div class="mt-4 d-flex justify-content-center" aria-label="Page navigation"
							th:fragment="client2PgList(mode2)">
						<ul class="pagination">
			                <li class="page-item page-link prev"  
			                	th:classappend="${1 >= pageno} ? 'disabled' : ''"
			                	th:attr="data-pageno=1, data-keyword=${keyword}, data-type='p_client', data-pea=${pageinfo.post_ea}"
								th:onclick="${mode2 == 'clt_pageing'} ? 'cl2_modal_pg(this)' : 'go_clt_pg(this)'">
								<i class="bi bi-chevron-double-left"></i> </li>
								
							<li class="page-item page-link " 
								th:if="${pageinfo.start_pg > 1}"  
			                	th:classappend="${1 >= pageno} ? 'disabled' : ''"
			                	th:attr="data-pageno=${pageinfo.start_pg - 2}, data-keyword=${keyword}, data-type='p_client', data-pea=${pageinfo.post_ea}" onclick="go_clt_pg(this)">
								<i class="bi bi-chevron-left"></i> </li>
								
			                
			                <th:block th:each="pgn : ${#numbers.sequence(pageinfo.start_pg, pageinfo.end_pg)}"  >
			                <li class="page-item page-link pgnum" th:classappend ="${pageno == pgn} ? 'curpg' : ''" 
			                	th:attr="data-keyword=${keyword}, data-pageno=${pgn}, data-type='p_client', data-pea=${pageinfo.post_ea}" 
			                	th:onclick="${mode2 == 'clt_pageing'} ? 'cl2_modal_pg(this)' : 'go_clt_pg(this)'">[[${pgn}]]</li>
			                </th:block>
			                
			                <li class="page-item page-link " 
			                	th:if="${pageinfo.end_pg < pageinfo.page_ea_total}"
			                	th:classappend="${pageno >= pageinfo.page_ea_total} ? 'disabled' : ''" 
			                	th:attr="data-keyword=${keyword}, data-pageno=${pageinfo.end_pg + 2}, data-type='p_client', data-pea=${pageinfo.post_ea}" onclick="go_clt_pg(this)" >
								<i class="bi bi-chevron-right"></i> </li>
								
			                <li class="page-item page-link next" 
			                	th:classappend="${pageno >= pageinfo.page_ea_total} ? 'disabled' : ''" 
			                	th:attr="data-keyword=${keyword}, data-pageno=${pageinfo.page_ea_total}, data-type='p_client',data-pea=${pageinfo.post_ea}"
								th:onclick="${mode2 == 'clt_pageing'} ? 'cl2_modal_pg(this)' : 'go_clt_pg(this)'">
								<i class="bi bi-chevron-double-right"></i> </li>
			            </ul>
					</div>

					<!-- 게시물개수 선택  -->
					<form id="clt_pg_frm">
						<input type="hidden" name="type"> <input type="hidden"
							name="pageno" th:value="${pageno}">
						<div class="mt-4 ms-1">
							<select class="form-select" name="post_ea" onchange="cltPostEa('p_client')">
								<option value="5" th:selected="${pageinfo.post_ea} == '5'">5개씩 보기</option>
								<option value="10" th:selected="${pageinfo.post_ea} == '10'">10개씩 보기</option>
								<option value="15" th:selected="${pageinfo.post_ea} == '15'">15개씩 보기</option>
								<option value="20" th:selected="${pageinfo.post_ea} == '20'">20개씩 보기</option>
								<option value="25" th:selected="${pageinfo.post_ea} == '25'">25개씩 보기</option>
								<option value="30" th:selected="${pageinfo.post_ea} == '30'">30개씩 보기</option>
							</select>
						</div>
					</form>
				</div>



				<!-- Action Buttons -->
				<div class="mt-4 d-flex gap-2">
					<div class="ms-auto">
						<button type="button" class="btn btn-success"
							onclick="addClient()">
							<i class="bi bi-plus-lg"></i> 추가
						</button>
						<button class="btn btn-danger" onclick="deleteClient()">
							<i class="bi bi-trash"></i> 삭제
						</button>
					</div>
				</div>
			</div>

		</section>


	</main>


	<div id="modalContainer"></div>

	<footer th:replace="~{/common/footer.html :: footer}"></footer>

</body>
</html>