<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.noerror.test.TestMapper">

<!-- Oracle : 61521 -->
<select id="oracle_all" resultType="kr.co.noerror.test.TestOracleDTO">
select * from ORACLE_TEST
</select>

<!-- Mysql : 63306  -->
<select id="mysql_all" resultType="kr.co.noerror.test.TestMysqlDTO">
select * from mysql_test
</select>

</mapper>