<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/" class="login_html">
<head th:replace="~{/common/config.html :: config}">
</head>
<body class="login_body">
<!-- <header th:replace="~{/common/header.html :: header}"></header> -->

<main class="index_main">
<section class="center-container">
        
        <div >
            <form>
                <div class="d-flex align-items-end">
                    <div class="flex-grow-1">
                        <div class="mb-2">
                            <input type="text" class="form-control "  placeholder="사원번호를 입력하세요" requierd>
                        </div>
                       
                        <div>
                            <input type="password" class="form-control" id="userPw" placeholder="비밀번호를 입력하세요">
                        </div>
                    </div>
                    <div class="ms-3" style="min-width: 100px;">
                        <button type="submit" class="btn btn-primary w-100" style="height: 85px;">로그인</button>
                    </div>
                </div>
            </form>
            <div class="find-links">
                <a href="#" id="idsearch"> 아이디 찾기 </a>
                <a href="#" id=""> 비밀번호 찾기 </a>
            </div>
        </div>
</section>
</main>


<footer th:replace="~{/common/footer.html :: footer}"></footer>
</body>
</html>