<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{/common/config.html :: config}">
</head>
<body>
	<header th:replace="~{/common/header.html :: header}"></header>

	<main class="main">
		<section th:replace="~{/common/breadcrumb.html :: breadcrumb}"></section>
		<section class="container ">
			<!-- Title -->
			<div
				class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
				<h2 class="mb-1">사원 관리</h2>
			</div>

			<!-- Search Bar -->
			<form class="row g-2 my-4 justify-content-end">
				<div class="col-auto">
					<div class="input-group input-group-sm">
						<select class="form-select" style="max-width: 120px;">
							<option selected>전체</option>
							<option value="1">사원명</option>
							<option value="2">부서</option>
						</select> <input type="text" class="form-control" placeholder="검색">
						<button class="btn btn-primary" type="submit">
							<i class="bi bi-search"></i>
						</button>
					</div>
				</div>
			</form>

			<!-- Client List Table -->
			<div class="table-responsive  rounded">
				<table class="table table-hover align-middle table-bordered">
					<thead class="table-light">
						<tr>
							<th scope="col"><input type="checkbox"></th>
							<th scope="col">번호</th>
							<th scope="col">사원명</th>
							<th scope="col">사원코드</th>
							<th scope="col">부서</th>
							<th scope="col">직급</th>
							<th scope="col">전화번호</th>
							<th scope="col">팩스번호</th>
							<th scope="col">휴대폰번호</th>
							<th scope="col">이메일</th>
							<th scope="col">고용형태</th>
							<th scope="col">근무여부</th>
							<th scope="col">담당업무</th>
						</tr>
					</thead>
					<tbody>
						<tr class="modal-trigger" th:data-modal-url="@{/modals/emp_modal.html}" data-modal-id="emp_modal"  style="cursor: pointer;">	<!-- th:data-key="${warehouse.id}"  -->
							<td><input type="checkbox"></td>
							<td>5</td>
							<td>삼성전자</td>
							<td>010-1234-5678</td>
							<td>hong@samsung.com</td>
							<td>서울특별시 강남구</td>
							<td>-</td>
							<td>4</td>
							<td>홍길동</td>
							<td>010-1234-5678</td>
							<td>hong@samsung.com</td>
							<td>서울특별시 강남구</td>
							<td>서울특별시 강남구</td>
						</tr>
						
					</tbody>
				</table>
			</div>
			<div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-4">
				<!-- Pagination -->
				<div class="mt-4 d-flex justify-content-center"
					aria-label="Page navigation">
					<ul class="pagination">
						<li class="page-item disabled"><a class="page-link" href="#">이전</a></li>
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">다음</a></li>
					</ul>
				</div>
				<!-- 버튼은 사원관리 권한 있는 사원만 보이도록 조절해주세요 -->
				<!-- Action Buttons -->
				<div class="mt-4 d-flex gap-2">
					<div class="ms-auto">
				
						<button type="button" class="btn btn-success">
							<i class="bi bi-plus-lg"></i> 추가
						</button>
						<button class="btn btn-danger">
							<i class="bi bi-trash"></i> 삭제
						</button>
					</div>
				</div>
			</div>

		</section>
	</main>


	<div id="modalContainer"></div>

	<footer th:replace="~{/common/footer.html :: footer}"></footer>

</body>
</html>