<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/" class="login_html">
<head th:replace="~{/common/config.html :: config}">
</head>
<body class="login_body">
<!-- <header th:replace="~{/common/header.html :: header}"></header> -->

<main class="index_main">
<section class="center-container">
        <div class="d-flex justify-content-center mb-4">
        	<h2 class="mb-2 search_title"></h2>
        </div>
        <div style="width:400px;" >
                     <div class="d-flex  justify-content-center">
                    <h5 class="search_title">임시비밀번호  : </h5> <p class="search_title ms-3">gkwhsskQKrcu18</p>
                </div>
                
                <!-- 조회결과가 0일경우  -->
<!--                  <div class="d-flex align-items-center justify-content-center"> -->
<!--                     <h5 class="search_title"> 등록된 사원번호가 없습니다. </h5> -->
<!--                 </div> -->


            <div class="find-links">
            <button type="button" class="btn btn-info " >
                 로그인 하기 
                </button>
<!--                 <a href="#" id=""> 비밀번호 찾기 </a> -->
            </div>
        </div>
</section>
</main>


<footer th:replace="~{/common/footer.html :: footer}"></footer>
</body>
</html>